@import "icons";

//icons start
.icon {
  line-height: 1;
  display: inline-block;
  font-size: inherit;
  &:before {
    display: inline-block;
  }
}

.icon-aj-logo-w {
  @extend %icon-aj-logo-w; }
.icon-aj-logo-w {
  @extend %icon-aj-logo-w; }
.icon-artj-logo {
  @extend %icon-artj-logo; }
.icon-big-left {
  @extend %icon-big-left; }
.icon-big-right {
  @extend %icon-big-right; }
.icon-calendar {
  @extend %icon-calendar; }
.icon-cart {
  @extend %icon-cart; }
.icon-cart2 {
  @extend %icon-cart2; }
.icon-close {
  @extend %icon-close;
  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
  }
}
.icon-delete {
  @extend %icon-delete;
  &:hover,
  &:active,
  &:focus {
    @include anim;
    color: $attention;
    cursor: pointer;
  }
}
.icon-envelope {
  @extend %icon-envelope; }
.icon-fb {
  @extend %icon-fb;  }
.icon-gift {
  @extend %icon-gift; }
.icon-home {
  @extend %icon-home; }
.icon-insta {
  @extend %icon-insta;}
.icon-like {
  @extend %icon-like; }
.icon-mail {
  @extend %icon-mail; }
.icon-menu-button {
  @extend %icon-menu-button; }
.icon-normal_arr {
  @extend %icon-normal_arr; }
.icon-opened_arr {
  @extend %icon-opened_arr; }
.icon-phone {
  @extend %icon-phone; }
.icon-placeholder {
  @extend %icon-placeholder; }
.icon-pointer {
  @extend %icon-pointer; }
.icon-search {
  @extend %icon-search; }
.icon-small-left {
  @extend %icon-small-left; }
.icon-small-right {
  @extend %icon-small-right; }
.icon-user {
  @extend %icon-user; }
.icon-v {
  @extend %icon-v; }
.icon-youtube {
  @extend %icon-youtube; }
.icon-comparison {
  @extend %icon-сomparison; }
.last_selector {
  @extend %last_selector; }
//icons end

// grid start
.container {
  width: 1360px;
  margin-right: auto;
  margin-left: auto;
  @include respond-to(lg-1360){
    width: 1300px;
  }
  @include respond-to(lg-1250){
    width: 1170px;
  }
  @include respond-to(lg-1200){
    width: 970px;
  }
  @include respond-to(md){
    width: 750px;
  }
  @include respond-to(sm){
    width: 690px;
  }
  @include respond-to(xs-690){
    width: 95%;
  }
  @include respond-to(xs){
    width: 350px;
  }
  @include respond-to(xs-370){
    width: 95%;
  }
}
// grid end
html {
  //overflow-x: hidden;
  //@include respond-to(md){
  //  overflow-x: hidden;
  //}
  //overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
// general start
body {
  position: relative;
  @include fr;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 140%;
  color: $text;
  background:$white;
  @include respond-to(tablet-1030){
    position: static;
  }
  @include respond-to(md){
    font-size: 14px;
  }
  &.overflow {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
  }
}

.main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  //min-height: calc(100vh - 153px - 500px); /*100% - header height - footer height*/
  min-height: calc(100vh - 153px); /*100% - header height - footer height*/
  margin-top: 153px;
  @include respond-to(tablet-1030) {
    min-height: calc(100vh - 65px - 666px);
    margin-top: 65px;
  }
  @include respond-to(xs-600) {
    min-height: calc(100vh - 106px - 666px);
    margin-top: 106px;
  }
  &.mt0 {
    margin-top: 0;
  }
  &-page {
    //overflow-x: auto;
  }
}

.wrapper {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  @include respond-to(sm){
    &::-webkit-scrollbar {
      width: 12px;
      background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px $lines;
      background-color: $lines;
    }
  }
}

img {
  opacity: 1;
  @include anim;
}

img[data-src] {
  opacity: 0;
  @include anim;
}

strong,
i {
  margin: 0 5px;
}

.subtitle {
  font-size: 18px;
  line-height: 120%;
  margin: 20px 0;
  @include fm;
  color: $text;
  &:hover,
  &:active,
  &:focus {
    @include anim;
  }
  @include respond-to(lg-1200){
    font-size: 16px;
    line-height: 120%;
  }
}

p {
  font-size: 16px;
  line-height: 21px;
  color: $textGray;
  margin-bottom: 20px;
  @include respond-to(xs-600) {
    font-size: 14px;
    line-height: 16px;
  }
}

ul,
ol {
  padding-left: 20px;
  margin: 40px 0 40px 50px;
  li {
    position: relative;
    color: $textGray;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 140%;
    &:before {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      left: -20px;
      background: $elements;
      border-radius: 50%;
      top: 5px;
      @include respond-to(xs-600) {
        left: -10px;
        width: 7px;
        height: 7px;
      }
    }
    @include respond-to(md) {
      font-size: 14px;
    }
  }
  @include respond-to(xs-600) {
    padding-left: 10px;
    margin: 15px 0 15px 20px;
  }
}
ol {
  counter-reset: myCounter;
  padding-left: 20px;
  li{
    list-style: none;
    position: relative;
    &:before {
      width: auto;
      height: auto;
      position: absolute;
      left: -20px;
      top: 0;
      counter-increment: myCounter;
      content:counter(myCounter);
      color: $text;
      background: transparent;
      display: inline-block;
      text-align: center;
      @include fm;
      font-size: 16px;
      line-height: 21px;
    }
  }
}

h1 {
  font-size: 25px;
  line-height: 29px;
  margin: 30px 0;
  color: $text;
  @include fb;
  &.title {
    @include fb;
    @include respond-to(md){
      font-size: 25px;
      line-height: 120%;
    }
    @include respond-to(sm){
      font-size: 22px;
      line-height: 24px;
    }
  }
  &:first-child {
    margin-top: 0;
  }
}
h2 {
  font-size: 20px;
  line-height: 23px;
  margin: 20px 0;
  color: $text;
  @include fb;
  @include respond-to(md){
    font-size: 18px;
    line-height: 120%;
  }
  &:first-child {
    margin-top: 0;
  }
}
h3 {
  font-size: 18px;
  line-height: 21px;
  margin: 20px 0;
  color: $text;
  @include fb;
  @include respond-to(md){
    font-size: 16px;
    line-height: 120%;
  }
  &:first-child {
    margin-top: 0;
  }
}
h4 {
  font-size: 18px;
  line-height: 21px;
  color: $text;
  margin: 20px 0;
  @include fm;
  @include respond-to(md){
    font-size: 14px;
    line-height: 120%;
    margin: 10px 0;
  }
}
h5 {
  font-size: 16px;
  line-height: 120%;
  color: $text;
  margin: 10px 0;
  @include fb;
}
h6 {
  font-size: 16px;
  line-height: 120%;
  margin: 10px 0;
  color: $text;
  @include fm;
}

a {
  color: $elements;
  @include anim;
  display: inline-block;
  font-size: 16px;
  line-height: 100%;
  &:hover,
  &:active,
  &:focus {
    color: $action;
    @include anim;
  }
  &.small {
    font-size: 12px;
    line-height: 120%;
  }
  &.hide {
    display: none;
  }
}

.label-status {
  display: inline-block;
  color: $white;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 12px;
  background-color: $elements;
  @include fm;
  position: absolute;
  top: -2px;
  left: -1px;
  &_sale {
    background-color: $attention;
  }
  &_top {
    background-color: $elements;
  }
  &_hit {
    background-color: $select;
  }
  &_promotion {
    background-color: $promotion;
  }
  &_new {
    background-color: $text;
  }
  &_order {
    background-color: $mainBannerBG;
  }
  &_discontinued {
    background-color: $darkColor;
  }
}

.card-info .label-link,
.product-item .label-link,
.label-link {
  @include anim;
  color: $textGray;
  font-weight: 600;
  font-size: 25px;
  position: relative;
  display: inline-block;
  &:hover,
  &:active,
  &:focus,
  &.active {
    color: $elements;
    @include anim;
    .icon {
      color: $elements;
    }
  }
  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: $textGray;
    @include anim;
    .value {
      display: none;
    }
    &:hover,
    &:active,
    &:focus {
      @include anim;
      color: $textGray;
    }
  }
}

input, textarea, select {
  width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  background-color: $white;
  border: 1px solid $lines;
  padding: 10px 50px 10px 10px;
  color: $text;
  @include anim;
  @include fr;
  font-size: 14px;
  line-height: 16px;
  &:active,
  &:focus {
    background-color: $grayBG;
    @include anim;
  }
}

textarea {
  min-height: 80px;
}

input[type=number],
input[type=email] {
  -moz-appearance:textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.radio-container {
  margin-bottom: 15px;
  label {
    position: static;
    transform: unset;
    text-transform: none;
    color: $text;
    font-size: 16px;
    line-height: 18px;
  }
  &:hover,
  &:active,
  &:focus {
    @include anim;
    cursor: pointer;
    label {
      @include anim;
      cursor: pointer;
      color: $elements;
    }
    input[type=radio] {
      border: 1px solid $action;
    }
  }
}

input[type=radio] {
  width: 26px;
  height: 26px;
  border: 1px solid $elements;
  padding: 0;
  border-radius: 50%;
  background-color: $white;
  position: relative;
  margin-right: 15px;
  @include anim;
  &:after {
    display: block;
    content: '';
    width: 18px;
    height: 18px;
    background-color: $elements;
    border-radius: 50%;
    padding: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;
    @include anim;
  }
  &:checked {
    @include anim;
    &:after {
      opacity: 1;
      @include anim;
    }
  }
}

.checkbox-wrapper {
  display: block;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    border: none;
    //&:checked + .checkbox:after,
    &.active + .checkbox {
      border: 2px solid $elements;
    }
    &.active + .checkbox:after {
      width: 0;
    }
  }
  label {
    left: 30px;
    color: $darkColor;
    text-transform: unset;
  }
  .checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: $white;
    border: 1px solid $lines;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
    &:before {
      content: "";
      background: url("../../../images/content-icons/check-active.svg") no-repeat 50% 50%;
      background-size: contain;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 0px;
      left: 0px;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      width: 100%;
      height: 100%;
      background-color: $white;
      -webkit-transition: width .3s;
      -o-transition: width .3s;
      transition: width .3s;
    }
  }
}

.input-container {
  position: relative;
  margin-bottom: 40px;
  label {
    &.req {
      &:after {
        content: "*";
        display: inline-block;
        color: $textGray;
      }
    }
  }
  .delete {
    display: none;
    align-items: center;
    justify-content: center;
    color: $attention;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    @include anim;
    @include respond-to(xs-600) {
      right: 20px;
    }
    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
      color: transparentize($attention, 0.5);
      @include anim;
    }
    &:after {
      font-size: 12px;
      line-height: 12px;
      position: absolute;
      font-family:$icon_font_name;
      content:'\E008';
    }
  }
  &.active {
    label {
      @include anim;
      top: calc(50% - 30px);
      left: 0;
    }
    textarea+label {
      top: calc(0% - 20px);
    }
  }
  &.filled {
    label {
      @include anim;
      opacity: 0;
    }
  }
}

label {
  display: inline-block;
  @include anim;
  line-height: 120%;
  @include fr;
  color: $textGray;
  text-transform: capitalize;
  font-size: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

textarea+label {
  transform: unset;
  top: 10px;
}

.text-error {
  opacity: 0;
  font-size: 12px;
  color: $attention;
  position: absolute;
  top: 100%;
  left: 0;
  @include anim;
}

.error {
  position: relative;
  @include anim;
  input,
  textarea {
    @include anim;
  }
  .label {
    color: $attention;
    @include anim;
  }
  .text-error {
    opacity: 1;
    color: $attention;
    @include anim;
  }
  &:after {
    display: none;
    font-family:$icon_font_name;
    content:'\E008';
    color: $attention;
    position: absolute;
    right: 15px;
    top: calc(50%);
    transform: translateY(-50%);
    @include anim;
    @include respond-to(xs-600) {
      right: 20px;
    }
  }
  .delete {
    display: flex;
  }
  &.js_valid_select {
    .dropdown__wrapper {
      border: 1px solid $attention;
      @include anim;
    }
  }
}

.pass {
  position: relative;
  @include anim;
  &:after {
    display: block;
    font-family:$icon_font_name;
    content:'\E01B';
    color: $select;
    position: absolute;
    right: 15px;
    top: calc(50%);
    transform: translateY(-50%);
    @include anim;
    @include respond-to(xs-600) {
      right: 20px;
    }
  }
}

caption {
  @include fm;
  font-size: 12px;
  line-height: 140%;
  &.small {
    @include fr;
    line-height: 120%;
  }
}

.title {
  font-size: 25px;
  line-height: 120%;
  margin: 30px 0;
  text-align: left;
  @include fm;
  color: $text;
  &:hover,
  &:active,
  &:focus {
    @include anim;
  }
  &_center {
    text-align: center;
  }
  @include respond-to(lg-1200){
    font-size: 18px;
    line-height: 120%;
  }
}

.burger {
  cursor: pointer;
  display: inline-block;
  height: 22px;
  span {
    position: relative;
    display: block;
    height: 3px;
    margin-bottom: 6px;
    background: $text;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    clear: both;
    width: 35px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.clicked {
    span {
      background: $text;
      &:nth-child(even) {
        opacity: 0;
      }
      &:nth-child(1) {
        transform: rotate(45deg);
        width: 35px;
        top: 11px;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        top: -7px;
      }
    }
    &:hover {
      span {
        background: $elements;
      }
    }
  }
  &:hover {
    cursor: pointer;
    span {
      background: $elements;
    }
  }
}

.social {
  &-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-item {
    flex-grow: 0;
    .icon {
      width: auto;
      height: auto;
      min-width: 30px;
      border-radius: 50%;
      position: relative;
      color: $textGray;
      @include anim;
      &:hover,
      &:active,
      &:focus {
        @include anim;
        color: $white;
      }
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
      }
    }
  }
}

.slick {
  &-arrow {
    z-index: 5;
    transform: translateY(-50%);
    top: 50%;
    height: 125px;
    width: 30px;
    background-color: transparentize($textGray, 0.6);
    @include anim;
    &:before {
      display: none;
    }
    .icon {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      font-size: 30px;
      color: $white;
      margin: 0;
    }
    &:hover,
    &:active,
    &:focus {
      background-color: transparentize($textGray, 0.4);
      @include anim;
    }
  }
  &-prev {
    left: 0;
  }
  &-next{
     right: 0;
  }
  &-dots {
    bottom: 100px;
    width: auto;
    z-index: 5;
    left: 70px;
    li {
      margin: 0 10px;
      button {
        &:before {
          opacity: 0.6;
          font-size: 40px;
          color: $elements;
          @include anim;
        }
      }
      &.slick-active {
        button {
          &:before {
            opacity: 1;
            font-size: 70px;
            color: $elements;
            @include anim;
          }
        }
      }
      &:before {
        display: none;
      }
    }
    @include respond-to(tablet-1030) {
      left: 30px;
      bottom: 20px;
    }
    @include respond-to(xs-690) {
      left: 50%;
      transform: translateX(-50%);
      bottom: -100px;
    }
  }
}

section {
  margin-bottom: 80px;
  order: 1;
  &.text-content {
    order: 2;
  }
  &.page__header {
    margin-bottom: 30px;
    @include respond-to(sm) {
      margin-bottom: 10px;
    }
  }
  @include respond-to(sm) {
    margin-bottom: 30px;
  }
}

.page {
  &__header {
    &-title {
      margin: 0;
      width: 30%;
      @include respond-to(tablet-1030) {
        width: 100%;
        margin-top: 10px !important;
      }
    }
    &-sort {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .dropdown {
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
          @include respond-to(xs-690) {
            margin-bottom: 0px;
          }
        }
        @include respond-to(xs-690) {
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px;
        }
        &__wrapper {
          @include respond-to(xs-690) {
            width: 100%;
          }
        }
        .select2,
        .select2-container {
          width: auto !important;
          min-width: 70px !important;
        }
        .select2-container--default {
          .select2-selection--single {
            background-color: transparent;
            outline: transparentize($elements, 1);
            border: none;
            .select2-selection__arrow {
              b {
                border-color: $elements transparent transparent;
                @include anim;
              }
            }
            .select2-selection__rendered {
              padding-left: 0;
              color: $elements;
              @include fm;
            }
          }
          &.select2-container--open {
            &.select2-container--below {
              .select2-selection--single,
              .select2-selection--multiple {
                outline: transparentize($elements, 1);
              }
            }
            .select2-selection--single {
              .select2-selection__arrow {
                b {
                  border-color: transparent transparent $elements;
                  @include anim;
                }
              }
            }
          }
        }
      }
      @include respond-to(tablet-1030) {
        margin: 15px 0;
        width: 100%;
        justify-content: flex-start;
      }
      @include respond-to(xs-690) {
        flex-wrap: wrap;
      }
    }
    &-content {
      @include respond-to(tablet-1030){
        border: 1px solid $lines;
        background-color: $grayBG;
      }
    }
    &-filter {
      display: none;
      .reset {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow-x: auto;
        margin-bottom: 15px;
        max-width: 100%;
        &::-webkit-scrollbar {
          width: 3px;
        }
        &::-webkit-scrollbar-track {
          border-radius: 1px;
          -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 1px;
          -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
        }
      }
      @include respond-to(tablet-1030){
        width: 100%;
        display: block;
        .btn {
          display: block;
          margin-right: 10px;
          margin-bottom: 0;
          white-space: nowrap;
          width: auto !important;
          max-width: none;
          overflow: unset;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    &-allert {
      border: 1px solid $elements;
      padding: 20px 100px 20px 25px;
      display: none;
      align-items: center;
      justify-content: space-between;
      position: relative;
      opacity: 0;
      z-index: -1;
      @include anim;
      .icon-v {
        color: $select;
        margin-right: 20px;
      }
      .icon-close {
        position: absolute;
        right: -15px;
        top: -15px;
        background-color: $elements;
        color: $white;
        padding: 5px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include anim;
        &:hover,
        &:active,
        &:focus {
          @include anim;
          background-color: $action;
          cursor: pointer;
        }
      }
      &.active {
        opacity: 1;
        z-index: 1;
        display: flex;
        @include anim;
      }
      @include respond-to(tablet-1030) {
        margin-top: 10px;
      }
    }
    &-wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &-tooltip {
      width: 100%;
      margin: 30px 0 50px;
      font-size: 12px;
      line-height: 14px;
      color: $textGray;
      @include respond-to(xs) {
        margin: 10px 0 15px;
      }
    }
  }
}

.branded-box {
  border: 1px solid $lines;
  border-top: 6px solid $elements;
  padding: 30px;
  @include respond-to(xs-600) {
    padding: 20px;
  }
}

.content {
  &-page {
    article {
      width: calc(70% - 30px);
      flex-grow: 0;
      margin-right: 30px;
      @include respond-to(md) {
        margin-right: 0;
        width: 100%;
      }
    }
    aside {
      width: 30%;
      flex-grow: 1;
      @include respond-to(md) {
        width: 100%;
      }
    }
    &__content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 0;
      @include respond-to(md) {
        flex-wrap: wrap;
      }
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-bottom: 50px;
        @include respond-to(xs-600) {
          margin-bottom: 20px;
        }
      }
      &-aside {
        article {
          width: 100%;
          margin-right: 0;
        }
      }
    }
    &__slider {
      margin-bottom: 0;
    }
    &-wrapper {
      margin-bottom: 0;
    }
    .header {
      img {
        width: auto;
        max-width: 100%;
        height: auto;
      }
    }
  }
}

/* auto-fix-sidebar
 ==========================================================================
 */

#stop-bottom-sidebar,
#stop-top-sidebar {
  width: 100%;
  height: 1px;
  position: absolute;
}

#stop-bottom-sidebar {
  bottom: 0;
}

.auto-fix-sidebar {
  width: 100%;
  &_catalog {
    margin-bottom: 30px;
  }
}

//@media (max-width: 600px) {
//  .auto-fix-sidebar {
//    margin-top: 20px;
//  }
//}

.sidebar-fixed {
  position: fixed;
  bottom: 0;
}
.sidebar-fixed-bottom {
  position: absolute;
  bottom: unset;
}

.sidebar-top {
  position: fixed;
  top: 191px!important;
}
.sidebar-fixed-top {
  position: absolute;
}
//preloader
.preloader {
   position: fixed;
   z-index: 1000;
   width: 100%;
   height: 100vh;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background-color: #F1F1F1;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 1;
   transition: all .3s ease;
 }
.preloader.hide {
  opacity: 0;
  transition: all .3s ease;
}
.preloader.none {
  display: none;
}
.sk-rotating-plane {
  width: 100px;
  height: 100px;
  margin: auto;
  background-color: #23364B;
  animation: sk-rotating-plane 1.2s infinite ease-in-out;
}

@keyframes sk-rotating-plane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.go-to-top,
.card-gallery {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  right: 170px;
  display: none;
  z-index: 200;
  background-color: $text;
  box-shadow: $box-shadow;
  &:before {
    content: '\E019';
    font-size: 25px;
    display: inline-block;
    line-height: 20px;
    color: $white;
    position: absolute;
    z-index: 500;
    top: 50%;
    font-family: "Icons";
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
  }
  @include respond-to(sm) {
    bottom: 40px;
    right: 40px;
  }
}
.card-gallery {
  display: none;
}


//preloader

// general end

