@import "icons";

//icons start
.icon {
  line-height: 1em;
  display: inline-flex;
  font-size: inherit;
  align-items: center;
  justify-content: center;
  &:before {
    display: inline-block;
  }
}

.icon-arr-corner {
  @extend %icon-arr-corner; }
.icon-arrLeft {
  @extend %icon-arrLeft; }
.icon-arrRight {
  @extend %icon-arrRight; }
.icon-bar {
  @extend %icon-bar; }
.icon-car {
  @extend %icon-car; }
.icon-card {
  @extend %icon-card; }
.icon-cart-empty {
  @extend %icon-cart-empty; }
.icon-cart-full {
  @extend %icon-cart-full; }
.icon-check {
  @extend %icon-check; }
.icon-close {
  @extend %icon-close; }
.icon-down {
  @extend %icon-down; }
.icon-left {
  @extend %icon-left; }
.icon-point {
  @extend %icon-point; }
.icon-phone {
  @extend %icon-phone; }
.icon-home {
  @extend %icon-home; }
.icon-right {
  @extend %icon-right; }
.icon-question-full {
  @extend %icon-question-full; }
.icon-question {
  @extend %icon-question; }
.icon-search {
  @extend %icon-search; }
.icon-settings {
  @extend %icon-settings; }
.icon-star-double {
  @extend %icon-star-double; }
.icon-star-full {
  @extend %icon-star-full; }
.icon-star {
  @extend %icon-star; }
.icon-up {
  @extend %icon-up; }
.icon-wishlist-empty {
  @extend %icon-wishlist-empty;
  &.active {
    @extend %icon-wishlist-full;
  }
}
.icon-wishlist-full {
  @extend %icon-wishlist-full; }
.last_selector {
  @extend %last_selector; }

//icons end

// grid start
.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  @include respond-to(lg-1200){
    max-width: 970px;
  }
  @include respond-to(md){
    max-width: 750px;
  }
  @include respond-to(sm){
    max-width: 690px;
  }
  @include respond-to(xs-690){
    max-width: 95%;
  }
  @include respond-to(xs){
    max-width: 350px;
  }
  @include respond-to(xs-360){
    max-width: 85%;
  }
}
// grid end

// general start
html {
  font-size: 16px;
  line-height: 30px;
  color: $text;
  @include fr;
  width: 100%;
  max-width: 100%;
  &.mobile-menu {
    overflow: hidden;
  }
  @include respond-to(sm){
    font-size: 15px;
    line-height: 26px;
  }
}

body {
  position: relative;
  background: $gray1;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  &.overflow {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
  }
}

main,
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: calc(100vh - 570px - 182px);
  overflow-x: hidden;
  background-color: $gray1;
  position: relative;
  z-index: 1;
}

.wrapper {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 3px;
    background-color: $white;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 3px $accent;
    background-color: $accent;
  }
}

img {
  opacity: 1;
  object-fit: contain;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  @include anim;
}

img[data-src] {
  opacity: 0;
  @include anim;
}

strong,
i {
  margin: 0 5px;
}

p {

}

ul,
ol {
  padding-left: 20px;
  margin: 20px 0 40px 10px;
  li {
    position: relative;
    margin-bottom: 20px;
    line-height: 1em;
    &:before {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      left: -20px;
      background: $accent;
      top: 5px;
    }
  }
}
ol {
  counter-reset: myCounter;
  padding-left: 20px;
  li{
    list-style: none;
    position: relative;
    &:before {
      position: absolute;
      counter-increment: myCounter;
      content:counter(myCounter);
      color: $text;
      background: transparent;
      text-align: center;
      left: -30px;
      top: -5px;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.title {
  text-transform: uppercase;
  color: $textDark;
  text-align: left;
  &:hover,
  &:active,
  &:focus {
    @include anim;
  }
  &_center {
    text-align: center;
  }
}
.subtitle {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.4px;
  &-big {
    letter-spacing: 1.6px;
    font-size: 24px;
    line-height: 100%;
  }
  &-small {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.6px;
  }
}
h1,
h2,
h3 {
  &.title {
  &-big {
      font-size: 36px;
      letter-spacing: 3.2px;
      line-height: 38px;
      text-transform: uppercase;
      @include respond-to(lg-1200) {
        font-size: 3vw;
        line-height: 3.2vw;
      }
      @include respond-to(xs) {
        font-size: 20px;
        letter-spacing: 1.4px;
        line-height: 1.2em;
      }
    }
  }
}
h1,
h2 {
  font-size: 30px;
  letter-spacing: 2.8px;
  line-height: 34px;
  margin: 0 0 0.933em;
  text-transform: uppercase;
  @include fb;
  @include respond-to(lg-1200) {
    font-size: 2.8vw;
    line-height: 3vw;
  }
  @include respond-to(lg-1200) {
    font-size: 20px;
    letter-spacing: 1.4px;
    line-height: 1.2em;
    margin: 0 0 16px;
  }
}
h3 {
  font-size: 24px;
  letter-spacing: 2.2px;
  line-height: 28px;
  @include fb;
  @include respond-to(lg-1200) {
    font-size: 2.6vw;
    line-height: 2.8vw;
  }
}
h4 {
  font-size: 20px;
  letter-spacing: 1.8px;
  line-height: 28px;
  @include fb;
  @include respond-to(lg-1200) {
    font-size: 2.4vw;
    line-height: 2.6vw;
  }
}
h5 {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.4px;
  @include fm;
  @include respond-to(lg-1200) {
    font-size: 2.8vw;
    line-height: 3vw;
  }
}
h6 {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 22px;
  @include fb;
  @include respond-to(lg-1200) {
    font-size: 2.2vw;
    line-height: 2.4vw;
  }
}

a {
  line-height: 1.5em;
  letter-spacing: 0.125em;
  display: inline-block;
  cursor: pointer;
  position: relative;
  color: $textDark;
  &:after {
    transform-origin: center;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -4px;
    content: '';
    @include anim;
    left: 50%;
    transform: translateX(-50%);
    background-color: $textDark;
  }
  &:hover,
  &:active,
  &:focus {
    &:after {
      width: 0%;
      @include anim;
    }
  }
  &.reverse {
    &:after {
      width: 0%;
    }
    &:hover,
    &:active,
    &:focus {
      &:after {
        width: 100%;
      }
    }
  }
  &.bold {
    @include fb;
    text-transform: uppercase;
  }
  &.small {
    font-size: 13px;
  }
  &.medium {
    font-size: 24px;
    letter-spacing: 0.091em;
  }
  &.big {
    font-size: 30px;
    letter-spacing: 0.093em;
  }
}

.label-status {
  color: $accent;
  width: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
  @include fb;
  &_new {
    color: $select;
  }
}

.label-link {
  @include anim;
  position: relative;
  display: inline-flex;
  &:hover,
  &:active,
  &:focus {
    color: $elements;
    @include anim;
    .icon {
      color: $elements;
    }
  }
  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: $gray3;
    @include anim;
    .value {
      display: none;
    }
    &:hover,
    &:active,
    &:focus {
      @include anim;
      color: $gray3;
    }
  }
}

input, textarea, select {
  width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $textLight;
  padding: 10px 25px 10px 10px;
  color: $textDark;
  font-size: 16px;
  line-height: 1em;
  @include fr;
  @include anim;
  &::placeholder {
    color: $textLight;
    font-size: 16px;
    line-height: 1em;
  }
  &:hover,
  &:active,
  &:focus {
    @include anim;
    outline: none;
  }
  &:active,
  &:focus {
    border-bottom: 1px solid $textDark;
  }
}

textarea {
  min-height: 70px;
}

button {
  border: none;
}

input[type=number],
input[type=email] {
  -moz-appearance:textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.radio-container {
  margin-bottom: 15px;
  label {
    position: static;
    transform: unset;
    text-transform: none;
    color: $text;
  }
  &:hover,
  &:active,
  &:focus {
    @include anim;
    cursor: pointer;
    label {
      @include anim;
      cursor: pointer;
      color: $elements;
    }
    input[type=radio] {
      border: 2px solid $dark;
    }
  }
}

input[type=radio] {
  width: 20px;
  height: 20px;
  border: 2px solid $textDark;
  padding: 0;
  border-radius: 50%;
  background-color: $white;
  position: relative;
  margin-right: 15px;
  @include anim;
  &:after {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background-color: $textDark;
    border-radius: 50%;
    padding: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;
    @include anim;
  }
  &:checked {
    @include anim;
    &:after {
      opacity: 1;
      @include anim;
    }
  }
}

.checkbox-wrapper {
  display: block;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    border: none;
    &:checked + .checkbox:after,
    &.active + .checkbox {
      border: 2px solid $elements;
    }
    &.active + .checkbox:after {
      width: 0;
    }
  }
  label {
    left: 30px;
    color: $gray3;
    text-transform: unset;
  }
  .checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: $white;
    border: 1px solid $black;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
    &:before {
      content: "";
      background: url("../../../images/content-icons/check-active.svg") no-repeat 50% 50%;
      background-size: contain;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 0px;
      left: 0px;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      width: 100%;
      height: 100%;
      background-color: $white;
      -webkit-transition: width .3s;
      -o-transition: width .3s;
      transition: width .3s;
    }
  }
}

.input-container {
  position: relative;
  margin-bottom: 40px;
  label {
    &.req {
      &:after {
        content: "*";
        display: inline-block;
        color: $text;
      }
    }
  }
  &.active {
    label {
      @include anim;
      top: calc(50% - 30px);
      font-size: 13px;
      left: 10px;
    }
    textarea+label {
      top: calc(0% - 20px);
    }
    input {
      border-bottom: 1px solid $textDark;
    }
  }
  &.filled {
    label {
      font-size: 13px;
      @include anim;
      opacity: 0;
    }
    input {
      border-bottom: 1px solid $textDark;
    }
  }
  &.input-phone {
    label {
      @include anim;
      top: calc(50% - 30px);
      font-size: 13px;
      left: 10px;
    }
  }
  &:after {
    display: block;
    content:'\E009';
    font-family: Icons;
    position: absolute;
    right: 5px;
    top: 50%;
    font-size: 20px;
    line-height: 1em;
    color: $textDark;
    opacity: 0;
    @include anim;
    transform: translateY(-50%);
  }
  &_select {
    margin-bottom: 0;
    &:after {
      content:'\E00B';
    }
    &.pass {
      label {
        @include anim;
        top: calc(50% - 30px);
        font-size: 13px;
        left: 10px;
      }
      &:after {
        display: none;
      }
    }

  }
}

label {
  display: inline-block;
  @include anim;
  line-height: 120%;
  color: $text;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

textarea+label {
  transform: unset;
  top: 10px;
}

.text-error {
  opacity: 0;
  color: $attention;
  position: absolute;
  top: calc(100% + 5px);
  left: 10px;
  font-size: 13px;
  line-height: 14px;
  @include anim;
}

.error {
  position: relative;
  @include anim;
  input,
  textarea {
    @include anim;
    border-bottom: 1px solid $attention !important;
  }
  .label,
  label {
    color: $attention;
    @include anim;
  }
  .text-error {
    opacity: 1;
    color: $attention;
    @include anim;
  }
  .dropdown__wrapper {
    @include anim;
    .select2-container--default .select2-selection--single {
      border-bottom: 1px solid $attention;
    }
  }
}

.pass {
  position: relative;
  @include anim;
  &:after {
    opacity: 1;
    @include anim;
  }
}

caption {
  line-height: 140%;
  &.small {
    line-height: 120%;
  }
}

.total {
  .value {
    margin-right: 5px;
  }
}

.burger {
  cursor: pointer;
  display: inline-block;
  span {
    position: relative;
    display: block;
    height: 3px;
    margin-bottom: 6px;
    background: $black;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    clear: both;
    width: 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.clicked {
    span {
      background: $elements;
      &:nth-child(even) {
        opacity: 0;
      }
      &:nth-child(1) {
        transform: rotate(45deg);
        width: 25px;
        top: 11px;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        top: -7px;
      }
    }
    &:hover {
      span {
        background: $elements;
      }
    }
  }
  &:hover {
    cursor: pointer;
    span {
      background: $elements;
    }
  }
}

table {
  width: 100%;
  caption {
    padding: 10px 5px;
    background-color: $gray2;
    color: transparentize($text, 0.2);
    text-align: left;
  }
  tr {
    color: transparentize($text, 0.2);
    background-color: transparentize($gray2, 0.9);
    border: 1px solid $gray2;
    min-height: 40px;
    text-align: left;
  }
  th {
    border-right: 1px solid $gray3;
  }
  th, td {
    padding: 10px 5px;
    text-align: left;
  }
}

.social {
  &-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  &-item {
    @include fb;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 16px 0 0;
    &:before {
      display: none;
    }
    &:after {
      content: '/';
    }
    a {
      margin-right: 16px;
    }
    &:last-child {
      margin-right: 0;
      a {
        margin-right: 0;
      }
      &:after {
        display: none;
      }
    }
  }
}

.slick-next {
  right: -18px;
  .icon {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
}
.slick-prev {
  left: -15px;
}

.slick {
  &-arrow {
    height: 100%;
    padding: 10px;
    background-color: transparentize($accent, 0.7);
    z-index: 5;
    transform: translateY(-50%);
    top: 50%;
    @include anim;
    &:before {
      display: none;
    }
    .icon {
      position: absolute;
      left: 50%;
      top: 50%;
      margin: 0;
      transform: translate(-50%, -50%) rotate(90deg);
      color: $elements;
      @include anim;
    }
    &:hover,
    &:active,
    &:focus {
      @include anim;
      background-color: transparentize($accent, 0.9);
      .icon {
        color: $attention;
        @include anim;
      }
    }
  }
  &-prev {
    left: 0;
  }
  &-next{
    right: 0;
    .icon {
      transform: translate(-50%, -50%) rotate(-90deg);
    }
  }
  &-dots {
    bottom: 10px;
    width: auto;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    li {
      margin: 0 10px;
      button {
        &:before {
          opacity: 0.6;
          color: $elements;
          @include anim;
        }
      }
      &.slick-active {
        button {
          &:before {
            opacity: 1;
            color: $elements;
            @include anim;
          }
        }
      }
      &:before {
        display: none;
      }
    }
  }
}

section {
  margin: 0 0 160px;
  order: 1;
  &.text-content {
    order: 2;
  }
  &.page__header {
    margin: 12px 0 36px;
    @include respond-to(sm) {
      margin: 24px 0 32px;
    }
  }
  @include respond-to(md) {
    margin: 0 0 65px;
  }
}

.page {
  &__header {
    &-title {
      margin: 0;
      width: 100%;
      color: $black;
    }
    &-search {
      text-align: left;
      margin-bottom: 15px;
    }
    &-sort {
      width: auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .dropdown {
        margin-right: 20px;
        padding: 10px 15px;
        border: 1px solid #EDEDED;
        &:last-child {
          margin-right: 0;
        }
        .select2,
        .select2-container {
          width: auto !important;
          min-width: 70px !important;
        }
        .select2-container--default {
          .select2-selection--single {
            background-color: transparent;
            outline: transparentize($elements, 1);
            border: none;
            .select2-selection__arrow {
              b {
                border-color: $elements transparent transparent;
                @include anim;
              }
            }
            .select2-selection__rendered {
              padding-left: 0;
              color: $textLight;
            }
          }
          &.select2-container--open {
            &.select2-container--below {
              .select2-selection--single,
              .select2-selection--multiple {
                outline: transparentize($elements, 1);
              }
            }
            .select2-selection--single {
              .select2-selection__arrow {
                b {
                  border-color: transparent transparent $elements;
                  @include anim;
                }
              }
            }
          }
        }
      }
    }
    &-allert {
      border: 1px solid $elements;
      padding: 20px 100px 20px 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      opacity: 0;
      z-index: -1;
      @include anim;
      .icon-v {
        color: $accent;
        margin-right: 20px;
      }
      .icon-close {
        position: absolute;
        right: -15px;
        top: -15px;
        background-color: $elements;
        color: $white;
        padding: 5px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include anim;
        &:hover,
        &:active,
        &:focus {
          @include anim;
          background-color: $accent;
          cursor: pointer;
        }
      }
      &.active {
        opacity: 1;
        z-index: 1;
        @include anim;
      }
    }
    &-wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &-tooltip {
      width: 100%;
      margin: 30px 0 50px;
      color: $text;
    }
  }
}

.content {
  &-page {
    article {
      width: calc(70% - 30px);
      flex-grow: 0;
      margin-right: 30px;
    }
    aside {
      width: 30%;
      flex-grow: 1;
    }
    &__content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 0;
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-bottom: 50px;
      }
      &-aside {
        article {
          width: 100%;
          margin-right: 0;
        }
      }
    }
    &__slider {
      margin-bottom: 0;
    }
    .header {
      img {
        width: auto;
        max-width: 100%;
        height: auto;
      }
    }
  }
}

/* auto-fix-sidebar
 ==========================================================================
 */

#stop-bottom-sidebar,
#stop-top-sidebar {
  width: 100%;
  height: 1px;
  position: absolute;
}

#stop-bottom-sidebar {
  bottom: 0;
}

.auto-fix-sidebar {
  width: 100%;
  &_catalog {
    margin-bottom: 30px;
  }
}

.sidebar-fixed {
  position: fixed;
  bottom: 0;
}
.sidebar-fixed-bottom {
  position: absolute;
  bottom: unset;
}

.sidebar-top {
  position: fixed;
  top: 91px!important;
}
.sidebar-fixed-top {
  position: absolute;
}

.close {
  &-container{
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
  .leftright{
    height: 2px;
    width: 20px;
    position: absolute;
    margin-top: 10px;
    background-color: $textDark;
    transform: rotate(45deg);
    @include anim;
  }
  .rightleft{
    height: 2px;
    width: 20px;
    position: absolute;
    margin-top: 10px;
    background-color: $textDark;
    transform: rotate(-45deg);
    @include anim;
  }
  .text{
    color: $dark;
    font-size: .5em;
    text-transform: uppercase;
    @include anim;
    opacity: 0;
    margin: 25px 0 0;
    letter-spacing: 0.3px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: auto;
    display: block;
    line-height: 1em;
  }

  .close-container:hover .leftright{
    transform: rotate(-45deg);
  }
  .close-container:hover .rightleft{
    transform: rotate(45deg);
  }
  .close-container:hover .text{
    opacity: 1;
  }
}

.swiper {
  &-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    &>* {
      @include anim;
      &:hover,
      &:active,
      &:focus {
        @include anim;
        opacity: 0.5;
        outline: none;
        border: none;
      }
    }
  }
  &-wrapper {
    align-items: stretch;
  }
  &-pagination {
    position: static;
    width: auto;
    font-size: 22px;
    line-height: 1em;
    color: $textDark;
    font-weight: 400;
    letter-spacing: 0.4px;
    margin-bottom: 14px;
    span {
      &:before {
        content: '0';
      }
    }
    &-total {
      font-size: 18px;
      line-height: 1em;
      font-weight: 300;
      @include respond-to(xs) {
        font-size: 12px;
      }
    }
    @include respond-to(xs) {
      font-size: 16px;
    }
  }
  &-button {
    &-next,
    &-prev {
      position: static;
      width: auto;
      height: auto;
      margin-bottom: 0;
      z-index: 9;
      &:after {
        font-family: 'Icons';
        font-size: 16px;
        line-height: 16px;
        color: $textDark;
      }
    }
    &-next {
      &:after {
        content:'\E012';
        @include anim;
        transform: translateX(0);
      }
      &:hover {
        &:after {
          @include anim;
          transform: translateX(5px);
        }
      }
    }
    &-prev {
      margin-right: 12px;
      &:after {
        content:'\E00D';
        @include anim;
        transform: translateX(0);
      }
      &:hover {
        &:after {
          @include anim;
          transform: translateX(-5px);
        }
      }
    }
  }
}

.icon-left {
  @include anim;
  transform: translateX(0px);
  &:hover,
  &:active,
  &:focus {
    @include anim;
    transform: translateX(-5px);
  }
}

.icon-right {
  @include anim;
  transform: translateX(0px);
  &:hover,
  &:active,
  &:focus {
    @include anim;
    transform: translateX(5px);
  }
}

#grid {
  column-count: 3;
  width: 100%;
  margin: 0 -10px;
  img {
    margin: 0 10px 20px;
  }
}

// general end