$icon_font_name:"Icons";
@font-face {
	font-family:$icon_font_name;
	src: url('fonts/Icons.eot');
	src: url('fonts/Icons.eot?#iefix') format('eot'),
	url('fonts/Icons.woff') format('woff'),
	url('fonts/Icons.ttf') format('truetype'),
	url('fonts/Icons.svg#Icons') format('svg');
}
%icon-aj-logo-w,
%icon-artj-logo,
%icon-big-left,
%icon-big-right,
%icon-calendar,
%icon-cart,
%icon-cart2,
%icon-close,
%icon-delete,
%icon-envelope,
%icon-fb,
%icon-gift,
%icon-home,
%icon-insta,
%icon-like,
%icon-mail,
%icon-menu-button,
%icon-normal_arr,
%icon-opened_arr,
%icon-phone,
%icon-placeholder,
%icon-pointer,
%icon-search,
%icon-small-left,
%icon-small-right,
%icon-user,
%icon-v,
%icon-youtube,
%icon-сomparison,
%last_selector {
		&:before {
			font-family:$icon_font_name;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-style: normal;
			font-variant: normal;
			font-weight: normal;
			// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
			text-decoration: none;
			text-transform: none;
		}
	}

%icons_before_after {
	&:before,
	&:after {
		font-family: $icon_font_name;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

%icons_after {
	&:after {
		font-family: $icon_font_name;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

%icon-aj-logo-w:before {
	content:'\E001';
}
%icon-artj-logo:before {
	content:'\E002';
}
%icon-big-left:before {
	content:'\E003';
}
%icon-big-right:before {
	content:'\E004';
}
%icon-calendar:before {
	content:'\E005';
}
%icon-cart:before {
	content:'\E006';
}
%icon-cart2:before {
	content:'\E007';
}
%icon-close:before {
	content:'\E008';
}
%icon-delete:before {
	content:'\E009';
}
%icon-envelope:before {
	content:'\E00A';
}
%icon-fb:before {
	content:'\E00B';
}
%icon-gift:before {
	content:'\E00C';
}
%icon-home:before {
	content:'\E00D';
}
%icon-insta:before {
	content:'\E00E';
}
%icon-like:before {
	content:'\E00F';
}
%icon-mail:before {
	content:'\E010';
}
%icon-menu-button:before {
	content:'\E011';
}
%icon-normal_arr:before {
	content:'\E012';
}
%icon-opened_arr:before {
	content:'\E013';
}
%icon-phone:before {
	content:'\E014';
}
%icon-placeholder:before {
	content:'\E015';
}
%icon-pointer:before {
	content:'\E016';
}
%icon-search:before {
	content:'\E017';
}
%icon-small-left:before {
	content:'\E018';
}
%icon-small-right:before {
	content:'\E019';
}
%icon-user:before {
	content:'\E01A';
}
%icon-v:before {
	content:'\E01B';
}
%icon-youtube:before {
	content:'\E01C';
}
%icon-сomparison:before {
	content:'\E01D';
}