/*Variables start*/

/*COLORS start*/
$white: #FFFFFF;
$black: #000000;
$text: #5A5858;
$textDark: #282727;
$textLight: #A0A0A0;
$elements: #CFC6C3;
$accent: #CEB499;
$accent2: #EBE1DD;
$accent3: #8E8174;
$accent4: #F1EFE8;
$accent5: #E8E6DA;
$accent5: #D9C7AA;
$gray1: #F5F5F5;
$gray2: #EFEFEF;
$gray3: #E3E2E2;
$attention: #EB5757;
$select: #27AE60;
$dark: #2F3344;
/*COLORS end*/

/*ANIMATIONS start*/
@mixin anim{
	transition: all .3s ease;
}
@mixin anim5{
	transition: all .5s ease;
}
@mixin anim-linear{
	transition: all .3s linear;
}
@mixin anim-linear{
	transition: all .5s linear;
}
/*ANIMATIONS end*/


/*FONTS start*/
@mixin fblack {
	font-family: 'ProximaNova', sans-serif;
	font-weight: 900;
	font-feature-settings: 'pnum' on, 'lnum' on;
}
@mixin fextra {
	font-family: 'ProximaNova', sans-serif;
	font-weight: 800;
	font-feature-settings: 'pnum' on, 'lnum' on;
}
@mixin fb {
	font-family: 'ProximaNova', sans-serif;
	font-weight: 700;
	font-feature-settings: 'pnum' on, 'lnum' on;
}
@mixin fm {
	font-family: 'ProximaNova', sans-serif;
	font-weight: 600;
	font-feature-settings: 'pnum' on, 'lnum' on;
}
@mixin fr {
	font-family: 'ProximaNova', sans-serif;
	font-weight: 400;
	font-feature-settings: 'pnum' on, 'lnum' on;
}
@mixin fl {
	font-family: 'ProximaNova', sans-serif;
	font-weight: 300;
	font-feature-settings: 'pnum' on, 'lnum' on;
}
/*FONTS end*/


/*=======================START-MEDIA=====================*/
@mixin respond-to($media) {
	@if $media == xs-360 {
		@media only screen and (max-width: 360px) {
			@content;
		}
	}
	@if $media == xs-380 {
		@media only screen and (max-width: 380px) {
			@content;
		}
	}
	@if $media == xs-480 {
		@media only screen and (max-width: 480px) {
			@content;
		}
	}
	@if $media == xs {
		@media only screen and (max-width: 576px) {
			@content;
		}
	}
	@if $media == xs-600 {
		@media only screen and (max-width: 600px) {
			@content;
		}
	} @else if $media == xs-690 {
		@media only screen and (max-width: 691px) {
			@content;
		}
	} @else if $media == sm-767 {
		@media only screen and (max-width: 767px) {
			@content;
		}
	} @else if $media == sm {
		@media only screen and (max-width: 768px) {
			@content;
		}
	} @else if $media == mdMin {
		@media only screen and (min-width: 994px) {
			@content;
		}
	} @else if $media == md {
		@media only screen and (max-width: 993px) {
			@content;
		}
	} @else if $media == tablet {
		@media only screen and (max-width: 1023px) {
			@content;
		}
	} @else if $media == tablet-1030 {
		@media only screen and (max-width: 1030px) {
			@content;
		}
	} @else if $media == max-height-768 {
		@media only screen and (max-height: 768px) {
			@content;
		}
	} @else if $media == lg-1200 {
		@media only screen and (max-width: 1200px) {
			@content;
		}
	} @else if $media == lg-1250 {
		@media only screen and (max-width: 1250px) {
			@content;
		}
	} @else if $media == lg-1360 {
		@media only screen and (max-width: 1367px) {
			@content;
		}
	} @else if $media == lg {
		@media only screen and (max-width: 1560px) {
			@content;
		}
	} @else if $media == lg-1700 {
		@media only screen and (max-width: 1700px) {
			@content;
		}
	} @else if $media == lg-1920 {
		@media only screen and (max-width: 1919px) {
			@content;
		}
	}
}
/*=======================END-MEDIA=====================*/

/*Variables end*/