/*Variables start*/

/*COLORS start*/
$white: #FFFFFF;
$grayBG: #F1F1F1;
$grayBG2: #FCFCFC;
$lines: #E2E3E7;
$darkColor: #2D2E35;
$text: #23364B;
$textGray: #717C89;
$elements: #394791;
$action: #2F80ED;
$attention: #EB5757;
$select: #4AAC4E;
$promotion: #FFBC00;
$mainBannerBG: #309CFF;
/*COLORS end*/

/*ANIMATIONS start*/
@mixin anim{
	transition: all .3s ease;
}
@mixin anim-linear{
	transition: all .3s linear;
}
/*ANIMATIONS end*/

/*SHADOWS start*/
$box-shadow-none: 0px 0px 0px rgba(0, 0, 0, 1);
$box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.28);
/*SHADOWS end*/


/*FONTS start*/
@mixin fr {
	font-family: 'GothamPro', sans-serif;
	font-weight: 400;
}
@mixin fm {
	font-family: 'GothamPro', sans-serif;
	font-weight: 500;
}
@mixin fb {
	font-family: 'GothamPro', sans-serif;
	font-weight: 700;
}
/*FONTS end*/


/*=======================START-MEDIA=====================*/
@mixin respond-to($media) {
	@if $media == xs-340 {
		@media only screen and (max-width: 340px) {
			@content;
		}
	}
	@if $media == xs-370 {
		@media only screen and (max-width: 375px) {
			@content;
		}
	}
	@if $media == xs-480 {
		@media only screen and (max-width: 480px) {
			@content;
		}
	}
	@if $media == xs {
		@media only screen and (max-width: 576px) {
			@content;
		}
	}
	@if $media == xs-600 {
		@media only screen and (max-width: 600px) {
			@content;
		}
	} @else if $media == xs-690 {
		@media only screen and (max-width: 691px) {
			@content;
		}
	} @else if $media == max-height-420 {
		@media only screen and (max-height: 420px) {
			@content;
		}
	} @else if $media == sm-767 {
		@media only screen and (max-width: 767px) {
			@content;
		}
	} @else if $media == sm {
		@media only screen and (max-width: 768px) {
			@content;
		}
	} @else if $media == md {
		@media only screen and (max-width: 993px) {
			@content;
		}
	} @else if $media == tablet {
		@media only screen and (max-width: 1023px) {
			@content;
		}
	} @else if $media == tablet-1030 {
		@media only screen and (max-width: 1030px) {
			@content;
		}
	} @else if $media == max-height-768 {
		@media only screen and (max-height: 768px) {
			@content;
		}
	} @else if $media == lg-1200 {
		@media only screen and (max-width: 1200px) {
			@content;
		}
	} @else if $media == lg-1250 {
		@media only screen and (max-width: 1250px) {
			@content;
		}
	} @else if $media == lg-1360 {
		@media only screen and (max-width: 1367px) {
			@content;
		}
	} @else if $media == lg {
		@media only screen and (max-width: 1560px) {
			@content;
		}
	} @else if $media == lg-1700 {
		@media only screen and (max-width: 1700px) {
			@content;
		}
	}
}
/*=======================END-MEDIA=====================*/

/*Variables end*/

