
<section class="about__content">
  <div class="about__content-image"><img data-src="images/about/main-about.jpg"/></div>
  <div class="about__content-text">
    <article>
      <h4>Уважаемый покупатель!</h4>
      <p>Фирменный специализированный интернет-магазин<a href="https://liebherr-ua.com/" target="_blank">LIEBHERR-bt</a>предлагает весь ассортимент моделей морозильного и холодильного оборудования торговой марки LIEBHERR.</p>
      <p>Наш интернет-магазин реализует исключительно официально ввозимую технику с всеукраинской гарантией и последующим сервисным обслуживанием.</p>
      <p>
        Мы являемся официальным дилером представительства LIEBHERR в Украине уже более 12 лет. Среди наших клиентов предприятия торговли, рестораны, отели, частные потребители и.т.д.
        
      </p>
    </article><img data-src="images/about/certification.jpg"/>
  </div>
</section>