
<section class="about__dates">
  <h3 class="about__dates-title">Ключевые даты:</h3>
  <ul class="about__dates-list">
    <li class="about__dates-li"><span class="about__dates-date">1949</span><span class="about__dates-event">Основание компании Liebherr амбициозным инженером Гансом Либхерром</span></li>
    <li class="about__dates-li"><span class="about__dates-date">1949</span><span class="about__dates-event">Выставка «Mustermesse» во Франкфурте-на-Майне - Гран При за башенный поворотный кран</span></li>
    <li class="about__dates-li"><span class="about__dates-date">1954</span><span class="about__dates-event">Основание отделения по производству холодильной техники Liebherr, строительство завода в Оксенхаузене (Германия)</span></li>
    <li class="about__dates-li"><span class="about__dates-date">1964</span><span class="about__dates-event">Ганс Либхерр получает степень доктора наук за выдающийся вклад в области строительной техники</span></li>
    <li class="about__dates-li"><span class="about__dates-date">1970</span><span class="about__dates-event">Компания начинает разрабатывать и производить авиационное оборудование</span></li>
    <li class="about__dates-li"><span class="about__dates-date">1980</span><span class="about__dates-event">Строительство завода в Лиенце (Австрия)</span></li>
    <li class="about__dates-li"><span class="about__dates-date">1983</span><span class="about__dates-event">Основана управляющая холдинговая компания Liebherr-International AG в Швейцарии</span></li>
    <li class="about__dates-li"><span class="about__dates-date">1993</span><span class="about__dates-event">Отказ от использования хлор и фторсодержащих озоноразрущающих материалов при производстве холодильного оборудования</span></li>
    <li class="about__dates-li"><span class="about__dates-date">1993</span><span class="about__dates-event">Второе поколение Liebherr берет на себя управление семейным предприятием - Изольда Либхерр и Вилли Либхерр</span></li>
    <li class="about__dates-li"><span class="about__dates-date">1997</span><span class="about__dates-event">Выход на рынок России и стран СНГ</span></li>
    <li class="about__dates-li"><span class="about__dates-date">2000</span><span class="about__dates-event">Компания устанавливает завод холодильного оборудования в Марице (Болгария)</span></li>
  </ul>
</section>