
<section class="about__founder">
  <div class="about__founder-wrapper">
    <div class="about__founder-image"><img data-src="images/about/founder.jpg"/></div>
    <div class="about__founder-text">
      <p><strong>Ганс Либхерр</strong>(Hans Liebherr) - основатель компани Liebherr. На сегодняшний день холдинговая компания Liebherr-International AG в Бюлле (Швейцария)  управляет второе поколение семьи<strong>Изольда Либхерр</strong>(Isolde Liebherr) и<strong>Вилли Либхерр</strong>(Willi Liebherr)</p>
    </div>
  </div>
</section>