
<section class="about__gallery">
  <div class="gallery">
    <div style="background-image:url(images/about/galery2.jpg); " class="imgWrap">
      <div class="full-content">
        <!-- Image Gallery Begins-->
        <div class="images">
          <ul class="gallery">
            <li><a href="images/about/galery1.jpg" class="with-caption image-link"><img data-src="images/about/galery1.jpg"/></a></li>
            <li><a href="images/about/galery2.jpg" class="with-caption image-link"><img data-src="images/about/galery2.jpg"/></a></li>
            <li><a href="images/about/galery3.jpg" class="with-caption image-link"><img data-src="images/about/galery3.jpg"/></a></li>
            <li><a href="images/about/galery4.jpg" class="with-caption image-link"><img data-src="images/about/galery4.jpg"/></a></li>
            <li><a href="images/about/about/main-about.jpg" class="with-caption image-link"><img data-src="images/about/main-about.jpg"/></a></li>
            <li><a href="images/about/about/galery5.jpg" class="with-caption image-link"><img data-src="images/about/galery5.jpg"/></a></li>
          </ul>
          <!-- Image Gallery Ends-->
        </div>
      </div>
    </div>
    <!-- .imgWrap-->
    <div style="background-image:url(images/about/galery3.jpg);" class="imgWrap">
      <div class="full-content">
        <div class="images">
          <ul class="gallery">
            <li><a href="images/banners/banner-img0.png" class="with-caption image-link"><img data-src="images/banners/banner-img0.png"/></a></li>
            <li><a href="images/banners/bg-vertical.jpg" class="with-caption image-link"><img data-src="images/banners/bg-vertical.jpg"/></a></li>
            <li><a href="images/banners/image1.jpg" class="with-caption image-link"><img data-src="images/banners/image1.jpg"/></a></li>
            <li><a href="images/banners/image2.jpg" class="with-caption image-link"><img data-src="images/banners/image2.jpg"/></a></li>
            <li><a href="images/about/image3.jpg" class="with-caption image-link"><img data-src="images/about/image3.jpg"/></a></li>
            <li><a href="images/about/image4.jpg" class="with-caption image-link"><img data-src="images/about/image4.jpg"/></a></li>
            <li><a href="images/about/main_news.jpg" class="with-caption image-link"><img data-src="images/about/main_news.jpg"/></a></li>
          </ul>
          <!-- Image Gallery Ends-->
        </div>
      </div>
    </div>
    <div style="background-image:url(images/about/galery1.jpg);" class="imgWrap">
      <div class="full-content">
        <div class="images">
          <ul class="gallery">
            <li><a href="images/banners/image5.jpg" class="with-caption image-link"><img data-src="images/banners/image5.jpg"/></a></li>
            <li><a href="images/banners/image6.jpg" class="with-caption image-link"><img data-src="images/banners/image6.jpg"/></a></li>
            <li><a href="images/banners/image7.jpg" class="with-caption image-link"><img data-src="images/banners/image7.jpg"/></a></li>
            <li><a href="images/banners/image8.jpg" class="with-caption image-link"><img data-src="images/banners/image8.jpg"/></a></li>
            <li><a href="images/banners/image9.jpg" class="with-caption image-link"><img data-src="images/banners/image9.jpg"/></a></li>
            <li><a href="images/banners/image10.jpg" class="with-caption image-link"><img data-src="images/banners/image10.jpg"/></a></li>
            <li><a href="images/banners/image11.jpg" class="with-caption image-link"><img data-src="images/banners/image11.jpg"/></a></li>
            <li><a href="images/banners/image12.jpg" class="with-caption image-link"><img data-src="images/banners/image12.jpg"/></a></li>
          </ul>
          <!-- Image Gallery Ends-->
        </div>
      </div>
    </div>
    <div style="background-image:url(images/about/galery5.jpg);" class="imgWrap">
      <div class="full-content">
        <div class="images">
          <ul class="gallery">
            <li><a href="images/catalog/image0.jpg" class="with-caption image-link"><img data-src="images/catalog/image0.jpg"/></a></li>
            <li><a href="images/catalog/image1.jpg" class="with-caption image-link"><img data-src="images/catalog/image1.jpg"/></a></li>
            <li><a href="images/catalog/image2.jpg" class="with-caption image-link"><img data-src="images/catalog/image2.jpg"/></a></li>
            <li><a href="images/catalog/image3.jpg" class="with-caption image-link"><img data-src="images/catalog/image3.jpg"/></a></li>
            <li><a href="images/catalog/image4.jpg" class="with-caption image-link"><img data-src="images/catalog/image4.jpg"/></a></li>
            <li><a href="images/catalog/image5.jpg" class="with-caption image-link"><img data-src="images/catalog/image5.jpg"/></a></li>
            <li><a href="images/catalog/image6.jpg" class="with-caption image-link"><img data-src="images/catalog/image6.jpg"/></a></li>
            <li><a href="images/catalog/image7.jpg" class="with-caption image-link"><img data-src="images/catalog/image7.jpg"/></a></li>
          </ul>
          <!-- Image Gallery Ends-->
        </div>
      </div>
    </div>
    <div style="background-image:url(images/about/galery4.jpg);" class="imgWrap">
      <div class="full-content">
        <div class="images">
          <ul class="gallery">
            <li><a href="images/catalog/image8.jpg" class="with-caption image-link"><img data-src="images/catalog/image8.jpg"/></a></li>
            <li><a href="images/catalog/image9.jpg" class="with-caption image-link"><img data-src="images/catalog/image9.jpg"/></a></li>
            <li><a href="images/catalog/image10.jpg" class="with-caption image-link"><img data-src="images/catalog/image10.jpg"/></a></li>
            <li><a href="images/catalog/image11.jpg" class="with-caption image-link"><img data-src="images/catalog/image11.jpg"/></a></li>
            <li><a href="images/catalog/image12.jpg" class="with-caption image-link"><img data-src="images/catalog/image12.jpg"/></a></li>
            <li><a href="images/catalog/image13.jpg" class="with-caption image-link"><img data-src="images/catalog/image13.jpg"/></a></li>
            <li><a href="images/catalog/image14.jpg" class="with-caption image-link"><img data-src="images/catalog/image14.jpg"/></a></li>
            <li><a href="images/catalog/image15.jpg" class="with-caption image-link"><img data-src="images/catalog/image15.jpg"/></a></li>
            <li><a href="images/catalog/item-image1.jpg" class="with-caption image-link"><img data-src="images/catalog/item-image1.jpg"/></a></li>
            <li><a href="images/catalog/item-image2.jpg" class="with-caption image-link"><img data-src="images/catalog/item-image2.jpg"/></a></li>
            <li><a href="images/catalog/item-image3.jpg" class="with-caption image-link"><img data-src="images/catalog/item-image3.jpg"/></a></li>
            <li><a href="images/catalog/item-image4.jpg" class="with-caption image-link"><img data-src="images/catalog/item-image4.jpg"/></a></li>
            <li><a href="images/catalog/item-image5.jpg" class="with-caption image-link"><img data-src="images/catalog/item-image5.jpg"/></a></li>
            <li><a href="images/catalog/item-image6.jpg" class="with-caption image-link"><img data-src="images/catalog/item-image6.jpg"/></a></li>
            <li><a href="images/catalog/item-image7.jpg" class="with-caption image-link"><img data-src="images/catalog/item-image7.jpg"/></a></li>
          </ul>
          <!-- Image Gallery Ends-->
        </div>
      </div>
    </div>
  </div>
  <div id="close" title="Close (Esc)" class="mfp-close">×</div>
</section>