
<section class="about__products">
  <div class="about__products-text">
    <h2>Продукция</h2>
    <p>Шагая со временем, Liebherr оптимистически смотрит в будущее. Компания продолжает развивать нынешние отрасли своего бинеса, инвестировав в ряд новых оздоровительных отелей Либхерр в Австрии, предприятий в области машиностроения во всем мире</p>
  </div>
  <div class="about__products-categories"><a href="/l-ua/subcategory.html" class="about__products-categories-item">
      <div class="about__products-categories-item-image"><img data-src="images/about/galery3.jpg"/></div>
      <div class="about__products-categories-item-title">
        <h5>Холодильники, морозильные камеры</h5>
      </div></a><a href="/l-ua/subcategory.html" class="about__products-categories-item">
      <div class="about__products-categories-item-image"><img data-src="images/about/galery4.jpg"/></div>
      <div class="about__products-categories-item-title">
        <h5>Винные шкафы, хьюмидор</h5>
      </div></a><a href="/l-ua/subcategory.html" class="about__products-categories-item">
      <div class="about__products-categories-item-image"><img data-src="images/about/galery5.jpg"/></div>
      <div class="about__products-categories-item-title">
        <h5>Профессиональное оборудование</h5>
      </div></a><a href="/l-ua/subcategory.html" class="about__products-categories-item">
      <div class="about__products-categories-item-image"><img data-src="images/about/galery2.jpg"/></div>
      <div class="about__products-categories-item-title">
        <h5>Аксессуары</h5>
      </div></a><a href="/l-ua/subcategory.html" class="about__products-categories-item">
      <div class="about__products-categories-item-image"><img data-src="images/about/galery5.jpg"/></div>
      <div class="about__products-categories-item-title">
        <h5>Прочая бытовая техника</h5>
      </div></a></div>
</section>