
<section class="about__slider js-about-slider">
  <div class="about__slider-item">
    <div class="about__slider-image"><img data-src="images/about/about.jpg"/></div>
    <div class="about__slider-text">
      <h4>Liebherr-International AG - управляющая холдинговая компания в  Бюлле  (Bullet)  Швейцария</h4>
      <p>Шагая со временем, Liebherr оптимистически смотрит в будущее. Компания продолжает развивать нынешние отрасли своего бинеса, инвестировав в ряд новых оздоровительных отелей Либхерр в Австрии, предприятий в области машиностроения во всем мире</p>
    </div>
  </div>
  <div class="about__slider-item">
    <div class="about__slider-image"><img data-src="images/about/galery1.jpg"/></div>
    <div class="about__slider-text">
      <h4>Уважаемый покупатель!</h4>
      <p>Фирменный специализированный интернет-магазин<a href="https://liebherr-ua.com/" target="_blank">LIEBHERR-bt</a>предлагает весь ассортимент моделей морозильного и холодильного оборудования торговой марки LIEBHERR.</p>
      <p>Наш интернет-магазин реализует исключительно официально ввозимую технику с всеукраинской гарантией и последующим сервисным обслуживанием.</p>
      <p>Мы являемся официальным дилером представительства LIEBHERR в Украине уже более 12 лет. Среди наших клиентов предприятия торговли, рестораны, отели, частные потребители и.т.д.</p>
    </div>
  </div>
  <div class="about__slider-item">
    <div class="about__slider-image"><img data-src="images/about/galery4.jpg"/></div>
    <div class="about__slider-text">
      <h4>ООО «Грайф Флексиблс Украина» успешно прошло сертификацию по новой версии Стандарта ISO 9001.</h4>
      <p>Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции требуют от нас анализа систем массового участия. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач</p>
    </div>
  </div>
</section>