
<div class="basket-sidebar">
  <div class="basket-sidebar__item"><span class="title">Стоимость</span><span class="value">25 044 010</span><span class="currency">грн</span></div>
  <div class="basket-sidebar__item"><span class="title">Скидка</span><span class="value">44 010</span><span class="currency">грн</span></div>
  <div class="basket-sidebar__item basket-sidebar__final"><span class="title">К оплате</span><span class="value">25 000 000</span><span class="currency">грн</span></div>
  <button type="submit" class="btn btn_buy"><span>Оформить заказ</span></button><a href="/l-ua/catalog.html" class="btn btn-link btn-basket-more"><span>Продолжить покупки</span></a>
  <button type="submit" class="btn btn-link btn-basket-edit" data-target="cart-in"><span>Редактировать заказ</span></button>
</div>