
<div class="cart__slider">
  <div class="subtitle cart__slider-title">Выберете подарок к вашему заказу</div>
  <div class="cart__slider-grid">
    <!--+product-item(img, itemTitle, price, priceOld, classItem, vendor, label, classLabel, btnClass)-->
    <!--+product-item(img, itemTitle, price, priceOld, classItem, vendor, label, classLabel, btnClass)-->
    <!--+product-item(img, itemTitle, price, priceOld, classItem, vendor, label, classLabel, btnClass)-->
    <!--+product-item(img, itemTitle, price, priceOld, classItem, vendor, label, classLabel, btnClass)-->
    <!--+product-item(img, itemTitle, price, priceOld, classItem, vendor, label, classLabel, btnClass)-->
    <!--+product-item(img, itemTitle, price, priceOld, classItem, vendor, label, classLabel, btnClass)-->
    <!--+product-item(img, itemTitle, price, priceOld, classItem, vendor, label, classLabel, btnClass)-->
    <!--+product-item(img, itemTitle, price, priceOld, classItem, vendor, label, classLabel, btnClass)-->
  </div>
</div>