.faq {
  &-form {
    margin-bottom: 0;
    background-position: 50% 10% !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    order: 3;
    &__wrapper {
      padding: 80px;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      @include respond-to(sm) {
        flex-wrap: wrap;
      }
      @include respond-to(xs-690) {
        padding: 80px 20px;
      }
      @include respond-to(xs) {
        padding: 30px 20px;
      }
    }
    &__content {
      width: calc(40% - 70px);
      margin-right: 70px;
      .subtitle,
      .title {
        color: $white;
        @include fb;
      }
      @include respond-to(sm) {
        width: 100%;
        margin-right: 0;
      }
    }
    &__form {
      width: 60%;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      flex-wrap: wrap;
      .input-container {
        width: 100%;
        &:nth-child(1),
        &:nth-child(2){
          width: calc(50% - 20px);
        }
        @include respond-to(xs-690) {
          &:nth-child(1),
          &:nth-child(2){
            width: 100%;
          }
        }
      }
      .btn {
        background: $attention;
        background-color: $attention;
        border: 1px solid $attention;
        &:hover,
        &:active,
        &:focus {
          background: lighten($attention, 10%);
          background-color: lighten($attention, 10%);
          border: 1px solid lighten($attention, 10%);
        }
        &:after {
          background-color: lighten($attention, 10%);
          background: lighten($attention, 10%);
        }
      }
      @include respond-to(sm) {
        width: 100%;
      }
    }
  }
}
