//catalog main start
.catalog {
  margin-bottom: 0;
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    margin-bottom: 0;
  }
  &__filter {
    width: 23%;
  }
  &__grid {
    width: calc(77% - 10px);
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    margin: 0 -15px;
    flex-wrap: wrap;
    .product-item {
      width: calc(33.3% - 30px);
      margin: 0 15px 44px;
    }
  }
}
//catalog main end