.card-info {
  color: $textDark;
  .card-title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 24px;
    &>*{
      margin-right: 50px;
      &:first-child,
      &:last-child {
        margin-right: 0;
      }
    }
    .title {
      width: 100%;
      margin-bottom: 13px;
    }
    .vendor {
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: $textDark;
      .title {
        text-transform: none;
        margin-right: 5px;
      }
      .value {
        @include fb;
      }
    }
    .missing {
      font-size: 14px;
      @include fb;
      color: $select;
      display: flex;
      align-items: center;
      .icon {
        font-size: 20px;
        @include fb;
        color: $select;
        margin-right: 6px;
      }
    }
  }
  &__slider {
    position: relative;
    overflow: hidden;
    margin-bottom: 42px;
    .color {
      margin-bottom: 10px;
      font-size: 16px;
      color: $textDark;
      span {
        &:first-child {
          margin-right: 10px;
        }
        &:last-child {
          @include fb;
        }
      }
    }
    .slider {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      width: 100%;
      position: relative;
      &:after {
        content: '';
        height: 100%;
        width: 70px;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        position: absolute;
        right: 0;
      }
      .slick-track {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        height: auto !important;
        width: 100% !important;
      }
      .slick-list {
        height: auto !important;
      }
      .slick-arrow {
        left: unset;
        background-color: transparent;
        height: auto;
        top: -30px;
        @include anim;
        .icon {
          font-size: 10px;
          color: $textDark;
          transform: unset;
        }
      }
      .slick-next {
        right: 15px;
      }
      .slick-prev {
        right: 60px;
      }
      .active {
        border: 1px solid $accent;
        @include anim;
      }
      &-img {
        width: 70px !important;
        height: 104px;
        border: 1px solid $gray3;
        margin-right: 32px;
        cursor: pointer;
      }
    }
  }
  &__buy {
    width: calc(100% - 701px);
    @include respond-to(lg-1200) {
      width: 100%;
    }
    .product-item__sizes {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      &-box {
        width: 100%;
        margin-top: 10px;
        .btn-link {
          &.disabled {
            color: $textLight;
            text-decoration: line-through;
            pointer-events: none;
          }
          &.active {
            @include fb;
            &:after {
              width: 100%;
            }
          }
        }
      }
      .subtitle {
        font-size: 16px;
        color: $textDark;
        span {
          &:last-child {
            @include fb;
          }
          &:first-child {
            margin-right: 10px;
          }
        }
      }
      .btn {
        font-size: 12px;
        text-transform: uppercase;
        color: $textLight;
        cursor: pointer;
        &:after {
          background-color: unset;
          border-bottom: 1px dashed $textLight;
        }
      }
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 16px;
    .btn {
      margin-right: 65px;
    }
    .input-number_arrow {
      font-size: 30px;
    }
    .input-number_input {
      font-size: 16px;
    }
    .btn-link {
      margin-top: 27px;
      margin-right: 0;
      font-size: 13px;
      line-height: 100%;
    }
    .one-click {
      width: 100%;
    }
  }
  &__price {
    margin-top: 38px;
    align-items: center;
    display: flex;
    .price-item {
      display: flex;
      flex-wrap: wrap;
      &+span {
        width: 100%;
        display: block;
        font-size: 13px;
        color: $textDark;
      }
    }
    .price-retail {
      display: flex;
      flex-wrap: wrap;
      .price-item {
        font-size: 18px;
        line-height: 22px;
        color: $textDark;
        @include fb;
        margin-right: 16px;
        &.price_old {
          color: $textLight;
          font-size: 16px;
          text-decoration: line-through;
          @include fr;
        }
      }
    }
    .price-wholesale {
      margin-right: 70px;
      .price-item {
        .price,
        .currency {
          @include fb;
          font-size: 28px;
          letter-spacing: 1.6px;
          color: $textDark;
        }
        .price {
          margin-right: 10px;
        }
      }
    }
  }
  &__tabs {
    margin-top: 44px;
    .tab_header {
      border-bottom: 1px solid $gray3;
      .title {
        width: 33.3%;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
        &.active,
        &:hover,
        &:active,
        &:focus {
          &:after {
            width: 100%;
            @include anim;
          }
        }
        &:after {
          content: '';
          display: block;
          width: 0%;
          height: 1px;
          background-color: $textDark;
          position: absolute;
          top: 100%;
          @include anim;
        }
        &:first-child {
          justify-content: flex-start;
        }
        &:last-child {
          justify-content: flex-end;
        }
      }
    }
    .tab_body {
      color: $textDark;
      font-size: 14px;
      ul {
        margin: 20px 0 40px 5px;
      }
    }
  }
}