mixin breadcrumbs()
    .breadcrumbs&attributes(attributes)
        ul.breadcrumbs__wrapper
            li.breadcrumbs__item
                a.breadcrumbs__link(href='#')
                    .icon.icon-home
                    span
                        .icon-down.icon
                        | Главная
            - var lastItem = arguments.length;
            - for (let i = 0; i < lastItem-1; i++)
                li.breadcrumbs__item
                    a.breadcrumbs__link(href='#')= arguments[i]
            li.breadcrumbs__item.active
                a.breadcrumbs__link(href='#')= arguments[lastItem-1]