footer
    .footer-push
    .footer
        .footer-bottom
            .container.footer-container
                .footer__wrapper
                    .footer__head
                        a.footer__logo(href="/kariant/index.html" title="main")
                            img(data-src="images/other/logo.svg" alt="kariant" title="kariant")
                        .footer__social
                            ul.social-list
                                li.social-item
                                    a(href="https://www.facebook.com/" target="_blank" rel="nofollow") Facebook
                                li.social-item
                                    a(href="https://www.instagram.com/" target="_blank" rel="nofollow") Instagram
                    .footer__body
                        .footer__phone.footer__list
                            .title
                                span контакты
                            .footer__phone-list
                                a(href="tel:+380675432355" class="footer__phone-link" rel="nofollow") + 38 (067) 543 23 55
                                a(href="tel:+380501622355" class="footer__phone-link" rel="nofollow") + 38 (050) 162 23 55
                                a(href="tel:+380930081987" class="footer__phone-link" rel="nofollow") + 38 (093) 008 19 87
                            .footer__email
                                a(href="mailto: post@gmail.com" class="footer__email-link" rel="nofollow") post@gmail.com
                        nav.footer__list
                            .title.icon.icon-arrRight
                                span Интернет-магазин
                            ul
                                li
                                    a(href='/kariant/catalog.html') Женщинам
                                li
                                    a(href='/kariant/catalog.html') Мужчинам
                                li
                                    a(href='/kariant/catalog.html') Распродажа
                                li
                                    a(href='/kariant/catalog.html') Новинки

                        nav.footer__list
                            .title.icon.icon-arrRight
                                span Покупателю
                            ul
                                li
                                    a(href='/kariant/#') Доставка и оплата
                                li
                                    a(href='/kariant/#') Обмен и возврат
                                li
                                    a(href='/kariant/#') Таблица размеров
                                li
                                    a(href='/kariant/#') Гарантии
                                li
                                    a(href='/kariant/#') Опт и дропшипинг

                        nav.footer__list
                            .title.icon.icon-arrRight
                                span Компания
                            ul
                                li
                                    a(href='/kariant/#') О нас
                                li
                                    a(href='/kariant/#') Производство
                                li
                                    a(href='/kariant/#') Блог
                                li
                                    a(href='/kariant/#') Новости
                                li
                                    a(href='/kariant/#') Контакты
                        span.footer__dates © 2010-2020
                    a(href='/kariant/#').footer__polotics Политика конфиденциальности




