include _button
include _dropdown

header.header.header_order
    .container
        .header__wrapper
            .header__logo
                a(href="/kariant/index.html" title="main")
                    img(data-src="images/other/logo.svg" alt="kariant" title="kariant")
            .header__info
                .header__schedule Пн-Пт с 9:00 до 18:00
                .header__phone.icon.icon-down(data-target="phone")
                    span.title Консультация
                    span +38 (067) 434 23 64




