include _button

mixin pagination()
    .pagination__wrapper(class = attributes.class)
        ul.pagination
            li.pagination__item.prev
                a(href='#').pagination__link.icon-left
                    span Предыдущая
            ul.pagination__list
                li.pagination__item.active
                    a(href='#').pagination__link.reverse= 1
                - for (var i = 2; i <= 3; i++)
                    li.pagination__item
                        a(href='#').pagination__link.reverse= i
                li.pagination__item.more
                    a(href='#').pagination__link.reverse ...
                li.pagination__item
                    a(href='#').pagination__link.reverse 8
            li.pagination__item.next.last
                a(href='#').pagination_link.icon.icon-right
                    span Следующая