
<div class="container">
  <div class="main-advantages__wrapper">
    <div class="main-advantages__item">
      <div class="main-advantages__img"><img data-src="images/content-icons/advantages_stock.svg" alt="Бесплатное хранение товара на нашем складе" title="Бесплатное хранение товара на нашем складе"/></div>
      <h4 class="main-advantages__title">Бесплатное хранение товара на нашем складе</h4>
    </div>
    <div class="main-advantages__item">
      <div class="main-advantages__img"><img data-src="images/content-icons/advantages_car.svg" alt="Бесплатная доставка по Украине" title="Бесплатная доставка по Украине"/></div>
      <h4 class="main-advantages__title">Бесплатная доставка по Украине</h4>
    </div>
    <div class="main-advantages__item">
      <div class="main-advantages__img"><img data-src="images/content-icons/advantages_payment.svg" alt="Оплата при получении товара" title="Оплата при получении товара"/></div>
      <h4 class="main-advantages__title">Оплата при получении товара</h4>
    </div>
    <div class="main-advantages__item">
      <div class="main-advantages__img"><img data-src="images/content-icons/advantages_certificate.svg" alt="Гарантия 3 года" title="Гарантия 3 года"/></div>
      <h4 class="main-advantages__title">Гарантия 3 года</h4>
    </div>
  </div>
</div>