
<div class="container">
  <div class="main-banner__wrapper">
    <div class="main-banner__big js-main-banner-big"><a href="/l-ua/subcategory.html" class="main-banner__item">
        <div class="main-banner__img"><img data-src="images/banners/image1.jpg" alt="экономия до 30%" title="экономия до 30%"/></div>
        <div class="main-banner__content">
          <!--.main-banner__content-wrapper
          //.main-banner__header
          //    .main-banner__subtitle.subtitle= itemSubtitle[i]
          //    .main-banner__title.title= itemTitle[i]
          //+button('Перейти к акции', 'a')(href="/l-ua/subcategory.html")
          -->
          <button type="submit" class="btn"><span>Перейти к акции</span></button>
        </div></a><a href="/l-ua/subcategory.html" class="main-banner__item">
        <div class="main-banner__img"><img data-src="images/banners/image4.jpg" alt="Новогодняя распродажа" title="Новогодняя распродажа"/></div>
        <div class="main-banner__content">
          <!--.main-banner__content-wrapper
          //.main-banner__header
          //    .main-banner__subtitle.subtitle= itemSubtitle[i]
          //    .main-banner__title.title= itemTitle[i]
          //+button('Перейти к акции', 'a')(href="/l-ua/subcategory.html")
          -->
          <button type="submit" class="btn"><span>Перейти к акции</span></button>
        </div></a><a href="/l-ua/subcategory.html" class="main-banner__item">
        <div class="main-banner__img"><img data-src="images/banners/image5.jpg" alt="скидки 50%" title="скидки 50%"/></div>
        <div class="main-banner__content">
          <!--.main-banner__content-wrapper
          //.main-banner__header
          //    .main-banner__subtitle.subtitle= itemSubtitle[i]
          //    .main-banner__title.title= itemTitle[i]
          //+button('Перейти к акции', 'a')(href="/l-ua/subcategory.html")
          -->
          <button type="submit" class="btn"><span>Перейти к акции</span></button>
        </div></a>
    </div>
    <div class="main-banner__small js-main-banner-small">
      <div class="main-banner__small-slide"><img data-src="images/banners/image1.jpg" alt="экономия до 30%" title="экономия до 30%"/></div>
      <div class="main-banner__small-slide"><img data-src="images/banners/image4.jpg" alt="Новогодняя распродажа" title="Новогодняя распродажа"/></div>
      <div class="main-banner__small-slide"><img data-src="images/banners/image5.jpg" alt="скидки 50%" title="скидки 50%"/></div>
    </div>
  </div>
</div>