
<div class="container">
  <div class="main-catalog__wrapper">
    <div class="main-catalog__item">
      <div class="main-catalog__header">
        <div class="main-catalog__img"><img data-src="images/content-icons/catalog-icon1.svg" alt="Холодильники, морозильные камеры" title="Холодильники, морозильные камеры"/></div>
        <h4 class="main-catalog__title">Холодильники, морозильные камеры</h4>
      </div>
      <ul class="main-catalog__list">
        <li class="main-catalog__li"><a href="/l-ua/subcategory.html" class="main-catalog__link">Холодильники</a></li>
        <li class="main-catalog__li"><a href="/l-ua/subcategory.html" class="main-catalog__link">Встраиваемые холодильники</a></li>
        <li class="main-catalog__li"><a href="/l-ua/subcategory.html" class="main-catalog__link">Морозильные камеры</a></li>
        <li class="main-catalog__li"><a href="/l-ua/subcategory.html" class="main-catalog__link">Встраиваемые морозильные камеры</a></li>
        <li class="main-catalog__li"><a href="/l-ua/subcategory.html" class="main-catalog__link">Морозильные лари бытовые</a></li>
        <li class="main-catalog__li"><a href="/l-ua/subcategory.html" class="main-catalog__link">Аксессуары</a></li>
      </ul>
    </div>
    <div class="main-catalog__item">
      <div class="main-catalog__header">
        <div class="main-catalog__img"><img data-src="images/content-icons/catalog-icon2.svg" alt="Винные шкафы Liebherr, хьюмидор" title="Винные шкафы Liebherr, хьюмидор"/></div>
        <h4 class="main-catalog__title">Винные шкафы Liebherr, хьюмидор</h4>
      </div>
      <ul class="main-catalog__list">
        <li class="main-catalog__li"><a href="/l-ua/subcategory.html" class="main-catalog__link">Холодильники</a></li>
        <li class="main-catalog__li"><a href="/l-ua/subcategory.html" class="main-catalog__link">Встраиваемые холодильники</a></li>
        <li class="main-catalog__li"><a href="/l-ua/subcategory.html" class="main-catalog__link">Морозильные камеры</a></li>
        <li class="main-catalog__li"><a href="/l-ua/subcategory.html" class="main-catalog__link">Встраиваемые морозильные камеры</a></li>
        <li class="main-catalog__li"><a href="/l-ua/subcategory.html" class="main-catalog__link">Морозильные лари бытовые</a></li>
        <li class="main-catalog__li"><a href="/l-ua/subcategory.html" class="main-catalog__link">Аксессуары</a></li>
      </ul>
    </div>
    <div class="main-catalog__item">
      <div class="main-catalog__header">
        <div class="main-catalog__img"><img data-src="images/content-icons/catalog-icon3.svg" alt="Профессиональное оборудование" title="Профессиональное оборудование"/></div>
        <h4 class="main-catalog__title">Профессиональное оборудование</h4>
      </div>
      <ul class="main-catalog__list">
        <li class="main-catalog__li"><a href="/l-ua/subcategory.html" class="main-catalog__link">Холодильники</a></li>
        <li class="main-catalog__li"><a href="/l-ua/subcategory.html" class="main-catalog__link">Встраиваемые холодильники</a></li>
        <li class="main-catalog__li"><a href="/l-ua/subcategory.html" class="main-catalog__link">Морозильные камеры</a></li>
        <li class="main-catalog__li"><a href="/l-ua/subcategory.html" class="main-catalog__link">Встраиваемые морозильные камеры</a></li>
        <li class="main-catalog__li"><a href="/l-ua/subcategory.html" class="main-catalog__link">Морозильные лари бытовые</a></li>
        <li class="main-catalog__li"><a href="/l-ua/subcategory.html" class="main-catalog__link">Аксессуары</a></li>
      </ul>
    </div>
  </div>
</div>