
<section class="main-instagram">
  <div class="container">
    <div class="main-instagram__wrapper">
      <div class="main-instagram__header">
        <div class="main-instagram__header-title"><span>@kariant_official</span>
          <h2 class="title">Наш Instagram</h2>
        </div><a href="#" class="btn btn-link-small btn-link"><span>Перейти в Instagram</span></a>
      </div>
      <ul class="main-instagram__img">
        <li><a href="#"><img data-src="images/products/4.jpg" alt="kariant" title="kariant"/></a></li>
        <li><a href="#"><img data-src="images/products/2.jpg" alt="kariant" title="kariant"/></a></li>
        <li><a href="#"><img data-src="images/products/14.jpg" alt="kariant" title="kariant"/></a></li>
        <li><a href="#"><img data-src="images/products/3.jpg" alt="kariant" title="kariant"/></a></li>
      </ul>
    </div>
  </div>
</section>