
<div class="container">
  <div class="main-news__header">
    <h2 class="title title_center">Новости</h2>
  </div>
  <div class="main-news__wrapper"><a href="/l-ua/news-one.html" class="news-item news-item_big main-news__item">
          <div class="news-item__img"><img data-src="images/news/image.jpg" alt="ООО «Грайф Флексиблс Украина» успешно прошло сертификацию по новой версии Стандарта ISO 9001." title="ООО «Грайф Флексиблс Украина» успешно прошло сертификацию по новой версии Стандарта ISO 9001."/></div>
          <h2 class="news-item__title subtitle">ООО «Грайф Флексиблс Украина» успешно прошло сертификацию по новой версии Стандарта ISO 9001.</h2>
          <p class="news-item__content">ООО «Грайф Флексиблс Украина» успешно прошло сертификацию по новой версии Стандарта ISO 9001. ООО «Грайф Флексиблс Украина» успешно прошло сертификацию по новой версии Стандарта ISO 9001.</p>
          <div class="news-item__date">
            <div class="icon icon-calendar"></div><span>27/01/18</span>
          </div></a><a href="/l-ua/news-one.html" class="news-item news-item_small main-news__item">
          <div class="news-item__img"><img data-src="images/news/" alt="Итоги работы компании за 2018 год" title="Итоги работы компании за 2018 год"/></div>
          <h2 class="news-item__title subtitle">Итоги работы компании за 2018 год</h2>
          <p class="news-item__content">ООО «Грайф Флексиблс Украина» успешно прошло сертификацию по новой версии Стандарта ISO 9001.</p>
          <div class="news-item__date">
            <div class="icon icon-calendar"></div><span>27/01/18</span>
          </div></a><a href="/l-ua/news-one.html" class="news-item news-item_small main-news__item">
          <div class="news-item__img"><img data-src="images/news/" alt="Самые вместительные холодильники" title="Самые вместительные холодильники"/></div>
          <h2 class="news-item__title subtitle">Самые вместительные холодильники</h2>
          <p class="news-item__content">Общий объем холодильника Liebherr SBSef 7343 составляет внушительные 726 л, однако полезный — уже 654 л. Это холодильник типа Side-by-Side.</p>
          <div class="news-item__date">
            <div class="icon icon-calendar"></div><span>27/01/18</span>
          </div></a><a href="/l-ua/news-one.html" class="news-item news-item_small main-news__item">
          <div class="news-item__img"><img data-src="images/news/" alt="Хиты продаж первой половины 2018 года: холодильники" title="Хиты продаж первой половины 2018 года: холодильники"/></div>
          <h2 class="news-item__title subtitle">Хиты продаж первой половины 2018 года: холодильники</h2>
          <p class="news-item__content">Спрос на традиционные двухкамерные холодильники по-прежнему велик.</p>
          <div class="news-item__date">
            <div class="icon icon-calendar"></div><span>27/01/18</span>
          </div></a><a href="/l-ua/news-one.html" class="news-item news-item_all main-news__item">
          <div class="news-item__img"><img data-src="images/news/news.svg" alt="Все новости" title="Все новости"/></div>
          <h2 class="news-item__title subtitle">Все новости</h2>
          <p class="news-item__content"></p>
          <div class="news-item__date">
            <div class="icon icon-calendar"></div><span>27/01/18</span>
          </div></a>
  </div>
</div>