
<section class="main-products">
  <div class="container">
    <div class="main-products__wrapper">
      <ul class="main-products__list">
        <li><a href="#" class="btn btn-link btn-link-unline btn-link-middle"><span>Новые тренчи</span></a>
        </li>
        <li><a href="#" class="btn btn-link btn-link-unline btn-link-middle"><span>Парки</span></a>
        </li>
        <li><a href="#" class="btn btn-link btn-link-unline btn-link-middle"><span>Демисезонные куртки</span></a>
        </li>
        <li><a href="#" class="btn btn-link btn-link-unline btn-link-middle"><span>Верхняя одежда</span></a>
        </li>
        <li><a href="#" class="btn btn-link btn-link-unline btn-link-middle"><span>Жилеты</span></a>
        </li>
        <li><a href="#" class="btn btn-link btn-link-unline btn-link-middle"><span>Пуховики</span></a>
        </li>
      </ul>
      <div class="main-products__img"><img data-src="images/products/14.jpg" alt="Новые тренчи" title="Новые тренчи"/><img data-src="images/products/2.jpg" alt="Парки" title="Парки"/><img data-src="images/products/5.jpg" alt="Демисезонные куртки" title="Демисезонные куртки"/><img data-src="images/products/4.jpg" alt="Верхняя одежда" title="Верхняя одежда"/><img data-src="images/products/1.png" alt="Жилеты" title="Жилеты"/><img data-src="images/products/3.jpg" alt="Пуховики" title="Пуховики"/></div>
    </div>
  </div>
</section>