
<section class="main-sale">
  <div class="container">
    <div class="main-sale__title">
      <h2 class="title">Распродажа</h2>
      <div class="main-sale__controls">
        <div class="swiper-arrows">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
    <div class="main-sale__slider swiper-container js-main-sale">
      <div class="swiper-wrapper">
        <div class="product-item product-item_stock product-item_old product-item_slide swiper-slide">
          <div class="product-item__right"></div>
          <div class="product-item__colors"><a href="/card.html" title="Амалия Зеленый"><img src="images/products/12.jpg" alt="Амалия Зеленый" title="Амалия Зеленый"/></a><a href="/card.html" title="Амалия Желтый"><img src="images/products/17.jpg" alt="Амалия Желтый" title="Амалия Желтый"/></a><a href="/card.html" title="Амалия Синий"><img src="images/products/16.jpg" alt="Амалия Синий" title="Амалия Синий"/></a><a href="/card.html" title="Амалия Красный"><img src="images/products/12.jpg" alt="Амалия Красный" title="Амалия Красный"/></a><a href="/card.html" title="Амалия Белый"><img src="images/products/17.jpg" alt="Амалия Белый" title="Амалия Белый"/></a><a href="/card.html" title="Амалия Черный"><img src="images/products/16.jpg" alt="Амалия Черный" title="Амалия Черный"/></a>
            <!--если цветовых вариаций больше чем 6 выводить ...--><a href="/card.html" title="Амалия Фиолетовый">...</a>
          </div><a href="/card.html" class="product-item__wrapper">
            <div class="product-item__img">
              <div class="product-item__favorite">
                <div class="icon icon-wishlist-empty label-link"></div>
              </div>
              <div class="product-item__label">
                <!--если есть скидка - выводим этот блок-->
                <div class="product-item__sale">
                  <div class="value">-15</div>
                  <div class="perc">%</div>
                </div>
              </div><img src="images/products/5.jpg" alt="Амалия Фиолетовый" title="Амалия Фиолетовый"/>
            </div>
            <div class="product-item__main">
              <h2 title="Амалия Фиолетовый" alt="Амалия Фиолетовый" class="title product-item__title subtitle-small">Амалия Фиолетовый</h2>
              <div class="product-item__offer">
                <div class="product-item__price-box">
                  <div class="product-item__price">
                    <!--если есть цена для оптовиков - выводим блок from--><span class="from">от</span><span class="price">142 402</span><span class="currency">грн</span>
                  </div>
                  <!--если есть старая цена, выводим этот блок-->
                  <div class="product-item__price product-item__price_old"><span class="price">146 502</span><span class="currency">грн</span></div>
                </div>
                <!--если есть товар в наличии выводим такую кнопку-->
                <button type="submit" class="btn icon icon-cart" data-target="cart"><span>Купить</span>
                </button>
              </div>
            </div></a>
          <div class="product-item__drop">
            <div class="product-item__buttons">
              <!--если есть товар в наличии выводим такую кнопку-->
              <button type="submit" class="btn icon icon-cart" data-target="cart"><span>В корзину</span>
              </button>
              <div data-target="one-click" class="icon icon-point"><span>Купить в 1 клик</span></div>
            </div>
            <!--если нет товара в наличии этот блок с размерами не выводится потому что размеров нет-->
            <div class="product-item__sizes"><span class="subtitle">Размеры в наличии</span>
              <div class="product-item__sizes-box">
                <button title="Амалия Фиолетовый 42" class="btn-link">42</button>
                <button title="Амалия Фиолетовый 44" class="btn-link">44</button>
                <button title="Амалия Фиолетовый 46" class="btn-link">46</button>
                <button title="Амалия Фиолетовый 48" class="btn-link">48</button>
                <button title="Амалия Фиолетовый 50" class="btn-link">50</button>
                <button title="Амалия Фиолетовый 52" class="btn-link">52</button>
                <button title="Амалия Фиолетовый 54" class="btn-link">54</button>
                <button title="Амалия Фиолетовый 56" class="btn-link">56</button>
                <button title="Амалия Фиолетовый" class="btn-link">...</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-item product-item_slide swiper-slide">
          <div class="product-item__right"></div>
          <div class="product-item__colors"><a href="/card.html" title="Амалия Зеленый"><img src="images/products/12.jpg" alt="Амалия Зеленый" title="Амалия Зеленый"/></a><a href="/card.html" title="Амалия Желтый"><img src="images/products/17.jpg" alt="Амалия Желтый" title="Амалия Желтый"/></a><a href="/card.html" title="Амалия Синий"><img src="images/products/16.jpg" alt="Амалия Синий" title="Амалия Синий"/></a><a href="/card.html" title="Амалия Красный"><img src="images/products/12.jpg" alt="Амалия Красный" title="Амалия Красный"/></a><a href="/card.html" title="Амалия Белый"><img src="images/products/17.jpg" alt="Амалия Белый" title="Амалия Белый"/></a><a href="/card.html" title="Амалия Черный"><img src="images/products/16.jpg" alt="Амалия Черный" title="Амалия Черный"/></a>
            <!--если цветовых вариаций больше чем 6 выводить ...--><a href="/card.html" title="Амалия Фиолетовый">...</a>
          </div><a href="/card.html" class="product-item__wrapper">
            <div class="product-item__img">
              <div class="product-item__favorite">
                <div class="icon icon-wishlist-empty label-link"></div>
              </div>
              <div class="product-item__label">
                <!--если есть статус товара - выводим блок label-->
                <div class="label-status label-status_top">топ</div>
              </div><img src="images/products/6.jpg" alt="Зимняя куртка Plus Size Лолита Фиолетовый" title="Зимняя куртка Plus Size Лолита Фиолетовый"/>
            </div>
            <div class="product-item__main">
              <h2 title="Зимняя куртка Plus Size Лолита Фиолетовый" alt="Зимняя куртка Plus Size Лолита Фиолетовый" class="title product-item__title subtitle-small">Зимняя куртка Plus Size Лолита Фиолетовый</h2>
              <div class="product-item__offer">
                <div class="product-item__price-box">
                  <div class="product-item__price">
                    <!--если есть цена для оптовиков - выводим блок from--><span class="from">от</span><span class="price">29 755</span><span class="currency">грн</span>
                  </div>
                </div>
                <!--если есть товар в наличии выводим такую кнопку-->
                <button type="submit" class="btn icon icon-cart" data-target="cart"><span>Купить</span>
                </button>
              </div>
            </div></a>
          <div class="product-item__drop">
            <div class="product-item__buttons">
              <!--если есть товар в наличии выводим такую кнопку-->
              <button type="submit" class="btn icon icon-cart" data-target="cart"><span>В корзину</span>
              </button>
              <div data-target="one-click" class="icon icon-point"><span>Купить в 1 клик</span></div>
            </div>
            <!--если нет товара в наличии этот блок с размерами не выводится потому что размеров нет-->
            <div class="product-item__sizes"><span class="subtitle">Размеры в наличии</span>
              <div class="product-item__sizes-box">
                <button title="Амалия Фиолетовый 42" class="btn-link">42</button>
                <button title="Амалия Фиолетовый 44" class="btn-link">44</button>
                <button title="Амалия Фиолетовый 46" class="btn-link">46</button>
                <button title="Амалия Фиолетовый 48" class="btn-link">48</button>
                <button title="Амалия Фиолетовый 50" class="btn-link">50</button>
                <button title="Амалия Фиолетовый 52" class="btn-link">52</button>
                <button title="Амалия Фиолетовый 54" class="btn-link">54</button>
                <button title="Амалия Фиолетовый 56" class="btn-link">56</button>
                <button title="Амалия Фиолетовый" class="btn-link">...</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-item product-item_slide swiper-slide">
          <div class="product-item__right"></div>
          <div class="product-item__colors"><a href="/card.html" title="Амалия Зеленый"><img src="images/products/12.jpg" alt="Амалия Зеленый" title="Амалия Зеленый"/></a><a href="/card.html" title="Амалия Желтый"><img src="images/products/17.jpg" alt="Амалия Желтый" title="Амалия Желтый"/></a><a href="/card.html" title="Амалия Синий"><img src="images/products/16.jpg" alt="Амалия Синий" title="Амалия Синий"/></a><a href="/card.html" title="Амалия Красный"><img src="images/products/12.jpg" alt="Амалия Красный" title="Амалия Красный"/></a><a href="/card.html" title="Амалия Белый"><img src="images/products/17.jpg" alt="Амалия Белый" title="Амалия Белый"/></a><a href="/card.html" title="Амалия Черный"><img src="images/products/16.jpg" alt="Амалия Черный" title="Амалия Черный"/></a>
            <!--если цветовых вариаций больше чем 6 выводить ...--><a href="/card.html" title="Амалия Фиолетовый">...</a>
          </div><a href="/card.html" class="product-item__wrapper">
            <div class="product-item__img">
              <div class="product-item__favorite">
                <div class="icon icon-wishlist-empty label-link"></div>
              </div>
              <div class="product-item__label">
                <!--если есть статус товара - выводим блок label-->
                <div class="label-status label-status_new">new</div>
              </div><img src="images/products/7.jpg" alt="Зимняя куртка Plus Size" title="Зимняя куртка Plus Size"/>
            </div>
            <div class="product-item__main">
              <h2 title="Зимняя куртка Plus Size" alt="Зимняя куртка Plus Size" class="title product-item__title subtitle-small">Зимняя куртка Plus Size</h2>
              <div class="product-item__offer">
                <div class="product-item__price-box">
                  <div class="product-item__price">
                    <!--если есть цена для оптовиков - выводим блок from--><span class="from">от</span><span class="price">45 794</span><span class="currency">грн</span>
                  </div>
                </div>
                <!--если есть товар в наличии выводим такую кнопку-->
                <button type="submit" class="btn icon icon-cart" data-target="cart"><span>Купить</span>
                </button>
              </div>
            </div></a>
          <div class="product-item__drop">
            <div class="product-item__buttons">
              <!--если есть товар в наличии выводим такую кнопку-->
              <button type="submit" class="btn icon icon-cart" data-target="cart"><span>В корзину</span>
              </button>
              <div data-target="one-click" class="icon icon-point"><span>Купить в 1 клик</span></div>
            </div>
            <!--если нет товара в наличии этот блок с размерами не выводится потому что размеров нет-->
            <div class="product-item__sizes"><span class="subtitle">Размеры в наличии</span>
              <div class="product-item__sizes-box">
                <button title="Амалия Фиолетовый 42" class="btn-link">42</button>
                <button title="Амалия Фиолетовый 44" class="btn-link">44</button>
                <button title="Амалия Фиолетовый 46" class="btn-link">46</button>
                <button title="Амалия Фиолетовый 48" class="btn-link">48</button>
                <button title="Амалия Фиолетовый 50" class="btn-link">50</button>
                <button title="Амалия Фиолетовый 52" class="btn-link">52</button>
                <button title="Амалия Фиолетовый 54" class="btn-link">54</button>
                <button title="Амалия Фиолетовый 56" class="btn-link">56</button>
                <button title="Амалия Фиолетовый" class="btn-link">...</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-item product-item_slide swiper-slide">
          <div class="product-item__right"></div>
          <div class="product-item__colors"><a href="/card.html" title="Амалия Зеленый"><img src="images/products/12.jpg" alt="Амалия Зеленый" title="Амалия Зеленый"/></a><a href="/card.html" title="Амалия Желтый"><img src="images/products/17.jpg" alt="Амалия Желтый" title="Амалия Желтый"/></a><a href="/card.html" title="Амалия Синий"><img src="images/products/16.jpg" alt="Амалия Синий" title="Амалия Синий"/></a><a href="/card.html" title="Амалия Красный"><img src="images/products/12.jpg" alt="Амалия Красный" title="Амалия Красный"/></a><a href="/card.html" title="Амалия Белый"><img src="images/products/17.jpg" alt="Амалия Белый" title="Амалия Белый"/></a><a href="/card.html" title="Амалия Черный"><img src="images/products/16.jpg" alt="Амалия Черный" title="Амалия Черный"/></a>
            <!--если цветовых вариаций больше чем 6 выводить ...--><a href="/card.html" title="Амалия Фиолетовый">...</a>
          </div><a href="/card.html" class="product-item__wrapper">
            <div class="product-item__img">
              <div class="product-item__favorite">
                <div class="icon icon-wishlist-empty label-link"></div>
              </div><img src="images/products/8.jpg" alt="Куртка демисезонная Plus Size" title="Куртка демисезонная Plus Size"/>
            </div>
            <div class="product-item__main">
              <h2 title="Куртка демисезонная Plus Size" alt="Куртка демисезонная Plus Size" class="title product-item__title subtitle-small">Куртка демисезонная Plus Size</h2>
              <div class="product-item__offer">
                <div class="product-item__price-box">
                  <div class="product-item__price">
                    <!--если есть цена для оптовиков - выводим блок from--><span class="from">от</span><span class="price">25 742</span><span class="currency">грн</span>
                  </div>
                </div>
                <!--если есть товар в наличии выводим такую кнопку-->
                <button type="submit" class="btn icon icon-cart" data-target="cart"><span>Купить</span>
                </button>
              </div>
            </div></a>
          <div class="product-item__drop">
            <div class="product-item__buttons">
              <!--если есть товар в наличии выводим такую кнопку-->
              <button type="submit" class="btn icon icon-cart" data-target="cart"><span>В корзину</span>
              </button>
              <div data-target="one-click" class="icon icon-point"><span>Купить в 1 клик</span></div>
            </div>
            <!--если нет товара в наличии этот блок с размерами не выводится потому что размеров нет-->
            <div class="product-item__sizes"><span class="subtitle">Размеры в наличии</span>
              <div class="product-item__sizes-box">
                <button title="Амалия Фиолетовый 42" class="btn-link">42</button>
                <button title="Амалия Фиолетовый 44" class="btn-link">44</button>
                <button title="Амалия Фиолетовый 46" class="btn-link">46</button>
                <button title="Амалия Фиолетовый 48" class="btn-link">48</button>
                <button title="Амалия Фиолетовый 50" class="btn-link">50</button>
                <button title="Амалия Фиолетовый 52" class="btn-link">52</button>
                <button title="Амалия Фиолетовый 54" class="btn-link">54</button>
                <button title="Амалия Фиолетовый 56" class="btn-link">56</button>
                <button title="Амалия Фиолетовый" class="btn-link">...</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-item product-item_missing product-item_slide swiper-slide">
          <div class="product-item__right"></div>
          <div class="product-item__colors"><a href="/card.html" title="Амалия Зеленый"><img src="images/products/12.jpg" alt="Амалия Зеленый" title="Амалия Зеленый"/></a><a href="/card.html" title="Амалия Желтый"><img src="images/products/17.jpg" alt="Амалия Желтый" title="Амалия Желтый"/></a><a href="/card.html" title="Амалия Синий"><img src="images/products/16.jpg" alt="Амалия Синий" title="Амалия Синий"/></a><a href="/card.html" title="Амалия Красный"><img src="images/products/12.jpg" alt="Амалия Красный" title="Амалия Красный"/></a><a href="/card.html" title="Амалия Белый"><img src="images/products/17.jpg" alt="Амалия Белый" title="Амалия Белый"/></a><a href="/card.html" title="Амалия Черный"><img src="images/products/16.jpg" alt="Амалия Черный" title="Амалия Черный"/></a>
            <!--если цветовых вариаций больше чем 6 выводить ...--><a href="/card.html" title="Амалия Фиолетовый">...</a>
          </div><a href="/card.html" class="product-item__wrapper">
            <div class="product-item__img">
              <div class="product-item__favorite">
                <div class="icon icon-wishlist-empty label-link"></div>
              </div><img src="images/products/9.jpg" alt="Куртка Plus Size" title="Куртка Plus Size"/>
            </div>
            <div class="product-item__main">
              <h2 title="Куртка Plus Size" alt="Куртка Plus Size" class="title product-item__title subtitle-small">Куртка Plus Size</h2>
              <div class="product-item__offer">
                <div class="product-item__price-box">
                  <div class="product-item__price">
                    <!--если есть цена для оптовиков - выводим блок from--><span class="from">от</span><span class="price">25 742</span><span class="currency">грн</span>
                  </div>
                </div>
                <!--если есть товар в наличии выводим такую кнопку-->
                <button type="submit" class="btn icon icon-cart" data-target="cart"><span>Купить</span>
                </button>
              </div>
            </div></a>
          <div class="product-item__drop">
            <div class="product-item__buttons">
              <!--если нет товара в наличии выводим такую кнопку-->
              <button type="submit" class="btn btn-missing" data-target="missing"><span>Сообщить когда появится</span>
              </button>
            </div>
          </div>
        </div>
        <div class="product-item product-item_slide swiper-slide">
          <div class="product-item__right"></div>
          <div class="product-item__colors"><a href="/card.html" title="Амалия Зеленый"><img src="images/products/12.jpg" alt="Амалия Зеленый" title="Амалия Зеленый"/></a><a href="/card.html" title="Амалия Желтый"><img src="images/products/17.jpg" alt="Амалия Желтый" title="Амалия Желтый"/></a><a href="/card.html" title="Амалия Синий"><img src="images/products/16.jpg" alt="Амалия Синий" title="Амалия Синий"/></a><a href="/card.html" title="Амалия Красный"><img src="images/products/12.jpg" alt="Амалия Красный" title="Амалия Красный"/></a><a href="/card.html" title="Амалия Белый"><img src="images/products/17.jpg" alt="Амалия Белый" title="Амалия Белый"/></a><a href="/card.html" title="Амалия Черный"><img src="images/products/16.jpg" alt="Амалия Черный" title="Амалия Черный"/></a>
            <!--если цветовых вариаций больше чем 6 выводить ...--><a href="/card.html" title="Амалия Фиолетовый">...</a>
          </div><a href="/card.html" class="product-item__wrapper">
            <div class="product-item__img">
              <div class="product-item__favorite">
                <div class="icon icon-wishlist-empty label-link"></div>
              </div><img src="images/products/10.jpg" alt="Осенняя куртка Plus Size" title="Осенняя куртка Plus Size"/>
            </div>
            <div class="product-item__main">
              <h2 title="Осенняя куртка Plus Size" alt="Осенняя куртка Plus Size" class="title product-item__title subtitle-small">Осенняя куртка Plus Size</h2>
              <div class="product-item__offer">
                <div class="product-item__price-box">
                  <div class="product-item__price">
                    <!--если есть цена для оптовиков - выводим блок from--><span class="from">от</span><span class="price">29 755</span><span class="currency">грн</span>
                  </div>
                </div>
                <!--если есть товар в наличии выводим такую кнопку-->
                <button type="submit" class="btn icon icon-cart" data-target="cart"><span>Купить</span>
                </button>
              </div>
            </div></a>
          <div class="product-item__drop">
            <div class="product-item__buttons">
              <!--если есть товар в наличии выводим такую кнопку-->
              <button type="submit" class="btn icon icon-cart" data-target="cart"><span>В корзину</span>
              </button>
              <div data-target="one-click" class="icon icon-point"><span>Купить в 1 клик</span></div>
            </div>
            <!--если нет товара в наличии этот блок с размерами не выводится потому что размеров нет-->
            <div class="product-item__sizes"><span class="subtitle">Размеры в наличии</span>
              <div class="product-item__sizes-box">
                <button title="Амалия Фиолетовый 42" class="btn-link">42</button>
                <button title="Амалия Фиолетовый 44" class="btn-link">44</button>
                <button title="Амалия Фиолетовый 46" class="btn-link">46</button>
                <button title="Амалия Фиолетовый 48" class="btn-link">48</button>
                <button title="Амалия Фиолетовый 50" class="btn-link">50</button>
                <button title="Амалия Фиолетовый 52" class="btn-link">52</button>
                <button title="Амалия Фиолетовый 54" class="btn-link">54</button>
                <button title="Амалия Фиолетовый 56" class="btn-link">56</button>
                <button title="Амалия Фиолетовый" class="btn-link">...</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-item product-item_stock product-item_old product-item_slide swiper-slide">
          <div class="product-item__right"></div>
          <div class="product-item__colors"><a href="/card.html" title="Амалия Зеленый"><img src="images/products/12.jpg" alt="Амалия Зеленый" title="Амалия Зеленый"/></a><a href="/card.html" title="Амалия Желтый"><img src="images/products/17.jpg" alt="Амалия Желтый" title="Амалия Желтый"/></a><a href="/card.html" title="Амалия Синий"><img src="images/products/16.jpg" alt="Амалия Синий" title="Амалия Синий"/></a><a href="/card.html" title="Амалия Красный"><img src="images/products/12.jpg" alt="Амалия Красный" title="Амалия Красный"/></a><a href="/card.html" title="Амалия Белый"><img src="images/products/17.jpg" alt="Амалия Белый" title="Амалия Белый"/></a><a href="/card.html" title="Амалия Черный"><img src="images/products/16.jpg" alt="Амалия Черный" title="Амалия Черный"/></a>
            <!--если цветовых вариаций больше чем 6 выводить ...--><a href="/card.html" title="Амалия Фиолетовый">...</a>
          </div><a href="/card.html" class="product-item__wrapper">
            <div class="product-item__img">
              <div class="product-item__favorite">
                <div class="icon icon-wishlist-empty label-link"></div>
              </div>
              <div class="product-item__label">
                <!--если есть статус товара - выводим блок label-->
                <div class="label-status label-status_top">топ</div>
                <!--если есть скидка - выводим этот блок-->
                <div class="product-item__sale">
                  <div class="value">-20</div>
                  <div class="perc">%</div>
                </div>
              </div><img src="images/products/11.jpg" alt="Осенняя утепленная куртка Plus Size" title="Осенняя утепленная куртка Plus Size"/>
            </div>
            <div class="product-item__main">
              <h2 title="Осенняя утепленная куртка Plus Size" alt="Осенняя утепленная куртка Plus Size" class="title product-item__title subtitle-small">Осенняя утепленная куртка Plus Size</h2>
              <div class="product-item__offer">
                <div class="product-item__price-box">
                  <div class="product-item__price">
                    <!--если есть цена для оптовиков - выводим блок from--><span class="from">от</span><span class="price">45 794</span><span class="currency">грн</span>
                  </div>
                  <!--если есть старая цена, выводим этот блок-->
                  <div class="product-item__price product-item__price_old"><span class="price">47 782</span><span class="currency">грн</span></div>
                </div>
                <!--если есть товар в наличии выводим такую кнопку-->
                <button type="submit" class="btn icon icon-cart" data-target="cart"><span>Купить</span>
                </button>
              </div>
            </div></a>
          <div class="product-item__drop">
            <div class="product-item__buttons">
              <!--если нет товара в наличии выводим такую кнопку-->
              <button type="submit" class="btn btn-missing" data-target="missing"><span>Сообщить когда появится</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div><a href="#" class="btn"><span>Смотреть больше</span></a>
  </div>
</section>