
<section class="main-slider js-main-banner swiper-container">
  <div class="swiper-wrapper">
    <div class="main-slider__wrapper swiper-slide">
      <div class="container">
        <div style="background-color:#CFC6C3;" class="main-slider__item">
          <div class="main-slider__contant">
            <div class="main-slider__box">
              <h2 class="title title-big">Весенняя коллекция от украинского производителя</h2><a href="#" class="btn"><span>Перейти</span></a>
            </div>
            <div class="main-slider__controls">
              <div class="swiper-pagination"></div>
              <div class="swiper-arrows">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
          </div>
          <div style="background-color:#CFC6C3;" class="main-slider__img"><img data-src="images/products/1.png" alt="1.png" title="1.png"/></div>
        </div>
      </div>
    </div>
    <div class="main-slider__wrapper swiper-slide">
      <div class="container">
        <div style="background-color:#EFEFEF;" class="main-slider__item">
          <div class="main-slider__contant">
            <div class="main-slider__box">
              <h2 class="title title-big">Зимняя коллекция от украинского производителя</h2><a href="#" class="btn"><span>Перейти</span></a>
            </div>
            <div class="main-slider__controls">
              <div class="swiper-pagination"></div>
              <div class="swiper-arrows">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
          </div>
          <div style="background-color:#EFEFEF;" class="main-slider__img"><img data-src="images/products/13.png" alt="13.png" title="13.png"/></div>
        </div>
      </div>
    </div>
    <div class="main-slider__wrapper swiper-slide">
      <div class="container">
        <div style="background-color:#CEB499;" class="main-slider__item">
          <div class="main-slider__contant">
            <div class="main-slider__box">
              <h2 class="title title-big">Осенняя коллекция от украинского производителя</h2><a href="#" class="btn"><span>Перейти</span></a>
            </div>
            <div class="main-slider__controls">
              <div class="swiper-pagination"></div>
              <div class="swiper-arrows">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
          </div>
          <div style="background-color:#CEB499;" class="main-slider__img"><img data-src="images/products/15.png" alt="15.png" title="15.png"/></div>
        </div>
      </div>
    </div>
  </div>
</section>