//breadcrumbs start
.breadcrumbs {
  width: auto;
  ul,
  ol {
    list-style: none;
    margin: 0;
  }
  li {
    margin: 0;
    padding: 0;
    &:before {
      position: static;
      width: auto;
      height: auto;
      background-color: transparent;
    }
  }
  a {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0;
    &:after {
      display: none;
    }
  }
  &__wrapper {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 0 25px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px !important;
    padding: 0 10px !important;
    border-left: 1px solid $textLight;
    &:hover,
    &:active,
    &:focus,
    &.active{
      .breadcrumbs__link {
        color: $textLight;
        @include anim;
      }
    }
    &:first-child {
      padding-left: 0 !important;
      border-left: none;
    }
    &:last-child {
      padding-right: 0 !important;
    }
  }
  &__link {
    @include anim;
    position: relative;
    text-decoration: none;
    text-align: center;
    color: $text;
  }
}
//breadcrumbs end
