//pagination start
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 12px;
  line-height: 1em;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  @include fb;
  &__wrapper {
    width: 100%;
  }
  li,
  ul {
    margin: 0;
    padding: 0;
  }
  a {
    &:after {
      bottom: 0;
    }
  }
  li {
    &:before {
      display: none;
    }
  }
  &__item {
    &.prev,
    &.next {
      a {
        &:after {
          display: none;
        }
      }
    }
    &.prev {
      span {
        margin-left: 12px;
      }
    }
    &.next {
      span {
        margin-right: 12px;
        order: 0;
      }
      .icon {
        &:before {
          order: 1;
        }
      }
    }
  }
  &__link {

  }
  &__list,
  a,
  li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__list {
    font-size: 16px;
    li {
      padding: 0 12px;
      a {
        color: $textLight;
        @include anim;
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      &:hover,
      &:active,
      &:focus,
      .active {
        a {
          color: $textDark;
          @include anim;
        }
      }
    }
  }
}
//pagination end