
<section class="category-category">
  <div class="container">
    <div class="category-category__wrapper"><a href="#" class="category-item category-item_small">
        <div style="background-color:#CFC6C3;" class="category-item__img"><img data-src="images/products/15.png" alt="Верхняя одежда" title="Верхняя одежда"/></div>
        <h2 class="title">Верхняя одежда</h2></a><a href="#" class="category-item category-item_small">
        <div style="background-color:#CEB499;" class="category-item__img"><img data-src="images/products/1.png" alt="Платья" title="Платья"/></div>
        <h2 class="title">Платья</h2></a><a href="#" class="category-item category-item_small">
        <div style="background-color:#EFEFEF;" class="category-item__img"><img data-src="images/products/15.png" alt="Футболки" title="Футболки"/></div>
        <h2 class="title">Футболки</h2></a><a href="#" class="category-item category-item_small">
        <div style="background-color:#EBE1DD;" class="category-item__img"><img data-src="images/products/1.png" alt="Костюмы" title="Костюмы"/></div>
        <h2 class="title">Костюмы</h2></a><a href="#" class="category-item category-item_small">
        <div style="background-color:#CFC6C3;" class="category-item__img"><img data-src="images/products/15.png" alt="Брюки" title="Брюки"/></div>
        <h2 class="title">Брюки</h2></a>
    </div>
  </div>
</section>