
<section class="category-publications">
  <div class="container">
    <div class="category-publications__wrapper">
      <div class="category-publications__header">
        <div class="category-publications__header-title">
          <h2>Полезное</h2>
        </div>
      </div>
      <ul class="category-publications__img">
        <li><a href="#"><img data-src="images/banners/slider3.jpg" alt="kariant" title="kariant"/>
            <h4>Как обустроить свой гардероб и не допускать безпорядка</h4>
            <button type="submit" class="btn btn-link-small btn-link"><span>Читать</span>
            </button></a></li>
        <li><a href="#"><img data-src="images/banners/slider1.jpg" alt="kariant" title="kariant"/>
            <h4>Как обустроить свой гардероб и не допускать безпорядка</h4>
            <button type="submit" class="btn btn-link-small btn-link"><span>Читать</span>
            </button></a></li>
        <li><a href="#"><img data-src="images/banners/slider2.jpg" alt="kariant" title="kariant"/>
            <h4>Как обустроить свой гардероб и не допускать безпорядка</h4>
            <button type="submit" class="btn btn-link-small btn-link"><span>Читать</span>
            </button></a></li>
      </ul><a href="#" class="btn btn-more"><span>Смотреть больше</span></a>
    </div>
  </div>
</section>