include ../../components/_button

section.category-publications

    .container
        .category-publications__wrapper
            .category-publications__header
                .category-publications__header-title
                    h2 Полезное
            ul.category-publications__img
                li
                     a(href="#")
                        img(data-src="images/banners/slider3.jpg" alt="kariant" title="kariant")
                        h4 Как обустроить свой гардероб и не допускать безпорядка
                        +button('Читать', 'button', '')(class="btn-link-small btn-link" )
                li
                    a(href="#")
                        img(data-src="images/banners/slider1.jpg" alt="kariant" title="kariant")
                        h4 Как обустроить свой гардероб и не допускать безпорядка
                        +button('Читать', 'button', '')(class="btn-link-small btn-link" )
                li
                    a(href="#")
                        img(data-src="images/banners/slider2.jpg" alt="kariant" title="kariant")
                        h4 Как обустроить свой гардероб и не допускать безпорядка
                        +button('Читать', 'button', '')(class="btn-link-small btn-link" )


            +button('Смотреть больше', 'a', '')(class="btn-more")