//basket-item start
.basket-item {
  max-width: 400px;
  background-color: $white;
  border: 1px solid $lines;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  text-decoration: unset;
  @include anim;
  @include respond-to(max-height-420) {
    padding: 10px 20px;
  }
  @include respond-to(xs-600) {
    max-width: 100%;
    padding: 10px;
    width: 100%;
  }
  &:hover,
  &:focus,
  &:active {
    box-shadow: $box-shadow;
    border: 1px solid transparent;
    @include anim;
    cursor: pointer;
  }
  &_number-val {
    .basket-item__quantity {
      display: flex;
    }
  }
  &_vendor {
    .basket-item__vendor-code {
      display: flex;
    }
  }
  &_old-price {
    .basket-item__old-price {
      display: flex;
      align-items: center;
      justify-content: center;
      @include respond-to(xs-600) {
        grid-column: 3/5;
      }
    }
    .basket-item__price {
      display: flex;
      grid-column: 3/4;
      align-items: center;
      justify-content: center;
      @include respond-to(xs-600) {
        grid-column: 2/3;
      }
    }
  }
  &_all-price {
    .basket-item__all {
      display: flex;
    }
  }
  &_little {
    max-width: 250px;
    .basket-item__wrapper {
      grid-template-columns: 60px auto;
      grid-template-rows: auto auto;
      justify-content: flex-start;
    }
    .basket-item__remove {
      display: none;
    }
    .basket-item__img {
      grid-row: 1/3;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-height: 100%;
      }
    }
    .basket-item__name {
      display: none;
    }
    .basket-item__price {
      display: none;
    }
    .basket-item__vendor-code {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    .basket-item__color {
      display: block;
    }
  }
  &_vertical {
    max-width: 170px;
    padding: 10px;
    .basket-item__wrapper {
      grid-template-columns: 100%;
      grid-template-rows: repeat(4, auto);
    }
    .basket-item__remove {
      position: absolute;
      left: 10px;
      top: 10px;
    }
    .basket-item__img {
      padding: 0 30px;
      height: 130px;
      grid-row: 1/2;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-height: 100%;
      }
    }
    .basket-item__name {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .basket-item__price {
      grid-column: 1/2;
      grid-row: 4/5;
      align-items: center;
    }
    .basket-item__old-price {
      display: flex;
      grid-column: 1/2;
      grid-row: 3/4;
      align-items: center;
      justify-content: flex-start;
    }
    .basket-item__vendor-code {
      grid-column: 1/2;
      grid-row: 5/6;
      align-items: flex-end;
    }
  }
  &__wrapper {
    text-decoration: unset;
    display: grid;
    justify-content: space-between;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: 80px 25% 25% 10%;
    grid-template-rows: 1fr 1fr 30px;
    grid-gap: 10px;
    width: 100%;
    &:hover,
    &:focus,
    &:active {
      @include anim;
      color: $text;
    }
    @include respond-to(xs-600) {
      grid-template-columns: 50px 25% 25% 10%;
    }
  }
  &__img {
    grid-column: 1/2;
    grid-row: 1/4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    img {
      max-height: 100%;
    }
  }
  &__name {
    overflow: hidden;
    grid-column: 2/5;
    grid-row: 1/2;
    .subtitle {
      font-size: 12px;
      line-height: 14px;
      margin: 0;
      white-space: pre-line;
    }
  }
  &__color {
    display: none;
    grid-column: 2/3;
    grid-row: 1/2;
    .title {
      font-size: 12px;
      line-height: 14px;
      @include fr;
      color: $textGray;
      margin: 0 5px 0 0;
    }
    .value {
      font-size: 12px;
      line-height: 14px;
    }
  }
  &__price {
    grid-column: 2/3;
    grid-row: 2/3;
    color: $attention;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    width: 100%;
    text-align: left;
    justify-content: flex-start;
    @include fm;
    @include respond-to(xs-600) {
      grid-column: 2/5;
    }
  }
  &__old-price {
    display: none;
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    width: 100%;
    text-align: left;
    @include fm;
    @include respond-to(xs-600) {
      grid-row: 2/3;
      grid-column: 3/5;
      justify-content: flex-start;
    }
  }
  &__quantity {
    display: none;
    grid-column: 2/3;
    grid-row: 3/4;
  }
  &__vendor-code {
    display: none;
    grid-column: 2/4;
    grid-row: 3/4;
    .title {
      font-size: 12px;
      line-height: 14px;
      @include fr;
      color: $textGray;
      margin: 0 5px 0 0;
    }
    .value {
      font-size: 12px;
      line-height: 14px;
    }
  }
  &__all {
    display: none;
    grid-column: 3/4;
    grid-row: 3/4;
    color: $attention;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    width: 100%;
    text-align: left;
    align-items: center;
    @include respond-to(xs-370) {
      font-size: 9px;
    }
  }
  &__remove {
    grid-column: 4/5;
    grid-row: 3/4;
    color: $textGray;
    font-size: 25px;
    @include anim;
    text-align: center;
    z-index: 5;
    &:hover,
    &:active,
    &:focus {
      @include anim;
      color: $attention;
    }
  }
}
//basket-item end