//buttons start
.btn{
  display: inline-flex;
  transform-style: preserve-3d;
  background: $elements;
  position: relative;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  font-size: 12px;
  line-height: 135%;
  @include fm;
  color: $white;
  background-color: $elements;
  border: 1px solid $elements;
  text-transform: uppercase;
  padding: 15px 30px;
  text-decoration: none;
  @include anim;
  @include respond-to(sm) {
    padding: 15px 20px;
  }
  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    @include anim;
    color: $white;
    background-color: $action;
    border: 1px solid $action;
  }
  &:after{
    content: '';
    display: inline-block;
    position: absolute;
    width: 115%;
    height: 200px;
    background: $action;
    transform: translateY(-45%) skew(25deg) scale(0);
    left: -5%;
    transition: 200ms ease-in-out;
  }
  &:hover:after{
    transform: translateY(-45%) skew(25deg) scale(1);
  }
  span{
    position: relative;
    text-decoration: unset;
    z-index: 1;
    color: $white;
    @include anim;
  }
  &-transparent {
    color: $elements;
    background-color: transparent;
    border: 1px solid $elements;
    span{
      color: $elements;
    }
    &:hover {
      @include anim;
      border: 1px solid $action;
      color: $white;
      span{
        color: $white;
        @include anim;
      }
    }
    &:active,
    &:focus,
    &.active{
      @include anim;
      color: $white;
      background-color: $elements;
      border: 1px solid $elements;
      span{
        color: $white;
      }
    }
  }
  &-small {
    padding: 7px 10px;
  }
  &-atten {
    color: $attention;
    background-color: transparent;
    border: 1px solid $attention;
    span{
      color: $attention;
    }
    &:after{
      background: $attention;
    }
    &:hover,
    &:focus,
    &:active {
      @include anim;
      color: $white;
      background-color: $attention;
      border: 1px solid $attention;
      span{
        color: $white;
      }
    }
  }
  &.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      order: 1;
    }
    &:before {
      order: 2;
      z-index: 5;
      position: relative;
      margin-left: 10px;
      font-size: 20px;
    }
  }
  &-link {
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 16px;
    text-transform: none;
    text-decoration: underline;
    display: inline-block;
    width: auto !important;
    @include fr;
    @include anim;
    color: $elements;
    span {
      color: $elements;
      @include anim;
    }
    &:hover,
    &:active,
    &:focus {
      span {
        color: $action;
        @include anim;
      }
      color: $action;
      background-color: transparent;
      border: none;
      @include anim;
    }
    &:after {
      display: none;
    }
    &.disabled {
      background-color: transparent !important;
      color: $textGray;
    }
  }
  &-reset {
    padding: 0;
    background-color: transparent;
    border: none;
    text-transform: none;
    text-decoration: none;
    color: $elements;
    span {
      color: $elements;
      @include anim;
    }
    &:hover,
    &:active,
    &:focus {
      span {
        color: $action;
        @include anim;
      }
      color: $action;
      background-color: transparent;
      border: none;
      @include anim;
    }
    &:after {
      display: none;
    }
  }
  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
    background-color: $textGray;
    &:hover,
    &:active,
    &:focus {
      span {
        color: $action;
        @include anim;
      }
      color: $action;
      background-color: transparent;
      border: none;
      @include anim;
    }
    &:after {
      display: none;
    }
  }
  @include respond-to(sm) {
    padding: 5px 15px;
  }
  @include respond-to(xs-600) {
    font-size: 12px;
  }
}
//buttons end