//dropdown start
.dropdown {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: auto;
  select {
    outline: transparentize($elements, 1);
  }
  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $text;
    @include anim;
    &:hover {
      @include anim;
    }
  }
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:before {
      @include anim;
      order: 2;
      font-size: 7px;
      margin-left: 5px;
    }
    &-item {
      order: 1;
      color: $text;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      @include fm;
      @include respond-to(sm-767) {
        font-size: 12px;
      }
    }
  }
  &__wrapper {
    position: relative;
    color: $text;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
    cursor: pointer;
    background: linear-gradient(180deg, $white 0%, rgba(255, 255, 255, 0) 100%), $grayBG2;
    border-radius: 60px;
    border: 1px solid $lines;
    padding: 0 20px;
    @include fr;
    @include anim;
    &>span {
      margin-right: 15px;
      color: $textGray;
      @include respond-to(lg-1200) {
        font-size: 14px;
        line-height: 16px;
      }
    }
    &:before {
      @include anim;
      font-weight: 600;
      font-size: 22px;
      margin-right: 5px;
    }
    &.active {
      @include anim;
      border: 1px solid $elements;
      .icon {
        &::before {
          transform: rotate(180deg);
          @include anim;
          z-index: 0;
        }
      }
    }
  }
  &__dropdown {
    position: absolute;
    top: 40px;
    box-sizing: border-box;
    left: 0;
    display: none;
    width: 100%;
    background-color: $white;
    z-index: 16;
    border-radius: 20px;
    max-height: 200px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 12px;
      background-color: #F5F5F5;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px $lines;
      background-color: $grayBG2;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }
  }
  &__item {
    padding: 10px 0;
    @include anim;
    &:last-child {
      border-radius: 0 0 20px 20px;
    }
    &:first-child {
      border-radius: 20px 20px 0 0;
    }
    &:hover,
    &:active,
    &:focus {
      background-color: $grayBG;
      @include anim;
    }
  }
  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    @include anim;
  }
  &_select {
    .icon {
      &:before {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 0;
        font-size: 10px;
        @include anim;
      }
    }
  }
}


.select2,
.select2-container {
  width: 100% !important;
  //min-width: 150px !important;
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      &:before {
        display: none;
      }
    }
  }
}

.select2-container {
  &--open {
    .select2-dropdown {
      color: $text;
      font-size: 12px;
      line-height: 14px;
      box-shadow: 0px 2px 25px rgba(35, 54, 75, 0.16);
      border-radius: 5px;
      background-color: $white;
      min-width: 150px !important;
      //@include respond-to(tablet-1030) {
      //  width: 100%;
      //  min-width: 100% !important;
      //  top: 0px !important;
      //  position: fixed;
      //  width: 100% !important;
      //  height: 100vh !important;
      //}
    }
  }
}

.select2-container--classic .select2-results>.select2-results__options,
.select2-container--default .select2-results>.select2-results__options {
  //@include respond-to(tablet-1030) {
  //  height: 100%;
  //  max-height: unset;
  //}
}

.select2-results {
  &__option {
    background-color: transparent;
    @include anim;
    .select2-results__option--highlighted {
      background-color: $grayBG;
      @include anim;
    }
  }
}

.select2-container--default {
  .select2-results__option--highlighted[aria-selected] {
    background-color: $grayBG;
    @include anim;
    color: $text;
  }
  .select2-results__option {
    font-size: 12px;
    line-height: 14px;
    padding: 5px;
    &:first-child {
      border-radius: 5px 5px 0 0;
    }
  }
  .select2-selection--single {
    .select2-selection__rendered {
      text-align: center;
    }
  }
}

//dropdown end
