//header start
.header {
  border-top: 6px solid $elements;
  z-index: 100;
  width: 100%;
  background-color: $white;
  position: fixed;
  @include respond-to(tablet-1030){
    background-color: $grayBG;
  }
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      position: static;
      &:before {
        display: none;
      }
    }
  }
  &.hidden {
    display: none;
  }
  &__wrapper {
    width: 1360px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    //grid-auto-columns: minmax(50px, auto);
    grid-auto-rows: minmax(35px, auto);
    align-items: center;
    justify-content: space-between;
    grid-row-gap: 5px;
    box-shadow: 0 8px 6px -7px rgba(35, 54, 75, 0.36);
    grid-template-areas:
      "headerMain headerMain headerMain headerMain headerMain headerMain headerMain headerMain headerMain headerMain headerMain headerMain headerMain . headerLang headerLang"
      "headerLogo headerLogo headerLogo headerPhone headerPhone headerPhone headerCall headerCall headerCall headerSearch headerSearch headerSearch headerSearch headerFavorite headerComparison headerCart"
      "headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu";
    @include respond-to(lg-1360){
      width: 1300px;
    }
    @include respond-to(lg-1250){
      width: 1170px;
    }
    @include respond-to(lg-1200){
      width: 970px;
    }
    @include respond-to(tablet-1030){
      width: 100%;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: minmax(60px, auto);
      grid-gap: 0;
      grid-template-areas:
        "headerBurger headerLogo headerLogo headerLogo headerPhone headerPhone headerPhone . headerSearchIcon headerCatalog headerCatalog headerCart";
        //"headerSearch headerSearch headerSearch headerSearch headerSearch headerSearch headerSearch headerSearch headerSearch headerSearch headerSearch headerSearch";
    }
    @include respond-to(sm){
      width: 100%;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: minmax(60px, auto);
      grid-gap: 0;
      grid-template-areas:
              "headerBurger headerLogo headerLogo headerLogo headerPhone headerPhone headerPhone headerPhone headerSearchIcon headerCatalog headerCatalog headerCart";
              //"headerSearch headerSearch headerSearch headerSearch headerSearch headerSearch headerSearch headerSearch headerSearch headerSearch headerSearch headerSearch";
    }
    @include respond-to(xs-600){
      width: 100%;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: minmax(50px, auto);
      grid-gap: 0;
      grid-template-areas:
        "headerLogo headerLogo headerLogo headerLogo headerLogo headerLogo headerPhone headerPhone headerPhone headerPhone headerPhone headerPhone"
        "headerBurger headerBurger headerBurger . . headerSearchIcon headerSearchIcon headerCatalog headerCatalog headerCatalog headerCart headerCart";
        //"headerSearch headerSearch headerSearch headerSearch headerSearch headerSearch headerSearch headerSearch headerSearch headerSearch headerSearch headerSearch";
    }
  }
  &.active {
    @include respond-to(tablet-1030) {
      position: fixed;
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }
    .header {
      &__wrapper {
        @include respond-to(tablet-1030){
          min-height: calc(100vh - 6px);
          align-items: start;
          grid-template-rows: 60px 60px 60px 60px auto 60px;
          grid-template-areas:
             "headerBurger headerLogo headerLogo headerLogo headerPhone headerPhone headerPhone . . headerCatalog headerCatalog headerCart"
            "headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu"
            "headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite"
            "headerComparison headerComparison headerComparison headerComparison headerComparison headerComparison headerComparison headerComparison headerComparison headerComparison headerComparison headerComparison"
            "headerMain headerMain headerMain headerMain headerMain headerMain headerMain headerMain headerMain headerMain headerMain headerMain"
            "headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang";
        }
        @include respond-to(sm){
          grid-template-areas:
             "headerBurger headerLogo headerLogo headerLogo headerPhone headerPhone headerPhone headerPhone headerCatalog headerCatalog headerCart headerCart"
            "headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu"
            "headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite"
            "headerComparison headerComparison headerComparison headerComparison headerComparison headerComparison headerComparison headerComparison headerComparison headerComparison headerComparison headerComparison"
            "headerMain headerMain headerMain headerMain headerMain headerMain headerMain headerMain headerMain headerMain headerMain headerMain"
            "headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang";
        }
        @include respond-to(xs-600){
          grid-template-rows: 50px 50px 60px 60px 60px auto 60px;
          grid-template-areas:
            "headerLogo headerLogo headerLogo headerLogo headerLogo headerLogo headerPhone headerPhone headerPhone headerPhone headerPhone headerPhone"
            "headerBurger headerBurger headerBurger . . . headerCatalog headerCatalog headerCatalog headerCart headerCart headerCart"
            "headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu"
            "headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite headerFavorite"
            "headerComparison headerComparison headerComparison headerComparison headerComparison headerComparison headerComparison headerComparison headerComparison headerComparison headerComparison headerComparison"
            "headerMain headerMain headerMain headerMain headerMain headerMain headerMain headerMain headerMain headerMain headerMain headerMain"
            "headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang";
        }
      }
      &__search,
      &__line,
      &__search-icon {
        @include respond-to(tablet-1030) {
          display: none;
        }
      }
      &__main,
      &__lang,
      &__favorite,
      &__comparison,
      &__menu {
        @include respond-to(tablet-1030) {
          display: flex;
        }
      }
    }
  }
  &.catalog {
    .header {
      &__wrapper {
        @include respond-to(tablet-1030){
          grid-template-rows: 60px auto 60px;
          grid-template-areas:
            "headerBurger headerLogo headerLogo headerLogo headerPhone headerPhone headerPhone . . headerCatalog headerCatalog headerCart"
            "headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu"
            "headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang";
        }
        @include respond-to(xs-600){
          grid-template-rows: 60px 60px auto 60px;
          grid-template-areas:
            "headerLogo headerLogo headerLogo headerLogo headerLogo headerLogo headerPhone headerPhone headerPhone headerPhone headerPhone headerPhone"
            "headerBurger headerBurger headerBurger . . . headerCatalog headerCatalog headerCatalog headerCart headerCart headerCart"
            "headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu"
            "headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang";
        }
      }
      &__main,
      &__favorite,
      &__comparison {
        @include respond-to(tablet-1030) {
          display: none;
        }
      }
      &__menu {
        padding: 0;
        &-list-main-header {
          padding: 0 30px;
          border-bottom: 1px solid $lines;
          background-color: $lines;
          justify-content: flex-start;
          span,
          a{
            color: $text;
            margin-left: 30px;
            order: 2;
            &:hover,
            &:active,
            &:focus {
              color: $text;
            }
          }
          .icon {
            order: 1;
            color: $text;
            &:before {
              transform: rotate(180deg);
            }
          }
        }
        &-item-main {
          display: flex;
          width: 100%;
          padding: 0 30px !important;
          grid-column: 1/2;
          justify-content: space-between;
          border-bottom: 1px solid $lines;
          &:after {
            display: inline-block;
            font-family:$icon_font_name;
            content:'\E018';
            font-size: 30px;
            color: $textGray;
            transform: rotate(180deg);
          }
          &_stock,
          &_new {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
  &.sub-catalog {
    .header {
      &__wrapper {
        @include respond-to(tablet-1030){
          grid-template-rows: 60px auto 60px;
          grid-template-areas:
            "headerBurger headerLogo headerLogo headerLogo headerPhone headerPhone headerPhone . . headerCatalog headerCatalog headerCart"
            "headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu"
            "headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang";
        }
        @include respond-to(xs-600){
          grid-template-rows: 60px 60px auto 60px;
          grid-template-areas:
            "headerLogo headerLogo headerLogo headerLogo headerLogo headerLogo headerPhone headerPhone headerPhone headerPhone headerPhone headerPhone"
            "headerBurger headerBurger headerBurger . . . headerCatalog headerCatalog headerCatalog headerCart headerCart headerCart"
            "headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu headerMenu"
            "headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang headerLang";
        }
      }
      &__menu {
        &-list {
          &-main-header {
            display: none;
          }
        }
        &-item {
          &-main {
            display: none;
            &.active {
              display: flex;
              flex-wrap: wrap;
              padding: 0 !important;
              position: relative;
              background-color: $white;
              .header__menu {
                &-list-sub {
                  display: flex;
                  position: static;
                  opacity: 1;
                  z-index: 100;
                }
                &-item-sub {
                  width: 100%;
                  @include anim;
                  &-img {
                    display: none;
                  }
                  &-link {
                    display: block;
                    width: 100%;
                    height: 100%;
                  }
                }
                &-item-link {
                  padding: 20px 30px 20px 60px;
                  width: 100% !important;
                  text-align: left;
                  background-color: $lines;
                  color: $text;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                }
              }
              &:after {
                display: inline-block;
                font-family:$icon_font_name;
                content:'\E018';
                font-size: 30px;
                color: $text;
                line-height: 0;
                transform: rotate(0deg);
                top: 30px;
                left: 20px;
                position: absolute;
              }
            }
          }
          &-sub {
            text-align: left;
            padding: 20px 30px !important;
            border-bottom: 1px solid $lines;
          }
        }
      }
    }
  }
  &__main {
    grid-area: headerMain;
    &-link {
      color: $text;
      font-size: 12px;
      line-height: 120%;
      text-decoration: none;
      position: relative;
      letter-spacing: 0.02em;
      display: inline-block;
      &:after {
        display: inline-block;
        content: "";
        width: 100%;
        height: 1px;
        background-color: $text;
        max-width: 0%;
        position: absolute;
        left: 0;
        bottom: -1px;
        @include anim;
      }
      //&:before {
      //  width: 100%;
      //  height: 20px;
      //  background-color: transparent;
      //  display: block;
      //  position: absolute;
      //  left: 0;
      //  bottom: -30px;
      //  content: "";
      //  z-index: 500;
      //}
      &:not(.header__menu-item-link) {
        &:hover,
        &:active,
        &:focus {
          @include anim;
          color: $text;
          @include respond-to(tablet-1030) {
            color: $white;
          }
          &:after {
            max-width: 100%;
            @include anim;
          }
        }
      }
      &:not(.header__lang-item-link) {
        @include respond-to(tablet-1030) {
          font-size: 18px;
          @include fm;
          justify-content: flex-start;
          width: 100%;
          text-align: left;
        }
        @include respond-to(xs-600) {
          font-size: 16px;
          text-decoration: underline;
          @include fr;
        }
        &:after {
          @include respond-to(tablet-1030) {
            display: none;
          }
        }
      }
    }
    &-list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      max-width: 100%;
      @include respond-to(lg-1200) {
        justify-content: space-between;
      }
    }
    &-item {
      width: auto;
      margin-right: 30px !important;
      @include respond-to(lg-1200) {
        margin-right: 10px !important;
      }
      @include respond-to(tablet-1030) {
        padding: 15px 30px !important;
        border-bottom: 1px solid $lines;
        width: 100%;
        margin-right: 0;
      }
      &-link {
        white-space: nowrap;
      }
      &.active {
        .header__main-item-link {
          @include anim;
          color: $elements;
          @include fm;
        }
        .header__main-link {
          &:after {
            max-width: 100%;
          }
        }
      }
    }
    @include respond-to(tablet-1030) {
      display: none;
    }
  }
  &__phone {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 40px;
    cursor: pointer;
    grid-area: headerPhone;
    @include respond-to(tablet-1030){
      height: 100%;
    }
    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: $white;
      @include anim;
      &:hover {
        @include anim;
      }
    }
    &-header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:before {
        @include anim;
        order: 2;
        font-size: 7px;
        margin-left: 5px;
      }
      &-link {
        order: 1;
        color: $text;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        @include fm;
        @include respond-to(sm-767) {
          font-size: 12px;
        }
      }
    }
    &-wrapper {
      position: relative;
      color: $text;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:before {
        @include anim;
        font-weight: 600;
        font-size: 22px;
        margin-right: 5px;
      }
      &.active {
        .icon {
          &::before {
            transform: rotate(180deg);
            @include anim;
            z-index: 0;
          }
        }
      }
    }
    &-dropdown {
      position: absolute;
      top: 25px;
      box-sizing: border-box;
      left: 0;
      display: none;
      width: 100%;
      background-color: $text;
      z-index: 16;
    }
    &-item {
      text-transform: uppercase;
      padding: 10px 0 !important;
      border-bottom: 1px solid $white;
      @include anim;
      &:last-child {
        border: none;
      }
      &:hover,
      &:active,
      &:focus {
        background-color: $elements;
        @include anim;
        .header__phone-link {
          color: $white;
          @include anim;
        }
      }
    }
    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
      @include anim;
    }
    @include respond-to(xs-600) {
      grid-column: 6/13;
      justify-content: flex-end;
      padding-right: 15px;
    }
  }
  &__call {
    grid-area: headerCall;
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond-to(tablet-1030){
      display: none;
    }
  }
  &__search {
    grid-area: headerSearch;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 30px;
    .search {
      width: 100%;
    }
    .btn {
      &:before {
        font-size: 17px;
      }
    }
    &-icon {
      grid-area: headerSearchIcon;
      align-items: center;
      justify-content: center;
      display: none;
      @include respond-to(tablet-1030) {
        display: flex;
      }
      .icon {
        &:before {
          margin: 0;
          padding: 0;
          color: $elements;
          font-size: 30px;
          line-height: 30px;
          @include anim;
        }
      }
      &.active {
        .icon {
          &:before {
            color: $attention;
            @include anim;
          }
        }
      }
    }
    @include respond-to(tablet-1030) {
      padding: 15px;
      position: absolute;
      width: 100%;
      border-bottom: 1px solid $lines;
      background-color: $grayBG;
      top: calc(100% - 1px);
    }
    @include respond-to(xs-600) {
      grid-column: 1/13;
      padding: 5px;
    }
  }
  &__menu {
    grid-area: headerMenu;
    z-index: 15;
    margin-top: 1px;
    &-item {
      border-left: 1px solid $lines;
      padding: 0 10px !important;
      &:first-child {
        border-left: none;
      }
      &-main {
        @include anim;
        background-color: $text;
        @include anim;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        &:hover,
        &:active,
        &:focus {
          @include anim;
          cursor: pointer;
          background-color: $elements;
          .header__main-link {
            &:not(.header__menu-item-sub-link) {
              color: $white;
            }
          }
          .header__menu-list-sub {
            z-index: 100;
            opacity: 1;
            position: absolute;
            //@include anim;
            transition: 1s all;
          }
        }
        &.active {
          @include anim;
          cursor: pointer;
          background-color: $elements;
          .header__main-link {
            &:not(.header__menu-item-sub-link) {
              color: $white;
            }
          }
        }
        &_stock,
        &_new {
          background-color: $white;
          text-transform: uppercase;
          @include anim;
          @include fm;
          &:hover,
          &:active,
          &:focus,
          &.active {
            @include anim;
            background-color: $white;
            .header__main-link {
              text-decoration: underline;
              @include anim;
            }
          }
          a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        &_stock {
          .header__main-link {
            color: $attention;
            &:hover,
            &:active,
            &:focus,
            &.active {
              color: $attention;
            }
          }
        }
        @include respond-to(tablet-1030){
          display: none;
        }
        @include respond-to(xs-600){
          text-align: left;
        }
        //&:first-child {
        //  .header__menu-list-sub {
        //    z-index: 1;
        //    opacity: 1;
        //  }
        //}
      }
      &-sub {
        background-color: $white;
        //width: 170px;
        padding: 30px !important;
        border: none;
        @include anim;
        &-link {
          color: $text;
        }
        &-img {
          height: 130px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 20px;
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
        &:hover,
        &:active,
        &:focus,
        &.active {
          @include anim;
          box-shadow: inset 0px 2px 25px rgba(35, 54, 75, 0.1);
          //z-index: 5;
          .header__main-link {
            color: $elements;
          }
        }
      }
      &-link {
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        @include respond-to(tablet-1030){
          width: auto !important;
          height: auto !important;
        }
      }
      .header__main-link {
        &:after {
          display: none;
        }
      }
      @include respond-to(tablet-1030){
        border-left: none;
      }
    }
    &-list {
      &-main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        grid-auto-rows: minmax(50px, auto);
        align-items: stretch;
        justify-content: space-between;
        border: 1px solid $lines;
        position: relative;
        &-header {
          display: none;
          @include respond-to(tablet-1030){
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .header__main-link {
              color: $white;
              width: auto;
            }
          }
          .icon {
            order: 2;
            color: $textGray;
            font-size: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          span {
            order: 1;
            color: $white;
            &:hover,
            &:active,
            &:focus {
              color: $white;
            }
          }
        }
        @include respond-to(tablet-1030){
          border: none;
          width: 100%;
          grid-auto-rows: minmax(60px, auto);
        }
      }
      &-sub {
        align-items: stretch;
        justify-content: space-between;
        position: fixed;
        flex-wrap: wrap;
        left: calc(0% - 2px);
        top: calc(100% + 1px);
        z-index: -10;
        opacity: 0;
        background-color: $white;
        //@include anim;
        transition: 1s all;
        //box-shadow: $box-shadow;
        width: calc(100% + 4px);
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        //position: relative;
        border-bottom: 6px solid $elements;
        @include respond-to(tablet-1030){
          display: none;
          border-bottom: none;
        }
      }
    }
    @include respond-to(tablet-1030){
      padding: 0 30px;
      min-height: unset;
      border-bottom: 1px solid $lines;
      background-color: $text;
      display: none;
    }
  }
  &__lang {
    grid-area: headerLang;
    &-list {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @include respond-to(tablet-1030){
        justify-content: flex-start;
        height: 30px;
      }
    }
    &-item {
      border-right: 1px solid $lines;
      padding: 0 8px !important;
      &:last-child {
        border: none;
      }
      &-link {
        color: $textGray;
        @include fm;
        @include anim;
        &:hover,
        &:active,
        &:focus {
          @include anim;
          color: $text;
        }
      }
      &.active {
        .header__lang-item-link {
          @include fm;
          @include anim;
          color: $elements;
        }
        .header__main-link {
          &:after {
            max-width: 100%;
          }
        }
      }
    }
    @include respond-to(tablet-1030){
      padding: 0 30px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      display: none;
    }
  }
  &__logo {
    grid-area: headerLogo;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    @include respond-to(tablet-1030){
      height: 100%;
    }
    img {
      width: 80% !important;
      //width: auto !important;
      height: auto;
      max-height: 70px;
      @include respond-to(tablet-1030){
        max-height: 60px;
      }
      @include respond-to(xs-600){
        margin: 0 auto;
      }
    }
    & > a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 80%;
      position: relative;
      perspective: 80px;
    }
    .anim-wrapper {
      position: absolute;
      right: 10px;
      top: -15px;
      overflow: hidden;
      width: 22px;
      height: 25px;
      animation: rotate2 8s infinite reverse;
      transform-style: preserve-3d;
      @include anim;
      @include respond-to(sm){
        right: -5px;
      }
      @include respond-to(xs-690){
        right: 5px;
        width: 15px !important;
        height: 15px !important;
      }
      @include respond-to(xs){
        right: -10px;
        top: -15px;
      }
      @include respond-to(xs-370){
        right: -10px;
        top: -15px;
      }
      svg {
        position: absolute;
        bottom: 50%;
        transform: translateY(50%) rotate(0deg);
        transform-style: preserve-3d;
        //animation: downUp 2s infinite ease-in-out alternate;
        @keyframes downUp {
          0% {
            bottom: -100%;
          }
          8% {
            bottom: -80%;
          }
          10% {
            bottom: -35%;
          }
          20% {
            bottom: -20%;
          }
          30% {
            bottom: -5%;
          }
          40% {
            bottom: 10%;
          }
          50% {
            bottom: 25%;
          }
          60% {
            bottom: 40%;
          }
          70% {
            bottom: 50%;
          }
          80% {
            bottom: 50%;
          }
          100% {
            bottom: 50%;
          }
        }
        @keyframes rotate {
          0% {
            transform: translateY(50%) rotate(0deg);
          }
          10% {
            transform: translateY(50%) rotate(0deg);
          }
          20% {
            transform: translateY(50%) rotate(0deg);
          }
          30% {
            transform: translateY(50%) rotate(0deg);
          }
          40% {
            transform: translateY(50%) rotate(0deg);
          }
          50% {
            transform: translateY(50%) rotate(0deg);
          }
          60% {
            transform: translateY(50%) rotate(0deg);
          }
          70% {
            transform: translateY(50%) rotate(0deg);
          }
          90% {
            transform: translateY(50%) rotate(0deg);
          }
          100% {
            transform: translateY(50%) rotate(180deg);
          }
        }
        @include respond-to(xs-690){
          width: 15px !important;
          height: 15px !important;
        }
      }
      @keyframes rotate2 {
        0% {
          transform: rotateY(0deg);
        }
        10% {
          transform: rotateY(0deg);
        }
        20% {
          transform: rotateY(0deg);
        }
        30% {
          transform: rotateY(0deg);
        }
        40% {
          transform: rotateY(0deg);
        }
        50% {
          transform: rotateY(0deg);
        }
        60% {
          transform: rotateY(0deg);
        }
        70% {
          transform: rotateY(0deg);
        }
        90% {
          transform: rotateY(0deg);
        }
        100% {
          transform: rotateY(-180deg);
        }
      }
    }
    @include respond-to(xs-600){
      grid-column: 1/6;
    }
  }
  &__favorite,
  &__comparison,
  &__cart {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    text-decoration: none;
    &:before {
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 1px;
      background-color: $lines;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      @include respond-to(tablet-1030){
        display: none;
      }
    }
    .text {
      color: $white;
      display: none;
      @include respond-to(tablet-1030){
        display: block;
      }
    }
    .value {
      width: 17px;
      height: 17px;
      background-color: $elements;
      color: $white;
      font-size: 14px;
      position: absolute;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0px;
      left: -5px;
    }
    &:hover,
    &:active,
    &:focus,
    &.active {
      color: $elements;
      @include anim;
      @include respond-to(tablet-1030){
        color: $textGray;
        @include anim;
      }
      .icon {
        color: $elements;
        @include respond-to(tablet-1030){
          color: $textGray;
          @include anim;
        }
      }
      .label-link {
        @include respond-to(tablet-1030){
          color: $textGray;
          @include anim;
        }
      }
    }
    &.disabled {
      cursor: not-allowed;
      pointer-events: none;
      color: $textGray;
      @include anim;
      .value {
        display: none;
      }
      &:hover,
      &:active,
      &:focus {
        @include anim;
        color: $textGray;
      }
    }
    @include respond-to(tablet-1030){
      justify-content: space-between;
      border-bottom: 1px solid $lines;
      height: 100%;
      padding: 0 30px;
      background-color: $text;
      display: none;
      color: $textGray;
      @include anim;
      &:hover,
      &:active,
      &:focus,
      &.active {
        color: $textGray;
        @include anim;
      }
    }
    .label-link {
      &:hover,
      &:active,
      &:focus,
      &.active {
        color: $elements;
        @include anim;
        @include respond-to(tablet-1030){
          color: $textGray;
          @include anim;
        }
      }
    }
  }
  &__cart {
    grid-area: headerCart;
    @include respond-to(tablet-1030){
      justify-content: flex-end;
      border: none;
      padding-right: 30px;
      padding-left: 0;
      background-color: transparent;
      display: flex;
      height: 100%;
    }
    @include respond-to(xs-600){
      grid-row: 2/3;
    }
    @include respond-to(xs-370){
      padding-right: 20px;
    }
    @include respond-to(xs-340){
      padding-right: 10px;
    }
  }
  &__favorite {
    grid-area: headerFavorite;
    &:before {
      display: none;
    }
  }
  &__comparison {
    grid-area: headerComparison;
  }
  &__line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: $lines;
    position: absolute;
    top: 33px;
    @include respond-to(tablet-1030){
      top: 138px;
      display: none;
    }
    @include respond-to(xs-600){
      top: 100px;
    }
  }
  &__burger {
    grid-area: headerBurger;
    display: none;
    align-items: center;
    justify-content: flex-start;
    @include respond-to(tablet-1030){
      display: flex;
      padding-left: 30px;
      padding-right: 10px;
      height: 100%;
    }
    @include respond-to(xs-600){
      grid-row: 2/3;
    }
  }
  &__catalog {
    grid-area: headerCatalog;
    display: none;
    @include respond-to(tablet-1030){
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    @include respond-to(xs-690){
      grid-column: 9/11;
    }
    @include respond-to(xs-600){
      grid-row: 2/3;
      grid-column: 8/11;
      justify-content: center;
      padding: 0;
    }
    .btn {
      @include respond-to(xs-370){
        padding: 5px 10px;
      }
      @include respond-to(xs-340){
        font-size: 11px;
      }
    }
  }
}
//header end