.input-number {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  * {
    display: inline-block;
    vertical-align: middle;
  }
  &_arrow {
    width: 15px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    @include anim;
    &:hover {
      &:before {
        @include anim;
        color: $elements;
      }
    }
    &:before {
      @include anim;
      content: "-";
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    &.next {
      position: relative;
      left: 0px;
      @include anim;
      &:hover {
        &:before {
          @include anim;
          color: $elements;
        }
      }
      &:before {
        content: "+";
        @include anim;
        color: $text;
      }
    }
  }
  &_input {
    text-align: center;
    width: 80%;
    height: 100%;
    padding: 0;
    border-left: unset;
    border-right: unset;
    appearance: none;
    border: unset;
    background-color: transparent;
    text-align: center;
    font-size: 14px;
    line-height: 1em;
  }
  &.disabled {
    .input-number_arrow {
      &:before {
        color: lighten($text, 40%);
      }
      &.next {
        &:before {
          color: lighten($text, 40%);
        }
      }
      &:hover {
        opacity: .6;
      }
    }
  }
}