//menu start
.menu {
  a {
    color: $text;
    font-size: 12px;
    line-height: 120%;
    &:after {
      display: none;
    }
    &:hover,
    &:active,
    &:focus {
      color: $text;
      @include anim;
      @include fm;
      line-height: 140%;
    }
  }
}
//menu end