//pagination start
.pagination {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 0;
    &:before {
      display: none;
    }
  }
  &_link {
    width: 100%;
    height: 100%;
    color: $text;
    @include anim;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_item {
    width: 30px;
    height: 30px;
    font-size: 14px;
    visibility: visible;
    @include anim;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    background-color: transparent;
    &_link {
      display: inline-block;
      width: 100%;
      color: $text;
    }
    &.hide {
      @include anim;
      display: none;
    }
    &.more {
      border: none;
      .pagination_link {
        color: $text;
      }
    }
    &.active {
      background-color: $text;
      @include anim;
      .pagination_link {
        color: $white;
      }
      &:hover,
      &:active,
      &:focus {
        @include anim;
        background-color: $elements;
        .pagination_link {
          @include anim;
          color: $white;
        }
      }
    }
    &:hover,
    &:active,
    &:focus {
      @include anim;
      cursor: pointer;
      color: $elements;
      .pagination_link {
        @include anim;
        color: $elements;
      }
    }
    &.prev,
    &.next {
      background-color: transparent;
      border: none;
      .pagination_link {
        @include anim;
        color: $text;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
      }
      &:hover,
      &:active,
      &:focus,
      &.active {
        @include anim;
        background-color: transparent;
        color: $elements;
        .pagination_link {
          @include anim;
          color: $elements;
        }
      }
    }
    &.next {
      margin-right: 0;
    }
    &.more {
      &:hover,
      &:active,
      &:focus,
      &.active {
        @include anim;
        border: none;
        .pagination_link {
          @include anim;
          color: $elements;
        }
      }
    }
  }
  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 50px 0;
    @include respond-to(sm) {
      margin: 20px 0 10px;
    }
  }
}
//pagination end