//partners start
.partners {
  background-color: $grayBG;
  width: 120px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 20;
  border-radius: 5px;
  ul,
  ol {
    padding: 0;
    list-style: none;
    margin: 0;
    li {
      margin: 0;
      padding: 0;
      &:before {
        display: none;
      }
    }
  }
  &__header {
    padding: 10px;
    text-transform: uppercase;
    color: $elements;
    font-size: 14px;
    text-align: center;
  }
  &__li {
    line-height: 0;
    font-size: 0;
    height: 40px;
  }
  &__link {
    border: 1px solid $lines;
    //display: inline-block;
    background-color: $white;
    border-radius: 5px;
    padding: 5px 15px;
    line-height: 0;
    font-size: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      opacity: 0.6;
      @include anim;
    }
    &:hover,
    &:active,
    &:focus {
      img {
        opacity: 1;
        @include anim;
      }
    }
  }
  @include respond-to(tablet-1030) {
    display: none;
  }
}
//partners end
