//product-item start
.product-item {
  max-width: 33.3%;
  @include anim;
  position: relative;
  border-top: 1px solid transparent;
  &__offer {
    @include respond-to(sm) {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
    }
    .btn {
      display: none;
      @include respond-to(sm) {
        display: block;
      }
    }
  }
  .btn {
    @include respond-to(sm) {
      padding: 8px 16px;
      font-size: 11px;
      letter-spacing: 0.6px;
      line-height: 15px;
    }
  }
  &__right {
    position: absolute;
    width: 16px;
    height: 100%;
    right: -16px;
    background-color: $white;
    top: -1px;
    border-right: 1px solid $textLight;
    border-top: 1px solid $textLight;
    border-bottom: 1px solid $textLight;
    opacity: 0;
    z-index: -1;
    @include anim;
    @include respond-to(sm) {
      display: none;
    }
  }
  a {
    &:after {
      display: none;
    }
  }
  &__colors {
    position: absolute;
    height: 100%;
    width: 77px;
    padding: 16px 11px 16px 16px;
    top: -1px;
    left: -77px;
    opacity: 0;
    z-index: -1;
    border-left: 1px solid $textLight;
    border-top: 1px solid $textLight;
    border-bottom: 1px solid $textLight;
    @include respond-to(sm) {
      display: none;
    }
    @include anim;
    background-color: $white;
    a {
      border: 1px solid $gray2;
      @include anim;
      width: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      &:focus,
      &:active,
      &:hover {
        border: 1px solid $accent;
        @include anim;
      }
    }
  }
  &__main {
    @include anim;
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
  }
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    position: relative;
  }
  &__drop {
    position: absolute;
    top: 100%;
    width: 100%;
    opacity: 0;
    z-index: -1;
    background-color: white;
    @include anim;
    padding-bottom: 20px;
    border-bottom: 1px solid $textLight;
    @include respond-to(sm) {
      display: none;
    }
  }
  &__buttons {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    @include anim;
    button {
      flex-grow: 1;
      margin-right: 14px;
      &:last-child {
        margin-right: 0;
      }
    }
    .icon-point {
      color: $textDark;
      font-size: 25px;
      @include anim;
      margin-left: 14px;
      position: relative;
      &:focus,
      &:active,
      &:hover {
        cursor: pointer;
        color: $elements;
        @include anim;
        span {
          visibility: visible;
          opacity: 1;
          @include anim;
        }
      }
      span {
        z-index: 5;
        position: absolute;
        padding: 6px 12px;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.2px;
        background-color: $white;
        border: 1px solid $gray3;
        width: auto;
        max-width: none;
        top: calc(100% - 10px);
        left: 50%;
        transform: translateX(-50%);
        visibility: hidden;
        opacity: 0;
        color: $textDark;
        @include anim;
        white-space: nowrap;
      }
    }
    .btn-missing {
      margin-bottom: 14px;
    }
  }
  &__sizes {
    margin-top: 15px;
    @include anim;
    .subtitle {
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0.1px;
      color: $textLight;
    }
    &-box {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      button,
      a {
        @include fm;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.8px;
        margin-right: 12px;
        position: relative;
        display: inline-block;
        background-color: transparent;
        padding: 0;
        &:after {
          transform-origin: center;
          width: 0%;
          height: 1px;
          position: absolute;
          bottom: -2px;
          content: '';
          @include anim;
          left: 50%;
          display: inline-block;
          transform: translateX(-50%);
          background-color: $textDark;
        }
        &:hover,
        &:active,
        &:focus {
          &:after {
            width: 100%;
            @include anim;
          }
        }
      }
    }
  }
  &__favorite,
  &__label {
    position: absolute;
  }
  &__label {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 5;
  }
  &__sale {
    @include fb;
    font-size: 15px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    letter-spacing: 1.4px;
    color: $attention;
  }
  &__favorite {
    right: 12px;
    top: 12px;
    display: inline-flex;
    text-align: center;
    justify-content: flex-end;
    font-size: 30px;
    cursor: pointer;
  }
  &__img {
    height: 374px;
    background-color: $white;
    margin-bottom: 16px;
    img {
      object-fit: cover;
    }
    @include respond-to(sm) {
      height: 222px;
    }
  }
  &__title {
    margin-bottom: 4px;
    @include respond-to(sm) {
      margin-bottom: 12px;
    }
  }
  &__price {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
    @include respond-to(sm) {
      font-size: 12px;
      line-height: 14px;
      order: 1;
    }
    &_old {
      @include fr;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.2px;
      text-decoration-line: line-through;
      color: $textLight;
      @include respond-to(sm) {
        font-size: 11px;
        line-height: 13px;
        order: 0;
      }
    }
    &-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 15px;
      @include respond-to(sm) {
        padding-bottom: 0;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
    }
    span {
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &.active {
    background-color: $white;
    z-index: 6;
    border-top: 1px solid $textLight;
    @include anim;
    @include respond-to(sm) {
      background-color: transparent;
      border-top: 1px solid transparent;
    }
    .product-item {
      &__drop,
      &__colors,
      &__right {
        z-index: 6;
        opacity: 1;
        @include anim;
      }
    }
  }
  &_slide {
    height: auto;
    border: 1px solid transparent;
    padding: 0 15px;
    background-color: transparent;
    @include anim;
    .product-item {
      &__drop,
      &__colors,
      &__right {
        display: none;
      }
      &__img {
        padding: 0 15px;
        @include anim;
      }
      &__offer {

      }
    }
    &.active {
      border: 1px solid $textLight;
      @include anim;
      .product-item {
        &__main {
          @include anim;
        }
      }
    }
    @include respond-to(sm) {
      padding: 0 6px;
    }
  }
}
//product-item end
