//text-content start
.text-content {
  margin-top: 20px;
  @include respond-to(sm) {
    margin: 5px 0 15px;
  }
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      &:before {
        width: auto;
        height: auto;
        background-color: transparent;
      }
    }
  }
  h3 {
    margin: 20px 0;
  }
  &__item {
    padding-right: 10px;
    max-height: 150px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 12px;
      background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px $lines;
      background-color: $grayBG2;
    }
    ul, ol {
      margin: 15px 0;
      padding-left: 15px;
    }
    ul {
      li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 140%;
        @include respond-to(md){
          font-size: 14px;
          line-height: 120%;
        }
        &:before {
          content: "●";
          position: absolute;
          left: 0;
          top: 0;
          color: $text;
        }
      }
    }
    ol {
      li {
        padding-left: 20px;
        margin-bottom: 10px;
        &:before {
          left: 0;
        }
      }
    }
  }
}
//text-content end
