//basket-sidebar start
.basket-sidebar {
  padding: 20px;
  background-color: $grayBG;
  border-top: 1px solid $lines;
  &__item {
    margin-bottom: 10px;
    @include respond-to(max-height-420) {
      margin-bottom: 5px;
    }
    .title {
      font-size: 12px;
      line-height: 14px;
      color: $text;
      margin: 5px 15px 5px 0;
      width: 70px;
      display: inline-flex;
    }
    .value {
      font-size: 12px;
      line-height: 14px;
      color: $text;
      margin-right: 5px;
    }
  }
  &__final {
    .value,
    .currency {
      font-size: 18px;
      line-height: 21px;
      letter-spacing: -0.02em;
      color: $attention;
      @include fb;
    }
  }
  .btn_buy {
    margin-bottom: 15px;
    @include respond-to(max-height-420) {
      margin-bottom: 5px;
      padding: 10px;
    }
  }
  .btn-link {
    text-align: center;
    display: block;
    font-size: 12px;
    line-height: 14px;
    text-transform: none;
  }
  @include respond-to(max-height-420) {
    padding: 10px 20px;
  }
}
//basket-sidebar end