//basket/cart start
.basket {
  &-content {
    overflow-y: auto;
    max-height: 357px;
    @include respond-to(xs-690) {
      max-height: 200px;
    }
    @include respond-to(max-height-420) {
      max-height: 100px;
    }
    @include respond-to(xs-370) {
      max-height: 130px;
    }
  }
}
//basket/cart end
