include ../../components/_button
section.main-banner
    .container
        .main-banner__wrapper
            .main-banner__img
                img(data-src="images/other/Box.png" alt="kariant" title="kariant")
            .main-banner__text
                h2.title Опт и дроппшипинг
                p Зарабатывайте вместе с нами
                +button('Перейти', 'a', '')