include ../../components/_button
section.main-instagram

    .container
        .main-instagram__wrapper
            .main-instagram__header
                .main-instagram__header-title
                    span @kariant_official
                    h2.title Наш Instagram
                +button('Перейти в Instagram', 'a', '')(class="btn-link-small btn-link" )
            ul.main-instagram__img
                li
                    a(href="#")
                        img(data-src="images/products/4.jpg" alt="kariant" title="kariant")

                li
                    a(href="#")
                        img(data-src="images/products/2.jpg" alt="kariant" title="kariant")

                li
                    a(href="#")
                        img(data-src="images/products/14.jpg" alt="kariant" title="kariant")

                li
                    a(href="#")
                        img(data-src="images/products/3.jpg" alt="kariant" title="kariant")

