include ../../components/_button

section.main-products
    .container
        .main-products__wrapper
            ul.main-products__list
                li
                    +button('Новые тренчи', 'a')(class="btn-link btn-link-unline btn-link-middle")
                li
                    +button('Парки', 'a')(class="btn-link btn-link-unline btn-link-middle")
                li
                    +button('Демисезонные куртки', 'a')(class="btn-link btn-link-unline btn-link-middle")
                li
                    +button('Верхняя одежда', 'a')(class="btn-link btn-link-unline btn-link-middle")
                li
                    +button('Жилеты', 'a')(class="btn-link btn-link-unline btn-link-middle")
                li
                    +button('Пуховики', 'a')(class="btn-link btn-link-unline btn-link-middle")

            .main-products__img
                img(data-src="images/products/14.jpg" alt='Новые тренчи' title='Новые тренчи')
                img(data-src="images/products/2.jpg" alt='Парки' title='Парки')
                img(data-src="images/products/5.jpg" alt='Демисезонные куртки' title='Демисезонные куртки')
                img(data-src="images/products/4.jpg" alt='Верхняя одежда' title='Верхняя одежда')
                img(data-src="images/products/1.png" alt='Жилеты' title='Жилеты')
                img(data-src="images/products/3.jpg" alt='Пуховики' title='Пуховики')
