include ../../components/_button

section.main-slider.js-main-banner.swiper-container
    .swiper-wrapper
        - var img = ["1.png", "13.png", "15.png"]
        - var title = ["Весенняя коллекция от украинского производителя", "Зимняя коллекция от украинского производителя", "Осенняя коллекция от украинского производителя"]
        - var color = ["#CFC6C3", "#EFEFEF", "#CEB499"]
        - for (var i = 0; i < img.length; i++)
            .main-slider__wrapper.swiper-slide
                .container
                    .main-slider__item(style='background-color:' + color[i] +';')
                        .main-slider__contant
                            .main-slider__box
                                h2.title.title-big= title[i]
                                +button('Перейти', 'a', '')
                            .main-slider__controls
                                .swiper-pagination
                                .swiper-arrows
                                    .swiper-button-prev
                                    .swiper-button-next
                        .main-slider__img(style='background-color:' + color[i] +';')
                            img(data-src="images/products/"+img[i] alt=img[i] title=img[i])