
<div class="card-sidebar auto-fix-sidebar">
  <div class="card-sidebar__wrapper">
    <div class="product-item__label label-status label-status_sale">Акция</div>
    <div class="card-sidebar__image">
      <div class="card__image_loupe">
        <div class="card__image_slider-big gallery-images"><a href="images/catalog/image8.jpg" data-fancybox="gallery" data-title="MacBook Air 11 2015 (128 Gb)">
            <div class="card__image_slider-big-slide"><img data-src="images/catalog/image8.jpg" title="Холодильник Liebherr CB 4815" alt="Холодильник Liebherr CB 4815" id="image-1" data-zoom-image="images/catalog/image8.jpg" class="product-image"/></div></a><a href="images/catalog/item-image1.jpg" data-fancybox="gallery" data-title="Холодильник Liebherr CB 4815">
            <div class="card__image_slider-big-slide"><img data-src="images/catalog/item-image1.jpg" title="Холодильник Liebherr CB 4815" alt="Холодильник Liebherr CB 4815" id="image-2" data-zoom-image="images/catalog/item-image1.jpg" class="product-image"/></div></a><a href="images/catalog/item-image2.jpg" data-fancybox="gallery" data-title="Холодильник Liebherr CB 4815">
            <div class="card__image_slider-big-slide"><img data-src="images/catalog/item-image2.jpg" title="Холодильник Liebherr CB 4815" alt="Холодильник Liebherr CB 4815" id="image-3" data-zoom-image="images/catalog/item-image2.jpg" class="product-image"/></div></a><a href="images/catalog/item-image3.jpg" data-fancybox="gallery" data-title="Холодильник Liebherr CB 4815">
            <div class="card__image_slider-big-slide"><img data-src="images/catalog/item-image3.jpg" title="Холодильник Liebherr CB 4815" alt="Холодильник Liebherr CB 4815" id="image-4" data-zoom-image="images/catalog/item-image3.jpg" class="product-image"/></div></a><a href="images/catalog/item-image5.jpg" data-fancybox="gallery" data-title="Холодильник Liebherr CB 4815">
            <div class="card__image_slider-big-slide"><img data-src="images/catalog/item-image5.jpg" title="Холодильник Liebherr CB 4815" alt="Холодильник Liebherr CB 4815" id="image-5" data-zoom-image="images/catalog/item-image5.jpg" class="product-image"/></div></a><a href="https://www.youtube.com/embed/5B2g-c15Trk" data-fancybox="gallery" data-title="Холодильник Liebherr CB 4815">
            <div class="card__image_slider-big-slide card-info__image_video"><img data-src="images/catalog/item-image4.jpg" title="Холодильник Liebherr CB 4815" alt="Холодильник Liebherr CB 4815" id="image-6" data-zoom-image="images/catalog/item-image4.jpg" class="product-image"/></div></a></div>
        <div class="card__image_slider-small">
          <div class="card__image_slider-small-slide"><img data-src="images/catalog/image8.jpg" title="Холодильник Liebherr CB 4815" alt="Холодильник Liebherr CB 4815" data-image-index="1"/></div>
          <div class="card__image_slider-small-slide"><img data-src="images/catalog/item-image1.jpg" title="Холодильник Liebherr CB 4815" alt="Холодильник Liebherr CB 4815" data-image-index="2"/></div>
          <div class="card__image_slider-small-slide"><img data-src="images/catalog/item-image2.jpg" title="Холодильник Liebherr CB 4815" alt="Холодильник Liebherr CB 4815" data-image-index="3"/></div>
          <div class="card__image_slider-small-slide"><img data-src="images/catalog/item-image3.jpg" title="Холодильник Liebherr CB 4815" alt="Холодильник Liebherr CB 4815" data-image-index="4"/></div>
          <div class="card__image_slider-small-slide"><img data-src="images/catalog/item-image5.jpg" title="Холодильник Liebherr CB 4815" alt="Холодильник Liebherr CB 4815" data-image-index="5"/></div>
          <div class="card__image_slider-small-slide card-info__image_video"><img data-src="images/catalog/item-image4.jpg" title="Холодильник Liebherr CB 4815" alt="Холодильник Liebherr CB 4815" data-image-index="6"/></div>
        </div>
      </div>
    </div>
    <nav class="card-sidebar__nav">
      <ul class="card-sidebar__nav-list">
        <li class="card-sidebar__nav-li"><a href="#anchor-technologies" class="card-sidebar__nav-link scrollto">Применяемые технологии
            <div class="icon icon-small-right"></div></a></li>
        <li class="card-sidebar__nav-li"><a href="#anchor-characteristic" class="card-sidebar__nav-link scrollto">Характеристики
            <div class="icon icon-small-right"></div></a></li>
        <li class="card-sidebar__nav-li"><a href="#anchor-description" class="card-sidebar__nav-link scrollto">Описание
            <div class="icon icon-small-right"></div></a></li>
        <li class="card-sidebar__nav-li"><a href="#anchor-accessories" class="card-sidebar__nav-link scrollto">Рекомендуемые аксессуары
            <div class="icon icon-small-right"></div></a></li>
        <li class="card-sidebar__nav-li"><a href="#anchor-similar" class="card-sidebar__nav-link scrollto">Подобные товары
            <div class="icon icon-small-right"></div></a></li>
      </ul>
      <div class="card-sidebar__instruction"><a href="#" target="_blank"><span>Скачать инструкцию</span>
          <div class="icon icon-pdf"></div></a></div>
    </nav>
  </div>
</div>