
<section class="card-info">
  <div class="card-info__wrapper"><a href="http://html.myapp.com.ua/l-ua/stock-one.html" class="product-item__stock icon-gift icon">Получи сумку в подарок
      <div class="product-item__stock-content"><span>при наведении появляется тултип с минимальным описанием подарка и/или акции</span></div></a>
    <h1 class="title">Холодильник Liebherr CB 4815</h1>
    <div class="card-info__vendor-button">
      <div class="basket-item__vendor-code"><span class="title">Артикул:</span><span class="value">14b23f</span></div>
      <div class="product-item__buttons-add">
        <button type="submit">
          <div class="icon icon-like label-link"></div>
        </button>
        <button type="submit">
          <div class="icon icon-comparison label-link"></div>
        </button>
      </div>
    </div>
    <div class="card-info__price">
      <div class="product-item__price product-item__price_old"><span class="price">100 300</span><span class="currency">грн</span></div>
      <div class="product-item__price"><span class="price">100 200</span><span class="currency">грн</span></div>
    </div>
    <div class="card-sidebar__additional">
      <div class="card-info__missing">
        <div class="subtitle">Нет в наличии</div>
      </div>
      <div class="product-item__info">
        <div class="product-item__tabs js-tabs">
          <div class="product-item__tabs-buttons js-tabs__buttons">
            <div class="product-item__tabs-button js-tabs__button">
              <button type="submit" class="btn btn-transparent btn-small"><span>Ваша цена</span></button>
            </div>
            <div class="product-item__tabs-button product-item__tabs-button_red js-tabs__button">
              <button type="submit" class="btn btn-atten btn-transparent btn-small active"><span>Cделать скидку</span></button>
            </div>
          </div>
          <div class="product-item__tabs-content js-tabs__content">
            <div class="content-block js-tabs__content-block"><span>Аргумент для обсуждения. Возможность получения информации о понижении цены</span></div>
            <div class="content-block content-block_red js-tabs__content-block"><span>При покупке товара на сумму 1000грн -</span><strong>скидка 200 грн</strong></div>
          </div>
        </div>
        <!--.product-item__content-->
        <!--    p-->
        <!--        strong ДИЗАЙН-->
        <!--        span Стильный и практичный холодильник серии Comfort выполнен в фирменном стиле SwingLine. Плавность линий и округленность краев подчеркивают утонченность данного прибора. Холодильник LIEBHERR имеет белый корпус из нержавеющей стали. Специальное внешнее покрытие SmartSteel защищает дверцу от отпечатков пальцев и незначительных внешних повреждений. Габариты устройства составляют 185.2 х 121 х 63 см. Для экономии пространства холодильник можно устанавливать вплотную к стене или встраивать в подготовленную нишу.-->
        <!--    p-->
        <!--        strong ТЕХНОЛОГИЯ DUOCOOLING-->
        <!--        span Для более точной настройки параметров работы в холодильное и морозильное отделение встроены независимые охлаждающие контуры и вентиляторы. Технология DuoCooling позволяет поддерживать кардинально разные температурные условия, при этом не допуская взаимного воздухообмена.-->
        <!--    p-->
        <!--        strong УПРАВЛЕНИЕ ХОЛОДИЛЬНЫМ ОТДЕЛЕНИЕМ-->
        <!--        span Холодильное отделение объемом 390 л позволяет хранить множество продуктов, избавляя от еженедельного посещения супермаркета. Достаточно простое и легкое управление в морозильной и холодильной камере реализовано с помощью дисплея MagicEye. Все индикаторы и электронные клавиши удобно расположены на торцевой части отделения и скрыты дверцей. Можно вручную настроить температуру и контролировать нужные параметры с помощью цифрового дисплея. Режим разморозки – автоматический.-->
      </div>
      <div class="card-info__quantity">
        <div class="input-number">
          <div class="input-number_arrow prev"></div>
          <input type="number" readonly="readonly" min="1" max="99" value="1" step="1" class="input-number_input"/>
          <div class="input-number_arrow next"></div>
        </div>
      </div>
      <div class="product-item__buttons">
        <button type="submit" class="btn icon icon-cart2" data-target="cart"><span>Купить</span></button>
        <button type="submit" class="btn btn-transparent" data-target="call"><span>купить в один клик</span></button>
        <button type="submit" class="btn btn-missing" data-target="missing"><span>Сообщить когда появится</span></button>
        <div class="product-item__buttons-add">
          <button data-target="favorite" class="btn btn-link">
            <div class="icon icon-like label-link btn btn-link"></div>
          </button>
          <button data-target="comparison" class="btn btn-link">
            <div class="icon icon-comparison label-link btn btn-link"></div>
          </button>
        </div>
      </div>
    </div>
    <div class="card-sidebar__instruction"><a href="#" target="_blank"><span>Скачать инструкцию</span>
        <div class="icon icon-pdf"></div></a></div>
  </div>
  <div class="card-info__sidebar">
    <div class="card-info__sidebar-item"><span class="title">Доставка в</span>
      <div class="dropdown dropdown_select">
        <div class="dropdown__wrapper"><span></span>
          <select id="sort-town" class="select icon icon-normal_arr">
            <option>Ивано-Франковск</option>
            <option>Киев</option>
            <option>Харьков</option>
            <option>Одесса</option>
            <option>Львов</option>
          </select>
        </div>
      </div>
    </div>
    <div class="card-info__sidebar-item">
      <ul class="card-info__sidebar-list">
        <li class="card-info__sidebar-li"><span class="title">Самовывоз из Новой Почты</span><span class="value">90<span class="currency">грн</span></span></li>
        <li class="card-info__sidebar-li"><span class="title">Курьер Мист Экспресс</span><span class="value">90<span class="currency">грн</span></span></li>
        <li class="card-info__sidebar-li"><span class="title">Курьер Новая Почта</span><span class="value">90<span class="currency">грн</span></span></li>
      </ul>
    </div>
    <div class="card-info__sidebar-item"><span class="title">Оплата</span><span>Наличными, Visa/MasterCard,</span>
      <p>Оплата частями, безналичный расчет, Мгновенная рассрочка</p>
    </div>
    <div class="card-info__sidebar-item"><span class="title">Гарантия 24 месяца</span>
      <p>официальной гарантии от производителя, обмен/возврат товара в течении 14 дней</p>
    </div>
    <div class="card-info__sidebar-item">
      <p>Мы гарантируем упаковку заказанного товара, которая обеспечит целостность и сохранность его товарного вида</p>
    </div>
  </div>
</section>