
<section id="anchor-characteristic" class="card_characteristic">
  <div class="branded-box">
    <table>
      <caption>Характеристики</caption>
      <tbody>
        <tr>
          <th>Класс модели</th>
          <td>Premium</td>
        </tr>
        <tr>
          <th>Габариты (ВхШхГ) (см)</th>
          <td>121,8х55,9х54,4</td>
        </tr>
        <tr>
          <th>Вес (кг), без упаковки/в упаковке</th>
          <td>51,3/54,1</td>
        </tr>
        <tr>
          <th>Общий объем холодильной/морозильной камер (л)</th>
          <td>226/-</td>
        </tr>
        <tr>
          <th>Объем холодильной камеры общий/полезный (л)</th>
          <td>161/137</td>
        </tr>
        <tr>
          <th>Объем зоны свежести BioFresh общий/полезный (л)</th>
          <td>65/69</td>
        </tr>
        <tr style="display: none;">
          <th>Объем морозильной камеры общий/полезный (л)</th>
          <td>-/-</td>
        </tr>
        <tr style="display: none;">
          <th>Расположение морозильной камеры</th>
          <td>Нет</td>
        </tr>
        <tr style="display: none;">
          <th>No Frost (Frost Free)</th>
          <td>Нет</td>
        </tr>
        <tr style="display: none;">
          <th>BioFresh зона свежести</th>
          <td>Есть</td>
        </tr>
        <tr style="display: none;">
          <th>Тип управления</th>
          <td>Дисплей MagicEye с цифровой индикацией температуры</td>
        </tr>
        <tr style="display: none;">
          <th>Регулируемые контуры охлаждения</th>
          <td>1</td>
        </tr>
        <tr style="display: none;">
          <th>Кол-во компрессоров</th>
          <td>1</td>
        </tr>
        <tr style="display: none;">
          <th>Двери</th>
          <td>Перенавешивание</td>
        </tr>
        <tr style="display: none;">
          <th>Крепление дверей фасада</th>
          <td>Жесткое (door-on-door)</td>
        </tr>
        <tr style="display: none;">
          <th>Полки</th>
          <td>Стекло</td>
        </tr>
        <tr style="display: none;">
          <th>Звуковая сигнализация</th>
          <td>Есть</td>
        </tr>
        <tr style="display: none;">
          <th>Класс энергопотребления</th>
          <td>А++</td>
        </tr>
        <tr style="display: none;">
          <th>Энергопотребление (кВт*ч в год)</th>
          <td>38</td>
        </tr>
        <tr style="display: none;">
          <th>Уровень шума (Дб)</th>
          <td>121</td>
        </tr>
        <tr style="display: none;">
          <th>Ледогенератор</th>
          <td>Нет</td>
        </tr>
        <tr style="display: none;">
          <th>Климатический класс</th>
          <td>SN-T (+10 С to +43 С)</td>
        </tr>
        <tr style="display: none;">
          <th>Страна-производитель</th>
          <td>Германия</td>
        </tr>
        <tr style="display: none;">
          <th>Гарантия</th>
          <td>3 года</td>
        </tr>
        <tr style="display: none;">
          <th>Примечания</th>
          <td>Производитель на свое усмотрение и без дополнительных уведомлений может менять технические характеристики и комплектацию модели.</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="2"><span data-text="Все характеристики" data-hidden="Скрыть">Все характеристики</span>
            <div class="icon icon-big-right"></div>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</section>