
<section id="anchor-similar" class="card_similar-product">
  <div class="main-leaders__header">
    <h2 class="title title_center">Подобные товары</h2>
  </div>
  <div class="main-leaders__wrapper">
    <div class="main-leaders__slider js-card_similar-product-slider">
      <div class="main-leaders__item">
              <div class="product-item product-item_stock"><a href="/l-ua/card.html" class="product-item__wrapper">
                  <div class="product-item__label label-status label-status_new">Новинка</div>
                  <div data-target="product-delete" class="product-item__delete basket-item__remove">
                    <div class="icon icon-delete"></div>
                  </div>
                  <div class="product-item__img"><img data-src="images/catalog/image0.jpg" alt="Воздушный фильтр FreshAir " title="Воздушный фильтр FreshAir "/></div>
                  <div class="product-item__main">
                    <div class="product-item__stock icon-gift icon">Получи сумку в подарок
                      <div class="product-item__stock-content"><span>при наведении появляется тултип с минимальным описанием подарка и/или акции</span></div>
                    </div>
                    <h2 class="product-item__title subtitle">Воздушный фильтр FreshAir </h2>
                    <div class="product-item__price product-item__price_old"><span class="price">228</span><span class="currency">грн</span></div>
                    <div class="product-item__price"><span class="price">226</span><span class="currency">грн</span></div>
                    <div class="product-item__missing-title">
                      <div class="subtitle">Нет в наличии</div>
                    </div>
                  </div>
                  <div class="product-item__additional">
                    <div class="product-item__info">
                      <div class="product-item__tabs js-tabs">
                        <div class="product-item__tabs-buttons js-tabs__buttons">
                          <div class="product-item__tabs-button js-tabs__button">
                                  <button type="submit" class="btn btn-transparent btn-small"><span>Ваша цена</span></button>
                          </div>
                          <div class="product-item__tabs-button product-item__tabs-button_red js-tabs__button">
                                  <button type="submit" class="btn btn-atten btn-transparent btn-small"><span>Cделать скидку</span></button>
                          </div>
                        </div>
                        <div class="product-item__tabs-content js-tabs__content">
                          <div class="content-block js-tabs__content-block"><span>Аргумент для обсуждения. Возможность получения информации о понижении цены</span></div>
                          <div class="content-block content-block_red js-tabs__content-block"><span>При покупке товара на сумму 1000грн -</span><strong>скидка 200 грн</strong></div>
                        </div>
                      </div>
                      <div class="product-item__content"><span>ВхШхГ: 186,1х60х65,7; класс A++;</span></div>
                    </div>
                    <div class="product-item__buttons">
                            <button type="submit" class="btn" data-target="cart"><span>В корзину</span></button>
                      <div class="product-item__buttons-add">
                        <button data-target="favorite" class="btn btn-link">
                          <div class="icon icon-like label-link btn btn-link"></div>
                        </button>
                        <button data-target="comparison" class="btn btn-link">
                          <div class="icon icon-comparison label-link btn btn-link"></div>
                        </button>
                      </div>
                    </div>
                    <div class="product-item__missing-buttons">
                            <button type="submit" class="btn btn-missing" data-target="missing"><span>Сообщить когда появится</span></button>
                    </div>
                  </div></a></div>
      </div>
      <div class="main-leaders__item">
              <div class="product-item"><a href="/l-ua/card.html" class="product-item__wrapper">
                  <div data-target="product-delete" class="product-item__delete basket-item__remove">
                    <div class="icon icon-delete"></div>
                  </div>
                  <div class="product-item__img"><img data-src="images/catalog/image1.jpg" alt="Двухкамерный холодильник Liebherr CNP 4858" title="Двухкамерный холодильник Liebherr CNP 4858"/></div>
                  <div class="product-item__main">
                    <div class="product-item__stock icon-gift icon">Получи сумку в подарок
                      <div class="product-item__stock-content"><span>при наведении появляется тултип с минимальным описанием подарка и/или акции</span></div>
                    </div>
                    <h2 class="product-item__title subtitle">Двухкамерный холодильник Liebherr CNP 4858</h2>
                    <div class="product-item__price product-item__price_old"><span class="price">24 880</span><span class="currency">грн</span></div>
                    <div class="product-item__price"><span class="price">22 850</span><span class="currency">грн</span></div>
                    <div class="product-item__missing-title">
                      <div class="subtitle">Нет в наличии</div>
                    </div>
                  </div>
                  <div class="product-item__additional">
                    <div class="product-item__info">
                      <div class="product-item__tabs js-tabs">
                        <div class="product-item__tabs-buttons js-tabs__buttons">
                          <div class="product-item__tabs-button js-tabs__button">
                                  <button type="submit" class="btn btn-transparent btn-small"><span>Ваша цена</span></button>
                          </div>
                          <div class="product-item__tabs-button product-item__tabs-button_red js-tabs__button">
                                  <button type="submit" class="btn btn-atten btn-transparent btn-small"><span>Cделать скидку</span></button>
                          </div>
                        </div>
                        <div class="product-item__tabs-content js-tabs__content">
                          <div class="content-block js-tabs__content-block"><span>Аргумент для обсуждения. Возможность получения информации о понижении цены</span></div>
                          <div class="content-block content-block_red js-tabs__content-block"><span>При покупке товара на сумму 1000грн -</span><strong>скидка 200 грн</strong></div>
                        </div>
                      </div>
                      <div class="product-item__content"><span>Этот высококачественный холодильник обеспечит надежное хранение абсолютно каждого продукта в вашем доме. LIEBHERR CNP 4858 с нижним расположением морозильной камеры выполнен в универсальном дизайне и прекрасно смотрится в любом интерьере кухни.</span></div>
                    </div>
                    <div class="product-item__buttons">
                            <button type="submit" class="btn disabled" data-target="cart"><span>В корзину</span></button>
                      <div class="product-item__buttons-add">
                        <button data-target="favorite" class="btn btn-link">
                          <div class="icon icon-like label-link btn btn-link"></div>
                        </button>
                        <button data-target="comparison" class="btn btn-link">
                          <div class="icon icon-comparison label-link btn btn-link"></div>
                        </button>
                      </div>
                    </div>
                    <div class="product-item__missing-buttons">
                            <button type="submit" class="btn btn-missing" data-target="missing"><span>Сообщить когда появится</span></button>
                    </div>
                  </div></a></div>
      </div>
      <div class="main-leaders__item">
              <div class="product-item product-item_stock product-item_old"><a href="/l-ua/card.html" class="product-item__wrapper">
                  <div class="product-item__label label-status label-status_promotion">распродажа</div>
                  <div data-target="product-delete" class="product-item__delete basket-item__remove">
                    <div class="icon icon-delete"></div>
                  </div>
                  <div class="product-item__img"><img data-src="images/catalog/image2.jpg" alt="Встраиваемый двухкамерный холодильник Liebherr ICUNS 3324" title="Встраиваемый двухкамерный холодильник Liebherr ICUNS 3324"/></div>
                  <div class="product-item__main">
                    <div class="product-item__stock icon-gift icon">Получи сумку в подарок
                      <div class="product-item__stock-content"><span>при наведении появляется тултип с минимальным описанием подарка и/или акции</span></div>
                    </div>
                    <h2 class="product-item__title subtitle">Встраиваемый двухкамерный холодильник Liebherr ICUNS 3324</h2>
                    <div class="product-item__price product-item__price_old"><span class="price">246560</span><span class="currency">грн</span></div>
                    <div class="product-item__price"><span class="price">226 880</span><span class="currency">грн</span></div>
                    <div class="product-item__missing-title">
                      <div class="subtitle">Нет в наличии</div>
                    </div>
                  </div>
                  <div class="product-item__additional">
                    <div class="product-item__info">
                      <div class="product-item__tabs js-tabs">
                        <div class="product-item__tabs-buttons js-tabs__buttons">
                          <div class="product-item__tabs-button js-tabs__button">
                                  <button type="submit" class="btn btn-transparent btn-small"><span>Ваша цена</span></button>
                          </div>
                          <div class="product-item__tabs-button product-item__tabs-button_red js-tabs__button">
                                  <button type="submit" class="btn btn-atten btn-transparent btn-small"><span>Cделать скидку</span></button>
                          </div>
                        </div>
                        <div class="product-item__tabs-content js-tabs__content">
                          <div class="content-block js-tabs__content-block"><span>Аргумент для обсуждения. Возможность получения информации о понижении цены</span></div>
                          <div class="content-block content-block_red js-tabs__content-block"><span>При покупке товара на сумму 1000грн -</span><strong>скидка 200 грн</strong></div>
                        </div>
                      </div>
                      <div class="product-item__content"><span>&quot;ВхШхГ: 186,1х60х65,7; класс A++; объем: холодильного отделения 217 л, морозильного отделения 116 л; белый; Болгария</span></div>
                    </div>
                    <div class="product-item__buttons">
                            <button type="submit" class="btn" data-target="cart"><span>В корзину</span></button>
                      <div class="product-item__buttons-add">
                        <button data-target="favorite" class="btn btn-link">
                          <div class="icon icon-like label-link btn btn-link"></div>
                        </button>
                        <button data-target="comparison" class="btn btn-link">
                          <div class="icon icon-comparison label-link btn btn-link"></div>
                        </button>
                      </div>
                    </div>
                    <div class="product-item__missing-buttons">
                            <button type="submit" class="btn btn-missing" data-target="missing"><span>Сообщить когда появится</span></button>
                    </div>
                  </div></a></div>
      </div>
    </div>
  </div>
</section>