
<section id="anchor-technologies" class="card_technologies">
  <div class="branded-box">
    <h2 class="subtitle">Применяемые технологии</h2>
    <div class="card_technologies__grid">
      <div class="card_technologies__item"><img data-src="images/technology/technology1.svg" alt="A++" title="A++"/>
        <div class="card_technologies__info"><img data-src="images/technology/technology1.svg" alt="A++" title="A++"/>
          <div class="card_technologies__content">
            <div class="card_technologies__title">A++</div>
            <div class="card_technologies__text">Система NoFrost обеспечивает замораживание продуктов при помощи циркуляции охлажденного воздуха. Вся лишняя влага выводится за пределы морозильной камеры, вследствие чего на продуктах не образовывается лед и иней. А необходимость ручного размораживания навсегда останется в прошлом.</div>
          </div>
        </div>
      </div>
      <div class="card_technologies__item"><img data-src="images/technology/technology2.svg" alt="Bio Fresh Plus" title="Bio Fresh Plus"/>
        <div class="card_technologies__info"><img data-src="images/technology/technology2.svg" alt="Bio Fresh Plus" title="Bio Fresh Plus"/>
          <div class="card_technologies__content">
            <div class="card_technologies__title">Bio Fresh Plus</div>
            <div class="card_technologies__text">Bio Fresh Plus. Система NoFrost обеспечивает замораживание продуктов при помощи циркуляции охлажденного воздуха. Вся лишняя влага выводится за пределы морозильной камеры, вследствие чего на продуктах не образовывается лед и иней. А необходимость ручного размораживания навсегда останется в прошлом.</div>
          </div>
        </div>
      </div>
      <div class="card_technologies__item"><img data-src="images/technology/technology3.svg" alt="DrySafe HydroSafe" title="DrySafe HydroSafe"/>
        <div class="card_technologies__info"><img data-src="images/technology/technology3.svg" alt="DrySafe HydroSafe" title="DrySafe HydroSafe"/>
          <div class="card_technologies__content">
            <div class="card_technologies__title">DrySafe HydroSafe</div>
            <div class="card_technologies__text">Вся лишняя влага выводится за пределы морозильной камеры, вследствие чего на продуктах не образовывается лед и иней. А необходимость ручного размораживания навсегда останется в прошлом.</div>
          </div>
        </div>
      </div>
      <div class="card_technologies__item"><img data-src="images/technology/technology4.svg" alt="Glass Line" title="Glass Line"/>
        <div class="card_technologies__info"><img data-src="images/technology/technology4.svg" alt="Glass Line" title="Glass Line"/>
          <div class="card_technologies__content">
            <div class="card_technologies__title">Glass Line</div>
            <div class="card_technologies__text">Glass Line. Вся лишняя влага выводится за пределы морозильной камеры, вследствие чего на продуктах не образовывается лед и иней. А необходимость ручного размораживания навсегда останется в прошлом.</div>
          </div>
        </div>
      </div>
      <div class="card_technologies__item"><img data-src="images/technology/technology5.svg" alt="Power Cooling" title="Power Cooling"/>
        <div class="card_technologies__info"><img data-src="images/technology/technology5.svg" alt="Power Cooling" title="Power Cooling"/>
          <div class="card_technologies__content">
            <div class="card_technologies__title">Power Cooling</div>
            <div class="card_technologies__text">Вся лишняя влага выводится за пределы морозильной камеры, вследствие чего на продуктах не образовывается лед и иней. А необходимость ручного размораживания навсегда останется в прошлом.</div>
          </div>
        </div>
      </div>
      <div class="card_technologies__item"><img data-src="images/technology/technology6.svg" alt="A++" title="A++"/>
        <div class="card_technologies__info"><img data-src="images/technology/technology6.svg" alt="A++" title="A++"/>
          <div class="card_technologies__content">
            <div class="card_technologies__title">A++</div>
            <div class="card_technologies__text">А необходимость ручного размораживания навсегда останется в прошлом.</div>
          </div>
        </div>
      </div>
      <div class="card_technologies__item"><img data-src="images/technology/technology7.svg" alt="Bio Fresh Plus" title="Bio Fresh Plus"/>
        <div class="card_technologies__info"><img data-src="images/technology/technology7.svg" alt="Bio Fresh Plus" title="Bio Fresh Plus"/>
          <div class="card_technologies__content">
            <div class="card_technologies__title">Bio Fresh Plus</div>
            <div class="card_technologies__text">Система NoFrost обеспечивает замораживание продуктов при помощи циркуляции охлажденного воздуха. Вся лишняя влага выводится за пределы морозильной камеры, вследствие чего на продуктах не образовывается лед и иней. А необходимость ручного размораживания навсегда останется в прошлом.</div>
          </div>
        </div>
      </div>
      <div class="card_technologies__item"><img data-src="images/technology/technology8.svg" alt="DrySafe HydroSafe" title="DrySafe HydroSafe"/>
        <div class="card_technologies__info"><img data-src="images/technology/technology8.svg" alt="DrySafe HydroSafe" title="DrySafe HydroSafe"/>
          <div class="card_technologies__content">
            <div class="card_technologies__title">DrySafe HydroSafe</div>
            <div class="card_technologies__text">Не следует, однако забывать, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке дальнейших направлений развития.</div>
          </div>
        </div>
      </div>
      <div class="card_technologies__item"><img data-src="images/technology/technology9.svg" alt="Glass Line" title="Glass Line"/>
        <div class="card_technologies__info"><img data-src="images/technology/technology9.svg" alt="Glass Line" title="Glass Line"/>
          <div class="card_technologies__content">
            <div class="card_technologies__title">Glass Line</div>
            <div class="card_technologies__text">Не следует, однако забывать, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке дальнейших направлений развития. Таким образом дальнейшее развитие различных форм деятельности способствует подготовки и реализации направлений прогрессивного развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.</div>
          </div>
        </div>
      </div>
      <div class="card_technologies__item"><img data-src="images/technology/technology10.svg" alt="Power Cooling" title="Power Cooling"/>
        <div class="card_technologies__info"><img data-src="images/technology/technology10.svg" alt="Power Cooling" title="Power Cooling"/>
          <div class="card_technologies__content">
            <div class="card_technologies__title">Power Cooling</div>
            <div class="card_technologies__text">Таким образом дальнейшее развитие различных форм деятельности способствует подготовки и реализации направлений прогрессивного развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.</div>
          </div>
        </div>
      </div>
      <div class="card_technologies__item"><img data-src="images/technology/technology11.svg" alt="A++" title="A++"/>
        <div class="card_technologies__info"><img data-src="images/technology/technology11.svg" alt="A++" title="A++"/>
          <div class="card_technologies__content">
            <div class="card_technologies__title">A++</div>
            <div class="card_technologies__text">Система NoFrost обеспечивает замораживание продуктов при помощи циркуляции охлажденного воздуха.</div>
          </div>
        </div>
      </div>
      <div class="card_technologies__item"><img data-src="images/technology/technology12.svg" alt="Bio Fresh Plus" title="Bio Fresh Plus"/>
        <div class="card_technologies__info"><img data-src="images/technology/technology12.svg" alt="Bio Fresh Plus" title="Bio Fresh Plus"/>
          <div class="card_technologies__content">
            <div class="card_technologies__title">Bio Fresh Plus</div>
            <div class="card_technologies__text">Система NoFrost обеспечивает замораживание продуктов при помощи циркуляции охлажденного воздуха. Вся лишняя влага выводится за пределы морозильной камеры, вследствие чего на продуктах не образовывается лед и иней. А необходимость ручного размораживания навсегда останется в прошлом.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>