doctype html
html
  include components/_head
  body
    noscript
      div
        strong Для полной функциональности этого сайта необходимо включить JavaScript. Вот
        a(href='https://support.google.com/adsense/answer/12654?hl=ru', target='_blank') инструкции,
        | как включить JavaScript в вашем браузере.
        link(rel='stylesheet', type='text/css', href='css/without-js.css')
    .wrapper.cart-page
      include components/_header
      .container
        main.main
          section.page__header
            .page__header-wrapper
              include components/_breadcrumbs
              +breadcrumbs('Главная', 'Корзина')
            .title.page__header-title
              | Корзина
          section.cart__main
            include templates/cart/_slider
            .cart__main-grid
              .cart__main-grid-title
                span.title Товар
                span.price Цена
                span.old-price Старая цена
                span.quantity Количество шт.
                span.total Всего
                span.last
              include components/_basket-item
              - var basketImg = ["5.jpg", "6.jpg", "7.jpg", "8.jpg", "9.jpg", "10.jpg", "11.jpg", "12.jpg"]
              - var basketItemTitle = ["Тренч Stimma Джеси 4153 S Пудра", "Тренч Stimma Джеси 4151 Xs Графитовый", "Куртка Stimma Кортика 3968 Xs Графитовый", "Куртка Stimma Карелия 4181 Xs Серебряный", "Женская куртка Stimma Веста 4799 L Шоколадный", "Женская куртка Stimma Веста 4800 Xs Черный", "Пуховик ПВ-849 (и/м) Лаке Тон 573", "Парка демисезонная с нашивками"]
              - var basketPrice= ["142 402", "297", "4579", "25 742", "142", "852", "226", "14 999"]
              - var basketClassItem= ["", "", "", "", "", "", "", ""]
              - var basketSize= ["42","45","34","38","44","46", "40","50"]
              - for (var z = 0; z < basketImg.length; z++)
                +basket-item(basketImg, basketItemTitle, basketPrice, basketClassItem, basketSize)
            include templates/cart/_aside
      include components/_footer
      include components/_popup
    include components/_footer-include
