doctype html
html
  include components/_head
  body
    noscript
      div
        strong Для полной функциональности этого сайта необходимо включить JavaScript. Вот
        a(href='https://support.google.com/adsense/answer/12654?hl=ru', target='_blank') инструкции,
        | как включить JavaScript в вашем браузере.
        link(rel='stylesheet', type='text/css', href='css/without-js.css')
    .wrapper.main-page
      include components/_header
      .container
        main.main
          include components/_basket-item
          - var basketImg = ["5.jpg", "6.jpg", "7.jpg", "8.jpg", "9.jpg", "10.jpg", "11.jpg", "12.jpg"]
          - var basketItemTitle = ["Тренч Stimma Джеси 4153 S Пудра", "Тренч Stimma Джеси 4151 Xs Графитовый", "Куртка Stimma Кортика 3968 Xs Графитовый", "Куртка Stimma Карелия 4181 Xs Серебряный", "Женская куртка Stimma Веста 4799 L Шоколадный", "Женская куртка Stimma Веста 4800 Xs Черный", "Пуховик ПВ-849 (и/м) Лаке Тон 573", "Парка демисезонная с нашивками"]
          - var basketPrice= ["142 402", "297", "4579", "25 742", "142", "852", "226", "14 999"]
          - var basketClassItem= ["", "", "", "", "", "", "", ""]
          - var basketSize= ["42","45","34","38","44","46", "40","50"]
          - for (var z = 0; z < basketImg.length; z++)
            +basket-item(basketImg, basketItemTitle, basketPrice, basketClassItem, basketSize)

          include components/_brands

          //.product-item__additional-wrapper
          //  - var basketImg = ["key1.jpeg", "key2.jpeg", "key3.jpeg", "key4.jpeg", "key5.jpeg"]
          //  - var basketItemTitle = ["PK RENAULT NE72 2кн", "CLA3G JMA", "PK MERCEDES BENZ 3КН ЧЕРНЫЙ ДО 1998Г С МЕХАНИЧЕСКИЙ КЛЮЧОМ", "PK RENAULT VAC102 3КН NO LOGO", "ВЫКИДНОЙ КЛЮЧ HYUNDAI I20,I30 3КН ID60(6F) 433MHZ RKE-4F04 С 2012Г"]
          //  - var basketPrice= ["142 402", "29 755", "45 794", "25 742", "142 699"]
          //  - var basketClassItem= ["basket-item_short basket-item_short-card", "basket-item_old-price basket-item_short basket-item_short-card", "basket-item_short basket-item_short-card", "basket-item_short basket-item_short-card", "basket-item_short basket-item_short-card"]
          //  - var basketPriceOld= ["", "31 785", "", "26 712", ""]
          //  - var basketVendor= ["45881257","557780","7x757","ВШГ202","4588QS"]
          //  - var basketCategory= ["Автоключи", "Автозамки", "Заготовки ключей", "Оборудование для изгот ключей", "Аварийное открытие замков"]
          //  - for (var z = 0; z < basketImg.length; z++)
          //    +basket-item(basketImg, basketItemTitle, basketPrice, basketPriceOld, basketClassItem, basketVendor, basketCategory)
      include components/_footer
      include components/_popup
    include components/_footer-include
