doctype html
html
    include components/_head
    body
        noscript
            div
                strong Для полной функциональности этого сайта необходимо включить JavaScript. Вот
                a(href='https://support.google.com/adsense/answer/12654?hl=ru', target='_blank') инструкции,
                | как включить JavaScript в вашем браузере.
                link(rel='stylesheet', type='text/css', href='css/without-js.css')
        .wrapper.error-page
            include components/_header
            .container
                main.main
                    section.error-wrapper
                        .container
                            .error__content
                                .error__image
                                    img(data-src="images/services/lock.svg" alt="imageTitleError" title="imageTitleError")
                                .error__text
                                    .title 404
                                    .subtitle Запрашиваемая страница не найдена
                                    p.
                                        Извините, но страница, которую вы ищете не найдена. Убедитесь, что вы ввели правильный URL
                                    include components/_button
                                    +button('Перейти на главную', 'a')(href="http://html.myapp.com.ua/vashkluch/index.html")

                            section
                                .stars
                                    ul.star-list
                                        li.star.active
                                            i.fa.fa-star
                                        li.star.active
                                            i.fa.fa-star
                                        li.star.active
                                            i.fa.fa-star
                                        li.star.active
                                            i.fa.fa-star
                                        li.star
                                            i.fa.fa-star

                                #full-stars-example-two
                                    .rating-group
                                        input#rating3-none.rating__input.rating__input--none(disabled='', checked='', name='rating3', value='0', type='radio')
                                        label.rating__label(aria-label='1 star', for='rating3-1')
                                            i.rating__icon.rating__icon--star.fa.fa-star
                                        input#rating3-1.rating__input(name='rating3', value='1', type='radio')
                                        label.rating__label(aria-label='2 stars', for='rating3-2')
                                            i.rating__icon.rating__icon--star.fa.fa-star
                                        input#rating3-2.rating__input(name='rating3', value='2', type='radio')
                                        label.rating__label(aria-label='3 stars', for='rating3-3')
                                            i.rating__icon.rating__icon--star.fa.fa-star
                                        input#rating3-3.rating__input(name='rating3', value='3', type='radio')
                                        label.rating__label(aria-label='4 stars', for='rating3-4')
                                            i.rating__icon.rating__icon--star.fa.fa-star
                                        input#rating3-4.rating__input(name='rating3', value='4', type='radio')
                                        label.rating__label(aria-label='5 stars', for='rating3-5')
                                            i.rating__icon.rating__icon--star.fa.fa-star
                                        input#rating3-5.rating__input(name='rating3', value='5', type='radio')

            include components/_footer
            include components/_popup
        include components/_footer-include
