doctype html
html
    include components/_head
    body
        noscript
            div
                strong Для полной функциональности этого сайта необходимо включить JavaScript. Вот
                a(href='https://support.google.com/adsense/answer/12654?hl=ru', target='_blank') инструкции,
                | как включить JavaScript в вашем браузере.
                link(rel='stylesheet', type='text/css', href='css/without-js.css')
        .wrapper.order-page
            include components/_header-order
            main.main
                section.order
                    .container
                        .order-wrapper
                            section.order_content
                                .order_content__title
                                    h2.title Оформление заказа
                                    .order_content__subtitle
                                        .block-title
                                            span.value 1
                                            h6.title Контактная информация
                                        span.client(data-target='log')
                                            .icon.icon-question-full
                                                span.hint Подсказка о том, что делать если вы - постоянный клиент
                                            span Я постоянный клиент
                                .order_content__form
                                    form.contacts(action='#').js_validate
                                        .input-container
                                            label.req(for="name") Имя
                                            input(type="text" name="name" id="name" required="required" data-validate="text"  data-error-wrong="Недопустимые символы" data-error-empty="Введите колличество символов (2-100)" data-minsign="2" data-maxsign="100").validate
                                            .delete
                                            .text-error Поле  не заполнено
                                        .input-container
                                            label.req(for="lastname") Фамилия
                                            input(type="text" name="lastname" id="lastname" required="required" data-validate="text"  data-error-wrong="Недопустимые символы" data-error-empty="Введите колличество символов (2-100)" data-minsign="2" data-maxsign="100").validate
                                            .delete
                                            .text-error Поле  не заполнено
                                        .input-container.input-phone
                                            label.req(for="phone") Ваш номер телефона
                                            input(type="tel" id="phone" required="required" data-validate="phone" data-error-wrong="Поле «Телефон» заполнено не верно" data-error-empty="Введите колличество символов(11)").validate
                                            .delete
                                            .text-error Поле  не заполнено
                                        .input-container
                                            label.req(for="email1") Email
                                            input(type="email" name="email" id="email1" required="required" data-validate="email" data-error-wrong="Поле «Email» заполнено не верно" data-error-empty="Поле «Email» не заполнено", data-error-min='Email: не менее 6 символов', data-error-max='Email: не более 30 символов').validate
                                            .delete
                                            .text-error Поле «Email» не заполнено
                                        +button('Далее', 'button')(class="js__steptwo")
                                a.order_content__title.block-title.disabled(href="http://html.myapp.com.ua/vashkluch/order-page2.html")
                                    span.value 2
                                    h6.title Доставка и оплата
                            include templates/order/_order-sidebar1

            include components/_footer-order
            include components/_popup
        include components/_footer-include

