
<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__head"><a href="/kariant/index.html" title="main" class="footer__logo"><img data-src="images/other/logo.svg" alt="kariant" title="kariant"/></a>
        <div class="footer__social">
          <ul class="social-list">
            <li class="social-item"><a href="https://www.facebook.com/" target="_blank" rel="nofollow">Facebook</a></li>
            <li class="social-item"><a href="https://www.instagram.com/" target="_blank" rel="nofollow">Instagram</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__body">
        <div class="footer__phone footer__list">
          <div class="title"><span>контакты</span></div>
          <div class="footer__phone-list"><a href="tel:+380675432355" rel="nofollow" class="footer__phone-link">+ 38 (067) 543 23 55</a><a href="tel:+380501622355" rel="nofollow" class="footer__phone-link">+ 38 (050) 162 23 55</a><a href="tel:+380930081987" rel="nofollow" class="footer__phone-link">+ 38 (093) 008 19 87</a></div>
          <div class="footer__email"><a href="mailto: post@gmail.com" rel="nofollow" class="footer__email-link">post@gmail.com</a></div>
        </div>
        <nav class="footer__list">
          <div class="title icon icon-arrRight"><span>Интернет-магазин</span></div>
          <ul>
            <li><a href="/kariant/catalog.html">Женщинам</a></li>
            <li><a href="/kariant/catalog.html">Мужчинам</a></li>
            <li><a href="/kariant/catalog.html">Распродажа</a></li>
            <li><a href="/kariant/catalog.html">Новинки</a></li>
          </ul>
        </nav>
        <nav class="footer__list">
          <div class="title icon icon-arrRight"><span>Покупателю</span></div>
          <ul>
            <li><a href="/kariant/#">Доставка и оплата</a></li>
            <li><a href="/kariant/#">Обмен и возврат</a></li>
            <li><a href="/kariant/#">Таблица размеров</a></li>
            <li><a href="/kariant/#">Гарантии</a></li>
            <li><a href="/kariant/#">Опт и дропшипинг</a></li>
          </ul>
        </nav>
        <nav class="footer__list">
          <div class="title icon icon-arrRight"><span>Компания</span></div>
          <ul>
            <li><a href="/kariant/#">О нас</a></li>
            <li><a href="/kariant/#">Производство</a></li>
            <li><a href="/kariant/#">Блог</a></li>
            <li><a href="/kariant/#">Новости</a></li>
            <li><a href="/kariant/#">Контакты</a></li>
          </ul>
        </nav><span class="footer__dates">© 2010-2020</span><a href="/kariant/#" class="footer__polotics">Политика конфиденциальности</a>
      </div>
    </div>
  </div>
</footer>