
<footer class="footer">
  <div class="container">
    <div class="card-gallery"></div>
    <div class="go-to-top"></div>
    <div class="footer__wrapper">
      <div class="footer__logo"><a href="#"><img data-src="images/logo-white.svg" alt="Liebherr" title="Liebherr"/>
          <div class="anim-wrapper">
            <svg width="22" height="25" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <defs>
                <lineargradient id="linear-gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                  <stop offset="1" stop-color="#E5E5E5">
                    <animate attributename="offset" values="1;1;1;1;1;0;0;0;0;0" dur="16s" begin="0s;grayEnd.end+8s;" id="gray" repeatCount="indefinite"></animate>
                  </stop>
                  <stop offset="0.5" stop-color="#4D60C4">
                    <animate attributename="offset" values="0.5;1;" dur="8s" begin="gray.end" id="blue" repeatCount="indefinite"></animate>
                  </stop>
                  <stop offset="0" stop-color="#FFCE45">
                    <animate attributename="offset" values="0;0.5;" dur="8s" begin="blue.end" id="yellow" repeatCount="indefinite"></animate>
                  </stop>
                </lineargradient>
              </defs>
              <path d="M5.016 12.176C7.032 12.176 8.952 10.592 8.952 7.792C8.952 4.96 7.016 3.376 5.016 3.376C3.656 3.376 2.776 4.08 2.152 4.96V0.32H0.216V12H2.152V10.688C2.744 11.472 3.624 12.176 5.016 12.176ZM4.568 10.496C3.256 10.496 2.104 9.424 2.104 7.792C2.104 6.144 3.256 5.056 4.568 5.056C5.88 5.056 6.984 6.128 6.984 7.76C6.984 9.456 5.896 10.496 4.568 10.496ZM13.9268 12.144C14.6467 12.144 15.1908 11.984 15.6708 11.712V10.128C15.2868 10.32 14.9028 10.416 14.4707 10.416C13.8147 10.416 13.4308 10.112 13.4308 9.36V5.216H15.7028V3.552H13.4308V1.232H11.4947V3.552H10.4227V5.216H11.4947V9.664C11.4947 11.52 12.5027 12.144 13.9268 12.144Z" fill="url(#linear-gradient)"></path>
            </svg>
          </div></a></div>
      <div class="footer__phone header__phone">
        <div class="header__phone-wrapper icon icon-phone js__phone-dropdown">
          <div class="header__phone-header icon icon-normal_arr"><a href="tel:044 257 65 99" class="header__phone-header-link">(044) 257 65 99</a></div>
          <ul style="display: none;" class="header__phone-dropdown">
            <li class="header__phone-item"><a href="tel:044 257 65 99" class="header__phone-link">(044) 257 65 99</a></li>
            <li class="header__phone-item"><a href="tel:044 257 65 99" class="header__phone-link">(044) 257 65 99</a></li>
            <li class="header__phone-item"><a href="tel:044 257 65 99" class="header__phone-link">(044) 257 65 99</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__social">
        <ul class="social-list">
          <li class="social-item"><a href="https://www.facebook.com/" target="_blank" rel="nofollow" class="icon-fb icon"></a></li>
          <li class="social-item"><a href="https://www.instagram.com/" target="_blank" rel="nofollow" class="icon-insta icon"></a></li>
          <li class="social-item"><a href="https://youtobe.com/" target="_blank" rel="nofollow" class="icon-youtube icon"></a></li>
        </ul>
      </div>
      <div class="footer__contact">
        <div class="footer__contact-title subtitle">График работы:</div>
        <div class="footer__contact-item"><span>Пн-Пт:</span><span>9:00 - 19:00</span></div>
        <div class="footer__contact-item"><span>Суббота:</span><span>10:00 - 17:00</span></div>
        <div class="footer__contact-item"><span>Воскресенье:</span><span>Выходной</span></div>
      </div>
      <div class="footer__content">
        <nav class="footer__content-nav">
          <ul class="footer__content-wrapper">
            <li class="footer__content-item"><span class="footer__content-title subtitle">Оборудование</span>
              <ul class="footer__content-list">
                <li class="footer__content-li"><a href="/l-ua/subcategory.html" class="footer__content-link">Холодильники, морозильные камеры</a></li>
                <li class="footer__content-li"><a href="/l-ua/subcategory.html" class="footer__content-link">Винные шкафы, хьюмидор</a></li>
                <li class="footer__content-li"><a href="/l-ua/subcategory.html" class="footer__content-link">Профессиональное оборудование</a></li>
              </ul>
            </li>
            <li class="footer__content-item"><span class="footer__content-title subtitle">Покупателю</span>
              <ul class="footer__content-list">
                <li class="footer__content-li"><a href="/l-ua/subcategory.html" class="footer__content-link">Холодильники, морозильные камеры</a></li>
                <li class="footer__content-li"><a href="/l-ua/subcategory.html" class="footer__content-link">Винные шкафы, хьюмидор</a></li>
                <li class="footer__content-li"><a href="/l-ua/subcategory.html" class="footer__content-link">Профессиональное оборудование</a></li>
              </ul>
            </li>
            <li class="footer__content-item"><span class="footer__content-title subtitle">О компании</span>
              <ul class="footer__content-list">
                <li class="footer__content-li"><a href="/l-ua/subcategory.html" class="footer__content-link">Холодильники, морозильные камеры</a></li>
                <li class="footer__content-li"><a href="/l-ua/subcategory.html" class="footer__content-link">Винные шкафы, хьюмидор</a></li>
                <li class="footer__content-li"><a href="/l-ua/subcategory.html" class="footer__content-link">Профессиональное оборудование</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__copyright">© 2019 Liebherr</div>
      <div class="footer__dev">
        <div class="text">Разработка и поддержка сайта -</div><a href="https://artjoker.ua/" target="_blank" rel="nofollow" class="icon icon-artj-logo"></a>
      </div>
      <div class="footer__adaptive"><span data-text="Показать полную версию сайта" data-hidden="Показать мобильную версию сайта">Показать полную версию сайта</span></div>
    </div>
  </div>
</footer>
<!--include _popup-->
<!-- popup SECTION-->
<div class="popup-overlay">
  <div data-target="popup-order" class="popup popup__order">
    <div class="popup-header">
      <div class="subtitle">Ваш заказ успешно оформлен!</div>
    </div>
    <div class="popup-content">
      <div class="content">В ближайшее время мы свяжемся с Вами</div>
    </div>
    <div class="close-btn icon icon-close"></div>
  </div>
  <div data-target="popup-cart" class="popup popup__cart">
    <div class="popup-header">
      <div class="subtitle">Спасибо!</div>
    </div>
    <div class="popup-content">
      <div class="content">Товар добавлен
        <button type="submit" class="btn btn-link" data-target="cart-in"><span>в корзину</span></button>
      </div>
    </div>
    <div class="close-btn icon icon-close"></div>
  </div>
  <div data-target="popup-favorite" class="popup popup__favorite">
    <div class="popup-header">
      <div class="subtitle">Спасибо!</div>
    </div>
    <div class="popup-content">
      <div class="content">Товар добавлен<a href="/l-ua/favorites.html" class="btn btn-link"><span>в избранное</span></a>
      </div>
    </div>
    <div class="close-btn icon icon-close"></div>
  </div>
  <div data-target="popup-comparison" class="popup popup__comparison">
    <div class="popup-header">
      <div class="subtitle">Спасибо!</div>
    </div>
    <div class="popup-content">
      <div class="content">Товар добавлен на<a href="/l-ua/compare-prod.html" class="btn btn-link"><span>страницу сравнения</span></a>
      </div>
    </div>
    <div class="close-btn icon icon-close"></div>
  </div>
  <div data-target="popup-product-delete" class="popup popup__product-delete">
    <div class="popup-header">
      <div class="subtitle">Удаление товара</div>
    </div>
    <div class="popup-content">
      <div class="content">Данный товар будет удален
        <div class="popup-buttons">
          <button type="submit" class="btn js__product-delete btn-transparent btn-small"><span>удалить</span></button>
          <button type="submit" class="btn js__product-delete-reset btn-small"><span>не удалять</span></button>
        </div>
      </div>
    </div>
  </div>
  <div data-target="popup-call" class="popup popup__call">
    <form class="popup-content js_validate">
      <div class="popup-header">
        <div class="subtitle">В ближайшее время мы Вам перезвоним</div>
      </div>
      <div class="input-container">
        <label for="name" class="req">Имя</label>
        <input type="text" name="name" id="name" required="required" data-validate="text" data-error-wrong="Недопустимые символы" data-error-empty="Введите колличество символов (2-100)" data-minsign="2" data-maxsign="100" class="validate"/>
        <div class="delete"></div>
        <div class="text-error">Поле  не заполнено</div>
      </div>
      <div class="input-container">
        <label for="phone" class="req">Телефон</label>
        <input type="tel" id="phone" required="required" data-validate="phone" data-error-wrong="Поле «Телефон» заполнено не верно" data-error-empty="Введите колличество символов(11)" class="validate"/>
        <div class="delete"></div>
        <div class="text-error">Поле  не заполнено</div>
      </div>
      <button type="submit" class="btn"><span>перезвоните мне</span></button>
    </form>
    <div class="close-btn icon icon-close"></div>
  </div>
  <div data-target="popup-call-mobile" class="popup popup__call-mobile">
    <form class="popup-content js_validate">
      <div class="popup-header"><a href="tel:044 257 65 99">(044) 257 65 99</a><a href="tel:044 257 65 99">(044) 257 65 99</a><a href="tel:044 257 65 99">(044) 257 65 99</a></div>
      <div class="popup-body">
        <div class="input-container">
          <label for="phone" class="req">Ваш телефон</label>
          <input type="tel" id="phone" required="required" data-validate="phone" data-error-wrong="Поле «Телефон» заполнено не верно" data-error-empty="Введите колличество символов(11)" class="validate"/>
          <div class="delete"></div>
          <div class="text-error">Поле  не заполнено</div>
        </div>
        <button type="submit" class="btn"><span>перезвоните мне</span></button>
      </div>
    </form>
    <div class="close-btn icon icon-close"></div>
  </div>
  <div data-target="popup-missing" class="popup popup__call">
    <form class="popup-content js_validate">
      <div class="popup-header">
        <div class="subtitle">В ближайшее время мы пришлём Вам уведомление о наличии</div>
      </div>
      <div class="popup-content">
        <div class="content">Пожалуйста, оставьте свой контактный<br/>e-mail.</div>
        <div class="content">Мы оповестим вас о наличии интересующего вас товара, как только данный товар поступит на склад.</div>
      </div>
      <div class="input-container">
        <label for="name2" class="req">Имя</label>
        <input type="text" name="name" id="name2" required="required" data-validate="text" data-error-wrong="Недопустимые символы" data-error-empty="Введите колличество символов (2-100)" data-minsign="2" data-maxsign="100" class="validate"/>
        <div class="delete"></div>
        <div class="text-error">Поле  не заполнено</div>
      </div>
      <div class="input-container">
        <label for="email" class="req">Email</label>
        <input type="email" name="email" id="email" required="required" data-validate="email" data-error-wrong="Поле «Email» заполнено не верно" data-error-empty="Поле «Email» не заполнено" data-error-min="Email: не менее 6 символов" data-error-max="Email: не более 30 символов" class="validate"/>
        <div class="delete"></div>
        <div class="text-error">Поле «Email» не заполнено</div>
      </div>
      <button type="submit" class="btn"><span>сообщите мне о наличии товара</span></button>
    </form>
    <div class="close-btn icon icon-close"></div>
  </div>
  <div data-target="popup-order" class="popup popup__call">
    <form class="popup-content js_validate">
      <div class="popup-header">
        <div class="subtitle">Ваш заказ оформлен.<br/>В ближайшее время мы Вам перезвоним</div>
      </div>
      <div class="input-container">
        <label for="phone2" class="req">Телефон</label>
        <input type="tel" id="phone2" required="required" data-validate="phone" data-error-wrong="Поле «Телефон» заполнено не верно" data-error-empty="Введите колличество символов(11)" class="validate"/>
        <div class="delete"></div>
        <div class="text-error">Поле  не заполнено</div>
      </div>
      <button type="submit" class="btn"><span>перезвоните мне</span></button>
    </form>
    <div class="close-btn icon icon-close"></div>
  </div>
  <div data-target="popup-mail" class="popup popup__mail">
    <div class="popup-header">
      <div class="subtitle">Спасибо!</div>
    </div>
    <div class="popup-content">
      <div class="content">Ваше сообщение отправлено успешно!</div>
    </div>
    <div class="close-btn icon icon-close"></div>
  </div>
  <div data-target="popup-cart-in" style="display: none;" class="popup popup__cart-in">
    <div class="popup-wrapper"></div>
    <div class="popup-header">
      <div class="subtitle">Сейчас в корзине</div>
    </div>
    <div class="popup-content">
      <div class="basket-wrap">
        <div class="basket-content"><a href="/l-ua/card.html" class="basket-item product-item basket-item_number-val basket-item_all-price">
            <div class="basket-item__wrapper">
              <div class="basket-item__img"><img src="images/catalog/image8.jpg" alt="Холодильник Liebherr CNP 4858" title="Холодильник Liebherr CNP 4858" class="image"/></div>
              <div class="basket-item__name">
                <h3 class="subtitle">Холодильник Liebherr CNP 4858</h3>
              </div>
              <div class="basket-item__color"><span class="title">Цвет:</span><span class="value"></span></div>
              <div class="basket-item__price product-item__price"><span class="value">25 335</span><span class="currency">грн</span></div>
              <div class="basket-item__old-price product-item__price product-item__price_old"><span class="value">26 375</span><span class="currency">грн</span></div>
              <div class="basket-item__quantity">
                <div class="input-number">
                  <div class="input-number_arrow prev"></div>
                  <input type="number" readonly="readonly" min="1" max="99" value="1" step="1" class="input-number_input"/>
                  <div class="input-number_arrow next"></div>
                </div>
              </div>
              <div class="basket-item__vendor-code"><span class="title">Артикул:</span><span class="value"></span></div>
              <div class="basket-item__all product-item__price"><span class="value">25 335</span><span class="currency">грн</span></div>
              <div data-target="product-delete" class="basket-item__remove">
                <div class="icon icon-delete"></div>
              </div>
            </div></a><a href="/l-ua/card.html" class="basket-item product-item basket-item_number-val basket-item_all-price basket-item_old-price">
            <div class="basket-item__wrapper">
              <div class="basket-item__img"><img src="images/catalog/image2.jpg" alt="Морозильная камера Liebherr G 1223" title="Морозильная камера Liebherr G 1223" class="image"/></div>
              <div class="basket-item__name">
                <h3 class="subtitle">Морозильная камера Liebherr G 1223</h3>
              </div>
              <div class="basket-item__color"><span class="title">Цвет:</span><span class="value"></span></div>
              <div class="basket-item__price product-item__price"><span class="value">224 880</span><span class="currency">грн</span></div>
              <div class="basket-item__old-price product-item__price product-item__price_old"><span class="value">228 180</span><span class="currency">грн</span></div>
              <div class="basket-item__quantity">
                <div class="input-number">
                  <div class="input-number_arrow prev"></div>
                  <input type="number" readonly="readonly" min="1" max="99" value="1" step="1" class="input-number_input"/>
                  <div class="input-number_arrow next"></div>
                </div>
              </div>
              <div class="basket-item__vendor-code"><span class="title">Артикул:</span><span class="value">14b23f</span></div>
              <div class="basket-item__all product-item__price"><span class="value">224 880</span><span class="currency">грн</span></div>
              <div data-target="product-delete" class="basket-item__remove">
                <div class="icon icon-delete"></div>
              </div>
            </div></a><a href="/l-ua/card.html" class="basket-item product-item basket-item_number-val basket-item_all-price">
            <div class="basket-item__wrapper">
              <div class="basket-item__img"><img src="images/catalog/image0.jpg" alt="Воздушный фильтр FreshAir" title="Воздушный фильтр FreshAir" class="image"/></div>
              <div class="basket-item__name">
                <h3 class="subtitle">Воздушный фильтр FreshAir</h3>
              </div>
              <div class="basket-item__color"><span class="title">Цвет:</span><span class="value"></span></div>
              <div class="basket-item__price product-item__price"><span class="value">226</span><span class="currency">грн</span></div>
              <div class="basket-item__old-price product-item__price product-item__price_old"><span class="value">234</span><span class="currency">грн</span></div>
              <div class="basket-item__quantity">
                <div class="input-number">
                  <div class="input-number_arrow prev"></div>
                  <input type="number" readonly="readonly" min="1" max="99" value="1" step="1" class="input-number_input"/>
                  <div class="input-number_arrow next"></div>
                </div>
              </div>
              <div class="basket-item__vendor-code"><span class="title">Артикул:</span><span class="value">GG-jdbn-31f</span></div>
              <div class="basket-item__all product-item__price"><span class="value">226</span><span class="currency">грн</span></div>
              <div data-target="product-delete" class="basket-item__remove">
                <div class="icon icon-delete"></div>
              </div>
            </div></a><a href="/l-ua/card.html" class="basket-item product-item basket-item_number-val basket-item_all-price basket-item_old-price">
            <div class="basket-item__wrapper">
              <div class="basket-item__img"><img src="images/catalog/image13.jpg" alt="Встраиваемый комплект холодильников Side by Side Liebherr ICUN 3324 + ICBN 3324" title="Встраиваемый комплект холодильников Side by Side Liebherr ICUN 3324 + ICBN 3324" class="image"/></div>
              <div class="basket-item__name">
                <h3 class="subtitle">Встраиваемый комплект холодильников Side by Side Liebherr ICUN 3324 + ICBN 3324</h3>
              </div>
              <div class="basket-item__color"><span class="title">Цвет:</span><span class="value">Ультрафиолет</span></div>
              <div class="basket-item__price product-item__price"><span class="value">234 870</span><span class="currency">грн</span></div>
              <div class="basket-item__old-price product-item__price product-item__price_old"><span class="value">255 270</span><span class="currency">грн</span></div>
              <div class="basket-item__quantity">
                <div class="input-number">
                  <div class="input-number_arrow prev"></div>
                  <input type="number" readonly="readonly" min="1" max="99" value="1" step="1" class="input-number_input"/>
                  <div class="input-number_arrow next"></div>
                </div>
              </div>
              <div class="basket-item__vendor-code"><span class="title">Артикул:</span><span class="value">15431f-hy</span></div>
              <div class="basket-item__all product-item__price"><span class="value">234 870</span><span class="currency">грн</span></div>
              <div data-target="product-delete" class="basket-item__remove">
                <div class="icon icon-delete"></div>
              </div>
            </div></a>
        </div>
        <div class="basket-sidebar">
          <div class="basket-sidebar__item"><span class="title">Стоимость</span><span class="value">25 044 010</span><span class="currency">грн</span></div>
          <div class="basket-sidebar__item"><span class="title">Скидка</span><span class="value">44 010</span><span class="currency">грн</span></div>
          <div class="basket-sidebar__item basket-sidebar__final"><span class="title">К оплате</span><span class="value">25 000 000</span><span class="currency">грн</span></div>
                  <button type="submit" class="btn btn_buy"><span>Оформить заказ</span></button><a href="/l-ua/catalog.html" class="btn btn-link btn-basket-more"><span>Продолжить покупки</span></a>
                  <button type="submit" class="btn btn-link btn-basket-edit" data-target="cart-in"><span>Редактировать заказ</span></button>
        </div>
      </div>
    </div>
    <div class="close-btn icon icon-close"></div>
  </div>
</div>
<!--include _popup-->