
<script type="text/javascript" src="js/lib.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNAljGFFDKq6W69dSVoW52nEhHtQ8nV78&amp;language=ru"></script>
<!--script(type='text/javascript', src='js/main.min.js')-->
<!--script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.js')-->
<!--script(type='text/javascript', src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js")-->
<script type="text/javascript" src="js/main.js"></script>