
<header class="header header_order">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo"><a href="/kariant/index.html" title="main"><img data-src="images/other/logo.svg" alt="kariant" title="kariant"/></a></div>
      <div class="header__info">
        <div class="header__schedule">Пн-Пт с 9:00 до 18:00</div>
        <div data-target="phone" class="header__phone icon icon-down"><span class="title">Консультация</span><span>+38 (067) 434 23 64</span></div>
      </div>
    </div>
  </div>
</header>