
<section class="preloader">
  <style>
    .preloader {
        position: fixed;
        z-index: 1000;
        width: 100%;
        height: 100vh;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #F1F1F1;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        transition: all .3s ease;
    }
    .preloader.hide {
        opacity: 0;
        transition: all .3s ease;
    }
    .preloader.none {
        display: none;
    }
    .sk-rotating-plane {
      width: 100px;
      height: 100px;
      margin: auto;
      background-color: #23364B;
      animation: sk-rotating-plane 1.2s infinite ease-in-out;
    }
    
    @keyframes sk-rotating-plane {
      0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      }
      50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      }
      100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      }
    }
    
    @media only screen and (max-width: 993px) {
        @keyframes sk-rotating-plane {
            0% {
                transform: perspective(80px) rotateX(0deg) rotateY(0deg);
            }
            50% {
                transform: perspective(80px) rotateX(-180.1deg) rotateY(0deg);
            }
            100% {
                transform: perspective(80px) rotateX(-180deg) rotateY(-179.9deg);
            }
        }
    }
  </style>
  <div class="sk-rotating-plane"></div>
</section>
<header class="header">
  <div class="header__line"></div>
  <div class="header__wrapper">
    <div class="header__catalog">
      <button type="submit" class="btn btn-small"><span>Каталог</span></button>
    </div>
    <div class="header__burger">
      <div class="burger"><span></span><span></span><span></span></div>
    </div>
    <div class="header__search-icon">
      <div class="icon-search icon"></div>
    </div>
    <nav class="header__main">
      <ul class="header__main-list">
        <li class="header__main-item"><a href="/l-ua/about.html" class="header__main-item-link header__main-link">О Liebherr</a></li>
        <li class="header__main-item"><a href="/l-ua/technology.html" class="header__main-item-link header__main-link">Технологии</a></li>
        <li class="header__main-item"><a href="/l-ua/content-page.html" class="header__main-item-link header__main-link">Гарантия</a></li>
        <li class="header__main-item"><a href="/l-ua/content-page.html" class="header__main-item-link header__main-link">Оплата</a></li>
        <li class="header__main-item"><a href="/l-ua/content-page.html" class="header__main-item-link header__main-link">Доставка</a></li>
        <li class="header__main-item"><a href="/l-ua/content-page2.html" class="header__main-item-link header__main-link">Обзоры</a></li>
        <li class="header__main-item"><a href="/l-ua/news.html" class="header__main-item-link header__main-link">Новости</a></li>
        <li class="header__main-item"><a href="/l-ua/FAQ.html" class="header__main-item-link header__main-link">Вопросы-ответы</a></li>
        <li class="header__main-item"><a href="/l-ua/partners.html" class="header__main-item-link header__main-link">Партнеры</a></li>
        <li class="header__main-item active"><a href="/l-ua/contacts.html" class="header__main-item-link header__main-link">Контакты</a></li>
      </ul>
    </nav>
    <div class="header__lang">
      <ul class="header__lang-list">
        <li class="header__lang-item"><a href="#" class="header__lang-item-link header__main-link">Укр</a></li>
        <li class="header__lang-item active"><a href="#" class="header__lang-item-link header__main-link">Рус</a></li>
      </ul>
    </div>
    <div class="header__logo"><a href="#"><img data-src="images/logo.svg" alt="Liebherr" title="Liebherr"/>
        <div class="anim-wrapper">
          <svg width="22" height="25" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <lineargradient id="linear-gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="1" stop-color="#E5E5E5">
                  <animate attributename="offset" values="1;1;1;1;1;0;0;0;0;0" dur="16s" begin="8s;grayEnd.end+8s;" id="gray" repeatCount="indefinite"></animate>
                </stop>
                <stop offset="0.5" stop-color="#4D60C4">
                  <animate attributename="offset" values="0.5;1;" dur="8s" begin="gray.end" id="blue" repeatCount="indefinite"></animate>
                </stop>
                <stop offset="0" stop-color="#FFCE45">
                  <animate attributename="offset" values="0;0.5;" dur="8s" begin="blue.end" id="yellow" repeatCount="indefinite"></animate>
                </stop>
              </lineargradient>
            </defs>
            <path d="M5.016 12.176C7.032 12.176 8.952 10.592 8.952 7.792C8.952 4.96 7.016 3.376 5.016 3.376C3.656 3.376 2.776 4.08 2.152 4.96V0.32H0.216V12H2.152V10.688C2.744 11.472 3.624 12.176 5.016 12.176ZM4.568 10.496C3.256 10.496 2.104 9.424 2.104 7.792C2.104 6.144 3.256 5.056 4.568 5.056C5.88 5.056 6.984 6.128 6.984 7.76C6.984 9.456 5.896 10.496 4.568 10.496ZM13.9268 12.144C14.6467 12.144 15.1908 11.984 15.6708 11.712V10.128C15.2868 10.32 14.9028 10.416 14.4707 10.416C13.8147 10.416 13.4308 10.112 13.4308 9.36V5.216H15.7028V3.552H13.4308V1.232H11.4947V3.552H10.4227V5.216H11.4947V9.664C11.4947 11.52 12.5027 12.144 13.9268 12.144Z" fill="url(#linear-gradient)"></path>
          </svg>
        </div></a></div>
    <div class="header__phone">
      <div class="header__phone-wrapper icon icon-phone js__phone-dropdown">
        <div class="header__phone-header icon icon-normal_arr"><a href="tel:044 257 65 99" class="header__phone-header-link">(044) 257 65 99</a></div>
        <ul style="display: none;" class="header__phone-dropdown">
          <li class="header__phone-item"><a href="tel:044 257 65 99" class="header__phone-link">(044) 257 65 99</a></li>
          <li class="header__phone-item"><a href="tel:044 257 65 99" class="header__phone-link">(044) 257 65 99</a></li>
          <li class="header__phone-item"><a href="tel:044 257 65 99" class="header__phone-link">(044) 257 65 99</a></li>
        </ul>
      </div>
    </div>
    <div class="header__call">
      <button type="submit" class="btn btn-link" data-target="call"><span>Перезвоните мне</span></button>
    </div>
    <div class="header__search">
      <form class="search js_validate">
        <div class="input-container">
          <input type="text" placeholder="Поиск..." name="search" required="required" data-validate="text" data-error-wrong="Недопустимые символы" data-error-empty="Введите колличество символов (2-100)" data-minsign="2" data-maxsign="100" class="search__input validate"/>
          <div class="delete"></div>
          <div class="text-error">Поле  не заполнено</div>
        </div>
              <button type="submit" class="btn icon-search icon btn-reset"><span></span></button>
      </form>
    </div><a href="/l-ua/favorites.html" class="header__favorite"><span class="text header__main-link">Избранное</span>
      <div class="icon icon-like label-link">
        <div class="value">1</div>
      </div></a><a href="/l-ua/compare-prod.html" class="header__comparison disabled btn btn-link"><span class="text header__main-link">Сравнение</span>
      <div class="icon icon-comparison label-link">
        <div class="value">1</div>
      </div></a><a href="#" data-target="cart-in" class="header__cart btn btn-link">
      <div class="icon icon-cart2 label-link active">
        <div class="value">1</div>
      </div></a>
    <nav class="header__menu">
      <ul class="header__menu-list header__menu-list-main"><span class="header__menu-list-main-header">
          <div class="icon icon-small-right"></div><span class="header__main-link">Каталог товаров</span></span>
        <li class="header__menu-item header__menu-item-main"><a href="/l-ua/subcategory.html" class="header__menu-item-link header__main-link">Холодильники, морозильные камеры</a>
          <ul class="header__menu-list header__menu-list-sub">
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image5.jpg" alt="Холодильники" title="Холодильники"/></div><span>Холодильники</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image1.jpg" alt="Встраиваемые холодильники" title="Встраиваемые холодильники"/></div><span>Встраиваемые холодильники</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image2.jpg" alt="Морозильные камеры" title="Морозильные камеры"/></div><span>Морозильные камеры</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image3.jpg" alt="Встраиваемые морозильные камеры" title="Встраиваемые морозильные камеры"/></div><span>Встраиваемые морозильные камеры</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image4.jpg" alt="Морозильные лари бытовые" title="Морозильные лари бытовые"/></div><span>Морозильные лари бытовые</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image0.jpg" alt="Аксессуары" title="Аксессуары"/></div><span>Аксессуары</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image6.jpg" alt="Морозильные лари бытовые" title="Морозильные лари бытовые"/></div><span>Морозильные лари бытовые</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image7.jpg" alt="Морозильные лари бытовые" title="Морозильные лари бытовые"/></div><span>Морозильные лари бытовые</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image8.jpg" alt="Категория в категории" title="Категория в категории"/></div><span>Категория в категории</span></a>
              <ul class="header__menu-list header__menu-list-sub">
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image5.jpg" alt="Холодильники" title="Холодильники"/></div><span>Холодильники</span></a></li>
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image1.jpg" alt="Встраиваемые холодильники" title="Встраиваемые холодильники"/></div><span>Встраиваемые холодильники</span></a></li>
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image2.jpg" alt="Морозильные камеры" title="Морозильные камеры"/></div><span>Морозильные камеры</span></a></li>
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image3.jpg" alt="Встраиваемые морозильные камеры" title="Встраиваемые морозильные камеры"/></div><span>Встраиваемые морозильные камеры</span></a></li>
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image4.jpg" alt="Морозильные лари бытовые" title="Морозильные лари бытовые"/></div><span>Морозильные лари бытовые</span></a></li>
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image0.jpg" alt="Аксессуары" title="Аксессуары"/></div><span>Аксессуары</span></a></li>
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image6.jpg" alt="Морозильные лари бытовые" title="Морозильные лари бытовые"/></div><span>Морозильные лари бытовые</span></a></li>
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image7.jpg" alt="Морозильные лари бытовые" title="Морозильные лари бытовые"/></div><span>Морозильные лари бытовые</span></a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="header__menu-item header__menu-item-main"><a href="/l-ua/subcategory.html" class="header__menu-item-link header__main-link">Винные шкафы, хьюмидор</a>
          <ul class="header__menu-list header__menu-list-sub">
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image5.jpg" alt="Холодильники" title="Холодильники"/></div><span>Холодильники</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image1.jpg" alt="Встраиваемые холодильники" title="Встраиваемые холодильники"/></div><span>Встраиваемые холодильники</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image2.jpg" alt="Морозильные камеры" title="Морозильные камеры"/></div><span>Морозильные камеры</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image3.jpg" alt="Встраиваемые морозильные камеры" title="Встраиваемые морозильные камеры"/></div><span>Встраиваемые морозильные камеры</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image4.jpg" alt="Морозильные лари бытовые" title="Морозильные лари бытовые"/></div><span>Морозильные лари бытовые</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image0.jpg" alt="Аксессуары" title="Аксессуары"/></div><span>Аксессуары</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image6.jpg" alt="Морозильные лари бытовые" title="Морозильные лари бытовые"/></div><span>Морозильные лари бытовые</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image7.jpg" alt="Морозильные лари бытовые" title="Морозильные лари бытовые"/></div><span>Морозильные лари бытовые</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image8.jpg" alt="Категория в категории" title="Категория в категории"/></div><span>Категория в категории</span></a>
              <ul class="header__menu-list header__menu-list-sub">
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image5.jpg" alt="Холодильники" title="Холодильники"/></div><span>Холодильники</span></a></li>
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image1.jpg" alt="Встраиваемые холодильники" title="Встраиваемые холодильники"/></div><span>Встраиваемые холодильники</span></a></li>
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image2.jpg" alt="Морозильные камеры" title="Морозильные камеры"/></div><span>Морозильные камеры</span></a></li>
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image3.jpg" alt="Встраиваемые морозильные камеры" title="Встраиваемые морозильные камеры"/></div><span>Встраиваемые морозильные камеры</span></a></li>
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image4.jpg" alt="Морозильные лари бытовые" title="Морозильные лари бытовые"/></div><span>Морозильные лари бытовые</span></a></li>
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image0.jpg" alt="Аксессуары" title="Аксессуары"/></div><span>Аксессуары</span></a></li>
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image6.jpg" alt="Морозильные лари бытовые" title="Морозильные лари бытовые"/></div><span>Морозильные лари бытовые</span></a></li>
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image7.jpg" alt="Морозильные лари бытовые" title="Морозильные лари бытовые"/></div><span>Морозильные лари бытовые</span></a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="header__menu-item header__menu-item-main"><a href="/l-ua/subcategory.html" class="header__menu-item-link header__main-link">Профессиональное оборудование</a>
          <ul class="header__menu-list header__menu-list-sub">
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image5.jpg" alt="Холодильники" title="Холодильники"/></div><span>Холодильники</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image1.jpg" alt="Встраиваемые холодильники" title="Встраиваемые холодильники"/></div><span>Встраиваемые холодильники</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image2.jpg" alt="Морозильные камеры" title="Морозильные камеры"/></div><span>Морозильные камеры</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image3.jpg" alt="Встраиваемые морозильные камеры" title="Встраиваемые морозильные камеры"/></div><span>Встраиваемые морозильные камеры</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image4.jpg" alt="Морозильные лари бытовые" title="Морозильные лари бытовые"/></div><span>Морозильные лари бытовые</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image0.jpg" alt="Аксессуары" title="Аксессуары"/></div><span>Аксессуары</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image6.jpg" alt="Морозильные лари бытовые" title="Морозильные лари бытовые"/></div><span>Морозильные лари бытовые</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image7.jpg" alt="Морозильные лари бытовые" title="Морозильные лари бытовые"/></div><span>Морозильные лари бытовые</span></a></li>
            <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                <div class="header__menu-item-sub-img"><img data-src="images/catalog/image8.jpg" alt="Категория в категории" title="Категория в категории"/></div><span>Категория в категории</span></a>
              <ul class="header__menu-list header__menu-list-sub">
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image5.jpg" alt="Холодильники" title="Холодильники"/></div><span>Холодильники</span></a></li>
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image1.jpg" alt="Встраиваемые холодильники" title="Встраиваемые холодильники"/></div><span>Встраиваемые холодильники</span></a></li>
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image2.jpg" alt="Морозильные камеры" title="Морозильные камеры"/></div><span>Морозильные камеры</span></a></li>
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image3.jpg" alt="Встраиваемые морозильные камеры" title="Встраиваемые морозильные камеры"/></div><span>Встраиваемые морозильные камеры</span></a></li>
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image4.jpg" alt="Морозильные лари бытовые" title="Морозильные лари бытовые"/></div><span>Морозильные лари бытовые</span></a></li>
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image0.jpg" alt="Аксессуары" title="Аксессуары"/></div><span>Аксессуары</span></a></li>
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image6.jpg" alt="Морозильные лари бытовые" title="Морозильные лари бытовые"/></div><span>Морозильные лари бытовые</span></a></li>
                <li class="header__menu-item header__menu-item-sub"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">
                    <div class="header__menu-item-sub-img"><img data-src="images/catalog/image7.jpg" alt="Морозильные лари бытовые" title="Морозильные лари бытовые"/></div><span>Морозильные лари бытовые</span></a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="header__menu-item header__menu-item-main header__menu-item-main_stock"><a href="/l-ua/stock.html" class="header__menu-item-sub-link header__main-link">Акции</a></li>
        <li class="header__menu-item header__menu-item-main header__menu-item-main_new"><a href="/l-ua/subcategory.html" class="header__menu-item-sub-link header__main-link">Новинки</a></li>
      </ul>
    </nav>
  </div>
</header>