
<div class="partners">
  <div class="partners__header">Партнёр</div>
  <ul class="partners__list">
    <li class="partners__li"><a href="#partners.html" target="_blank" class="partners__link"><img data-src="images/partners/logo1.svg" alt="Best" title="Best"/></a></li>
    <li class="partners__li"><a href="#partners.html" target="_blank" class="partners__link"><img data-src="images/partners/logo4.svg" alt="Denon" title="Denon"/></a></li>
    <li class="partners__li"><a href="#partners.html" target="_blank" class="partners__link"><img data-src="images/partners/logo3.svg" alt="Blanco" title="Blanco"/></a></li>
  </ul>
</div>