
<section class="preloader">
  <style>
    .preloader {
        position: fixed;
        z-index: 1000;
        width: 100%;
        height: 100vh;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #F1F1F1;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        transition: all .3s ease;
    }
    .preloader.hide {
        opacity: 0;
        transition: all .3s ease;
    }
    .preloader.none {
        display: none;
    }
    .sk-rotating-plane {
      width: 100px;
      height: 100px;
      margin: auto;
      background-color: #23364B;
      animation: sk-rotating-plane 1.2s infinite ease-in-out;
    }
    
    @keyframes sk-rotating-plane {
      0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      }
      50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      }
      100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      }
    }
    
    @media only screen and (max-width: 993px) {
        @keyframes sk-rotating-plane {
            0% {
                transform: perspective(80px) rotateX(0deg) rotateY(0deg);
            }
            50% {
                transform: perspective(80px) rotateX(-180.1deg) rotateY(0deg);
            }
            100% {
                transform: perspective(80px) rotateX(-180deg) rotateY(-179.9deg);
            }
        }
    }
  </style>
  <div class="sk-rotating-plane"></div>
</section>