
<form class="search js_validate">
  <div class="input-container">
    <input type="text" placeholder="Поиск..." name="search" required="required" data-validate="text" data-error-wrong="Недопустимые символы" data-error-empty="Введите колличество символов (2-100)" data-minsign="2" data-maxsign="100" class="search__input validate"/>
    <div class="delete"></div>
    <div class="text-error">Поле  не заполнено</div>
  </div>
  <button type="submit" class="btn icon-search icon btn-reset"><span></span></button>
</form>