
<section class="text-content">
  <div class="container">
    <div class="text-content__wrapper">
      <h3>SEO заголовок</h3>
      <div class="text-content__item">
        <p>Основанная в 1949 году Гансом Либхерром (Hans Liebherr) корпорация Liebherr на сегодняшний день занимает ведущие места на рынке производства холодильного оборудования, строительной техники, высокоточного технологического оборудования и авиационной промышленности.</p>
        <ul>
          <li><strong>Европейский тип</strong>(неширокие агрегаты выше 1,8 метра). Холодильный отсек обычно вмонтирован над морозильным.</li>
          <li><strong>Азиатский вариант</strong>средних размеров. Морозильная камера относительно маленькая и находится над холодильным отсеком.</li>
          <li><strong>Американский тип</strong>Отличается гораздо большими габаритами ширины и высоты, чем обычные модели.</li>
        </ul>
        <h3>Стандартными габаритами для таких моделей считаются:</h3>
        <ol>
          <li>высота от 170 сантиметров до 1,9 м;</li>
          <li>ширина до 1 метра;</li>
          <li>глубина от 60 до 80 сантиметров;</li>
          <li>объём может варьироваться в рамках от 350 до 800 литров. Холодильная камера бывает вместимостью до 520 литров, а морозильная - до 280.</li>
        </ol>
        <p>Модельный ряд холодильников и морозильников Liebherr для бытового и профессинального назначения насчитывает более 300 базовых моделей. Имя Liebherr - это символ качества в Европе и за ее пределами.</p>
      </div>
    </div>
  </div>
</section>