.main-banner {
  &__wrapper{
    background-color: $elements;
    padding: 78px 94px;
    align-items: stretch;
    justify-content: space-between;
    display: flex;
    margin-bottom: 90px;
  }
  &__img{
    position: relative;
    width: 39%;
    img{
      position: absolute;
      top: -90px;
      left: 29px;
      height: auto;
    }
  }
  &__text{
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.2px;
    width: 49%;
    color: $textDark;
    h2{
      margin-bottom: 12px;
    }
    p{
      margin-bottom: 36px;
    }
  }
}