.main-instagram {
  &__img{
    align-items: stretch;
    display: flex;
    margin: 0 -15px;
    padding: 0;
    li{
      opacity: 1;
      @include anim;
      width: calc(25% - 30px);
      margin: 0 15px;
      padding: 0;
      &:before{
        display: none;
      }
      a{
        height: 100%;
        width: 100%;
        &:after{
          display: none;
        }
        img{
          object-fit: cover;
        }
      }
      &:hover,
      &:active,
      &:focus{
        opacity: 0.4;
        @include anim;
      }
    }
  }
  &__header {
    margin-bottom: 28px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    &-title {
      span {
        margin-bottom: 12px;
        display: inline-block;
        font-size: 24px;
        letter-spacing: 1.6px;
        color: $accent;
        @include fb;
      }
      h2{
        margin-bottom: 0;
      }
    }
  }
}