.compare-category {
    &__block {
        position: relative;
        @include respond-to(sm) {
            margin-top: 20px;
        }
        &:after {
            position: absolute;
            display: block;
            width: 200px;
            height: 100%;
            top: 0;
            bottom: 0;
            right: -130px;
            background: linear-gradient(271.22deg, #FFFFFF 79.49%, rgba(255, 255, 255, 0) 99.19%);
            background-position: 100% 100%;
            content: "";
            @include respond-to(tablet-1030) {
                display: none;
            }
        }
    }
    &__item-card {
        width: 170px;
        max-width: 170px;
    }
    &__row {
        &-header {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            width: 100%;
            .basket-item_vertical {
                height: 100%;
                width: 170px;
                border-bottom: 0;
                border-right: 0;
            }
        }
        &-body {
        }
        &-tab {
            display: none;
            &.active {
                display: table-row;
            }
        }
    }
    &__table {
        width: 100%;
        max-width:100%;
        white-space:nowrap;
        display: block;
        background-color: $white;
        border-right: 1px solid $lines;
        &>tbody {
            display: grid;
            grid-auto-rows: minmax(10px, auto);
            width: 100%;
            max-width:100%;
            overflow-x:scroll;
            overflow-y:hidden;
            white-space:nowrap;
        }
        .characteristic {
            width: 300px;
            max-width: 300px;
            padding: 10px;
            font-size: 12px;
            line-height: 14px;
            @include fm;
            color: $text;
            @include respond-to(xs-690) {
                width: 240px;
            }
            .differences {
                display: none;
            }
            .all {
            }
        }
        &-header {

        }
        &-value {
            border-top: 1px solid $lines;
            @include anim;
            &:hover,
            &:active,
            &:focus {
                background-color: $grayBG;
                cursor: pointer;
                @include anim;
            }
            span {
                width: 100%;
                display: block;
                white-space: pre-line;
            }
            .value {
                width: 170px;
                max-width: 170px;
                padding: 10px;
                font-size: 12px;
                line-height: 14px;
                @include fr;
                color: $text;
                border-left: 1px solid $lines;
            }
        }
    }
    &__options {
        width: 300px;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        @include respond-to(xs-690) {
            width: 240px;
        }
        &-wrapper {
            width: 300px;
            max-width: 300px;
        }
        .btn {
            text-align: left;
            justify-content: flex-start;
        }
        .btn-back {
            margin-right: 0;
            &:before {
                order: 0;
                margin-left: 0;
            }
        }
    }
    &__tabs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;
            @include fr;
            @include anim;
            color: $textGray;
            padding: 10px;
            position: relative;
            @include respond-to(xs-690) {
                font-size: 10px;
                line-height: 12px;
            }
            &:after {
                content: "";
                position: absolute;
                height: 3px;
                width: 100%;
                background-color: $elements;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
                @include anim;
            }
            &.active {
                @include fm;
                @include anim;
                color: $text;
                &:after {
                    @include anim;
                    opacity: 1;
                }
            }
            &:hover,
            &:active,
            &:focus {
                cursor: pointer;
                @include anim;
                color: $text;
            }
        }
    }
}
