.stock-one {
  &-page {
    .page__header {
      margin: 0;
    }
  }
  &-wrapper {
    margin-bottom: 0;
  }
  &__container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    @include respond-to(md){
      flex-wrap: wrap;
    }
    .clear,
    .clear:before,
    .clear:after{
      content:"";
      display:block;
      clear:both;
    }
    img {
      &:first-child {
        width: calc(60% - 30px);
        margin-right: 30px;
        margin-bottom: 20px;
        max-width: calc(60% - 30px);
        display:block;
        height: auto;
        float: left;
        @include respond-to(md){
          width: 100%;
          max-width: 100%;
          margin-bottom: 15px;
        }
      }
    }
    h2 {
      font-size: 25px;
      line-height: 29px;
      margin-bottom: 20px;
      margin-top: 0;
      width: 100%;
    }
    article {
      max-width: 100%;
      p,
      pre,
      span,
      a {
        white-space: normal;
      }
      @include respond-to(md){
        width: 100%;
      }
    }
    p {
      width: 100%;
      color: $textGray;
      &:first-of-type {
        color: $text;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    strong {
      margin: 0 5px 0 0;
      display: inline-block;
      color: $text;
      text-transform: capitalize;
    }
    b {
      margin: 0 5px;
      font-size: 18px;
      line-height: 21px;
      color: $text;
    }
    ul {
      margin: 15px 0;
      li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 140%;
        @include respond-to(md){
          font-size: 14px;
          line-height: 120%;
        }
        &:before {
          content: "●";
          position: absolute;
          color: $text;
          left: 0;
          top: 0;
          background-color: unset;
        }
      }
    }
    ol {
      margin: 15px 0;
      padding-left: 40px;
    }
  }
  &__grid {
    margin-bottom: 0;
    .catalog__grid {
      grid-template-columns: repeat(4, 1fr);
      @include respond-to(tablet-1030){
        grid-template-columns: repeat(3, 1fr);
      }
      @include respond-to(md){
        grid-template-columns: repeat(2, 1fr);
      }
      @include respond-to(xs-690){
        grid-template-columns: repeat(1, 1fr);
      }
      &-wrapper {
        width: 100%;
      }
    }
    &-title {
      @include fb;
      text-align: center;
    }
  }
}
