//catalog main start
.catalog {
  margin-bottom: 0;
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    @include respond-to(tablet-1030){
      flex-wrap: wrap;
    }
  }
  &__filter {
    width: 25%;
    @include respond-to(lg-1200){
      width: 35%
    }
    @include respond-to(tablet-1030){
      width: 100%;
    }
    &+.catalog__grid-wrapper {
      width: calc(75% - 30px);
      @include respond-to(lg-1200){
        width: calc(65% - 30px);
      }
      @include respond-to(tablet-1030){
        width: 100%;
      }
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    @include respond-to(sm){
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond-to(xs){
      grid-template-columns: repeat(2, 50%);
    }
    @include respond-to(xs-370){
      grid-template-columns: repeat(1, 1fr);
    }
    &-wrapper {
      order: 2;
      width: 100%;
      @include respond-to(tablet-1030){
        width: 100%;
      }
    }
  }
  &-page {
    .select2-container--open {
      .select2-dropdown {
        margin-top: 15px;
        min-width: 100px;
      }
    }
    .select2-container--default {
      .select2-results__option {
        padding: 10px;
        font-size: 16px;
      }
    }
    .main {
      padding-bottom: 30px;
      @include respond-to(sm){
        padding-bottom: 10px;
      }
    }
  }
}

.subcategory {
  &-page {
    .main {
      padding-bottom: 30px;
      @include respond-to(sm){
        padding-bottom: 10px;
      }
    }
  }
}
//catalog main end