/*--------- font-face start ---------*/
@font-face {
  font-family: 'ProximaNova';
  src: url('../css/fonts/ProximaNova/proximanova-black/proximanova-black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../css/fonts/ProximaNova/proximanova-extrabold/proximanova-extrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../css/fonts/ProximaNova/proximanova-bold/proximanova-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../css/fonts/ProximaNova/proximanova-semibold/proximanova-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../css/fonts/ProximaNova/proximanova-regular/proximanova-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../css/fonts/ProximaNova/proximanova-light/proximanova-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
/*--------- font-face end ---------*/