$icon_font_name:"Icons";
@font-face {
	font-family:$icon_font_name;
	src: url('fonts/Icons.eot');
	src: url('fonts/Icons.eot?#iefix') format('eot'),
	url('fonts/Icons.woff') format('woff'),
	url('fonts/Icons.ttf') format('truetype'),
	url('fonts/Icons.svg#Icons') format('svg');
}
%icon-arrLeft,
%icon-arrRight,
%icon-bar,
%icon-cart-empty,
%icon-cart-full,
%icon-close,
%icon-down,
%icon-home,
%icon-left,
%icon-phone,
%icon-point,
%icon-right,
%icon-search,
%icon-up,
%icon-wishlist-empty,
%icon-wishlist-full,
%last_selector {
		&:before {
			font-family:$icon_font_name;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-style: normal;
			font-variant: normal;
			font-weight: normal;
			// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
			text-decoration: none;
			text-transform: none;
		}
	}

%icons_before_after {
	&:before,
	&:after {
		font-family: $icon_font_name;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

%icons_after {
	&:after {
		font-family: $icon_font_name;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

%icon-arrLeft:before {
	content:'\E001';
}
%icon-arrRight:before {
	content:'\E002';
}
%icon-bar:before {
	content:'\E003';
}
%icon-cart-empty:before {
	content:'\E004';
}
%icon-cart-full:before {
	content:'\E005';
}
%icon-close:before {
	content:'\E006';
}
%icon-down:before {
	content:'\E007';
}
%icon-home:before {
	content:'\E008';
}
%icon-left:before {
	content:'\E009';
}
%icon-phone:before {
	content:'\E00A';
}
%icon-point:before {
	content:'\E00B';
}
%icon-right:before {
	content:'\E00C';
}
%icon-search:before {
	content:'\E00D';
}
%icon-up:before {
	content:'\E00E';
}
%icon-wishlist-empty:before {
	content:'\E00F';
}
%icon-wishlist-full:before {
	content:'\E010';
}