.main-sale {
  text-align: center;
  .product-item {
    width: 25%;
    visibility: visible;
    opacity: 1;
    @include anim;
    @include respond-to(sm) {
      width: auto;
      max-width: 50%
    }
    @include respond-to(xs) {
      max-width: 100%
    }
    &.swiper-slide-prev {
      @include respond-to(sm) {
        visibility: hidden;
        opacity: 0;
        @include anim;
      }
    }
  }
  &__slider {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 60px;
    @include respond-to(sm) {
      margin-left: -6px;
      margin-right: -6px;
      overflow: visible;
      width: 75%;
      margin-bottom: 32px;
    }
    &+.btn {
      @include respond-to(sm) {
        background-color: transparent;
        padding: 0;
        color: $textDark;
      }
      &:before {
        @include respond-to(sm) {
          display: none;
        }
      }
      &:after {
        @include respond-to(sm) {
          display: block;
        }
      }
    }
  }
  &__controls {
    position: relative;
    @include respond-to(sm) {
      display: none;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .swiper {
    &-button {
      &-prev,
      &-next {
        position: static;
      }
    }
    &-arrows {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    &-container {
      &-horizontal {
        &> {
          .swiper-pagination-progressbar {
            width: 135%;
            display: none;
            margin-top: 24px;
            margin-bottom: 0;
            height: 2px;
            background-color: $gray3;
            @include respond-to(sm) {
              display: block;
            }
            span:before {
              display: none;
            }
            .swiper-pagination-progressbar-fill {
              --swiper-theme-color: #E3E2E2;
              --swiper-pagination-color: #CEB499;
            }
          }
        }
      }
    }
  }
}
