//search main start
.search-filters {
  &-empty-page {
    .catalog__grid-wrapper {
      width: 100%;
    }
    .catalog__grid {
      display: block;
    }
  }
  &-full-page {
    .footer {
      margin-top: 30px;
    }
  }
}
//search main end