//order-sidebar start
.order_sidebar {
  width: 400px;
  flex-grow: 0;
  border: 1px solid $lines;
  border-top: 6px solid $elements;
  margin-bottom: 0;
  margin-left: 1px;
  margin-right: 1px;
  @include respond-to(md) {
    width: 100%;
  }
  .basket {
    &-content {
      overflow-y: auto;
      max-height: 366px;
    }
    &-item {
      @include respond-to(md) {
        max-width: 100%;
      }
      &__all {
        @include respond-to(md) {
          justify-content: center;
        }
      }
      &__old-price {
        @include respond-to(md) {
          justify-content: flex-start;
        }
      }
    }
    &-sidebar {
      .btn-basket-more {
        display: none;
      }
      .btn-basket-edit {
        margin: 0 auto;
      }
      .btn_buy {
        width: 100%;
      }
    }
  }
}
//order-sidebar end