
<section class="stock-one__container">
  <article class="clear"><img data-src="images/stock/image1.jpg"/>
    <h2>Название акции, возможно, длинное на две строки</h2>
    <p>
      Специализированный фирменный интернет-магазин LIEBHERR Украина предлагает Вам купить морозильные камеры и холодильники, официально поставляемые в Украину и по максимально доступной цене. В продаже имеются бытовые двухкамерные и однокамерные, встраиваемые и отдельностоящие, компактные и Side-By-Side холодильники Либхер, а также морозильные лари (для использования в коммерческих целях). Кроме того, в ассортименте интернет-магазина присутствует новинка - шкаф для хранения сигар (Хьюмидор).
      Холодильники Liebherr и прочую морозильную технику производят 3 завода в Европе: в Германии (г. Оксенхаузен), в Австрии (г. Лиенц) и в Болгарии (г. Марица). Одинаковых моделей, собранных на разных заводах, не существует, в связи с тем, что каждый завод производит строго определенный ассортимент продукции и имеет четкую специализацию. Независимо от места производства - вся техника производится с соблюдением высочайших стандартов качества.
      На весь товар, представленный на сайте, распространяется официальная всеукраинская гарантия в течение 3-х лет! Обслуживание техники производится в ЛЮБОМ сертифицированном сервисном центре на территории Украины. Купив холодильник в фирменном официальном интернет-магазине Liebherr, Вы застрахованы от приобритения "серой" (ввезенной нелегально) лишенной гарантии техники.
      Холодильное оборудование, купленное на нашем сайте, бесплатно доставляется по всей Украине, а по Киеву, Одессе, Харькову, Днепропетровску и Львову мы доставим товары до Ваших дверей собственной курьерской службой. По остальным городам доставку осуществляют компании-грузоперевозчики - как по предоплате так и с оплатой при получении. Список городов, где работают наши курьеры постоянно расширяется - уточните актуальную информацию у менеджеров.
    </p>
    <ul>
      <li><strong>Европейский тип</strong>(неширокие агрегаты выше 1,8 метра). Холодильный отсек обычно вмонтирован над морозильным.</li>
      <li><strong>Азиатский вариант</strong>средних размеров. Морозильная камера относительно маленькая и находится над холодильным отсеком.</li>
      <li><strong>Американский тип</strong>Отличается гораздо большими габаритами ширины и высоты, чем обычные модели.</li>
    </ul>
    <p>
      Не следует, однако забывать, что рамки и место обучения кадров позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Задача организации, в особенности же укрепление и развитие структуры позволяет выполнять важные задания по разработке систем массового участия. Идейные соображения высшего порядка, а также укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие
      в формировании позиций, занимаемых участниками в отношении поставленных задач.
    </p>
    <p>
      Уважаемые покупатели!
      Рады сообщить Вам о проведении акции "Мой LIEBHERR и мой CONTIGO"
    </p>
    <h3>Стандартными габаритами для таких моделей считаются:
      <ol>
        <li>высота от 170 сантиметров до 1,9 м;</li>
        <li>ширина до 1 метра;</li>
        <li>глубина от 60 до 80 сантиметров;</li>
        <li>объём может варьироваться в рамках от 350 до 800 литров. Холодильная камера бывает вместимостью до 520 литров, а морозильная - до 280.</li>
      </ol>
    </h3>
    <p><strong>Суть акции:</strong>при покупке холодильников Liebherr  -   термокружка CONTIGO  от всемирно известного американского производителя в подарок*.</p>
    <p><strong>Период акции:</strong>с 16.01.17 до полной распродажи рекламных позиций</p>
    <p><strong>До конца акции:</strong><b>30</b>дней</p>
  </article>
</section>