
<div class="basket-wrap">
  <div class="basket-content"><a href="/l-ua/card.html" class="basket-item product-item basket-item_number-val">
        <div class="basket-item__wrapper">
          <div class="basket-item__img"><img src="images/catalog/image8.jpg" alt="Холодильник Liebherr CNP 4858" title="Холодильник Liebherr CNP 4858" class="image"/></div>
          <div class="basket-item__name">
            <h3 class="subtitle">Холодильник Liebherr CNP 4858</h3>
          </div>
          <div class="basket-item__color"><span class="title">Цвет:</span><span class="value"></span></div>
          <div class="basket-item__price product-item__price"><span class="value">25 335</span><span class="currency">грн</span></div>
          <div class="basket-item__old-price product-item__price product-item__price_old"><span class="value">26 375</span><span class="currency">грн</span></div>
          <div class="basket-item__quantity">
              <div class="input-number">
                <div class="input-number_arrow prev"></div>
                <input type="number" readonly="readonly" min="1" max="99" value="1" step="1" class="input-number_input"/>
                <div class="input-number_arrow next"></div>
              </div>
          </div>
          <div class="basket-item__vendor-code"><span class="title">Артикул:</span><span class="value"></span></div>
          <div class="basket-item__all product-item__price"><span class="value">25 335</span><span class="currency">грн</span></div>
          <div data-target="product-delete" class="basket-item__remove">
            <div class="icon icon-delete"></div>
          </div>
        </div></a><a href="/l-ua/card.html" class="basket-item product-item basket-item_number-val basket-item_old-price">
        <div class="basket-item__wrapper">
          <div class="basket-item__img"><img src="images/catalog/image2.jpg" alt="Морозильная камера Liebherr G 1223" title="Морозильная камера Liebherr G 1223" class="image"/></div>
          <div class="basket-item__name">
            <h3 class="subtitle">Морозильная камера Liebherr G 1223</h3>
          </div>
          <div class="basket-item__color"><span class="title">Цвет:</span><span class="value"></span></div>
          <div class="basket-item__price product-item__price"><span class="value">224 880</span><span class="currency">грн</span></div>
          <div class="basket-item__old-price product-item__price product-item__price_old"><span class="value">228 180</span><span class="currency">грн</span></div>
          <div class="basket-item__quantity">
              <div class="input-number">
                <div class="input-number_arrow prev"></div>
                <input type="number" readonly="readonly" min="1" max="99" value="1" step="1" class="input-number_input"/>
                <div class="input-number_arrow next"></div>
              </div>
          </div>
          <div class="basket-item__vendor-code"><span class="title">Артикул:</span><span class="value">14b23f</span></div>
          <div class="basket-item__all product-item__price"><span class="value">224 880</span><span class="currency">грн</span></div>
          <div data-target="product-delete" class="basket-item__remove">
            <div class="icon icon-delete"></div>
          </div>
        </div></a><a href="/l-ua/card.html" class="basket-item product-item basket-item_number-val">
        <div class="basket-item__wrapper">
          <div class="basket-item__img"><img src="images/catalog/image0.jpg" alt="Воздушный фильтр FreshAir" title="Воздушный фильтр FreshAir" class="image"/></div>
          <div class="basket-item__name">
            <h3 class="subtitle">Воздушный фильтр FreshAir</h3>
          </div>
          <div class="basket-item__color"><span class="title">Цвет:</span><span class="value"></span></div>
          <div class="basket-item__price product-item__price"><span class="value">226</span><span class="currency">грн</span></div>
          <div class="basket-item__old-price product-item__price product-item__price_old"><span class="value">234</span><span class="currency">грн</span></div>
          <div class="basket-item__quantity">
              <div class="input-number">
                <div class="input-number_arrow prev"></div>
                <input type="number" readonly="readonly" min="1" max="99" value="1" step="1" class="input-number_input"/>
                <div class="input-number_arrow next"></div>
              </div>
          </div>
          <div class="basket-item__vendor-code"><span class="title">Артикул:</span><span class="value">GG-jdbn-31f</span></div>
          <div class="basket-item__all product-item__price"><span class="value">226</span><span class="currency">грн</span></div>
          <div data-target="product-delete" class="basket-item__remove">
            <div class="icon icon-delete"></div>
          </div>
        </div></a><a href="/l-ua/card.html" class="basket-item product-item basket-item_number-val basket-item_old-price">
        <div class="basket-item__wrapper">
          <div class="basket-item__img"><img src="images/catalog/image13.jpg" alt="Встраиваемый комплект холодильников Side by Side Liebherr ICUN 3324 + ICBN 3324" title="Встраиваемый комплект холодильников Side by Side Liebherr ICUN 3324 + ICBN 3324" class="image"/></div>
          <div class="basket-item__name">
            <h3 class="subtitle">Встраиваемый комплект холодильников Side by Side Liebherr ICUN 3324 + ICBN 3324</h3>
          </div>
          <div class="basket-item__color"><span class="title">Цвет:</span><span class="value">Ультрафиолет</span></div>
          <div class="basket-item__price product-item__price"><span class="value">234 870</span><span class="currency">грн</span></div>
          <div class="basket-item__old-price product-item__price product-item__price_old"><span class="value">255 270</span><span class="currency">грн</span></div>
          <div class="basket-item__quantity">
              <div class="input-number">
                <div class="input-number_arrow prev"></div>
                <input type="number" readonly="readonly" min="1" max="99" value="1" step="1" class="input-number_input"/>
                <div class="input-number_arrow next"></div>
              </div>
          </div>
          <div class="basket-item__vendor-code"><span class="title">Артикул:</span><span class="value">15431f-hy</span></div>
          <div class="basket-item__all product-item__price"><span class="value">234 870</span><span class="currency">грн</span></div>
          <div data-target="product-delete" class="basket-item__remove">
            <div class="icon icon-delete"></div>
          </div>
        </div></a>
  </div>
  <div class="basket-sidebar">
    <div class="basket-sidebar__item"><span class="title">Стоимость</span><span class="value">25 044 010</span><span class="currency">грн</span></div>
    <div class="basket-sidebar__item"><span class="title">Скидка</span><span class="value">44 010</span><span class="currency">грн</span></div>
    <div class="basket-sidebar__item basket-sidebar__final"><span class="title">К оплате</span><span class="value">25 000 000</span><span class="currency">грн</span></div>
      <button type="submit" class="btn btn_buy"><span>Оформить заказ</span></button><a href="/l-ua/catalog.html" class="btn btn-link btn-basket-more"><span>Продолжить покупки</span></a>
      <button type="submit" class="btn btn-link btn-basket-edit" data-target="cart-in"><span>Редактировать заказ</span></button>
  </div>
</div>