.technology {
  &-wrapper {
    @include respond-to(sm) {
      margin: 0;
    }
  }
  &__icons {
    border: 1px solid $lines;
    padding: 30px;
    margin-bottom: 30px;
    &-title {
      @include fr;
      font-size: 14px;
      line-height: 19px;
    }
    .card_technologies__grid {
      justify-content: space-between;
      grid-gap: 8px;
    }
  }
  &__description {
    &-item {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 70%;
      text-align: left;
      @include respond-to(sm) {
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 15px;
      }
      &:last-child {
        margin-bottom: 30px;
        @include respond-to(sm) {
          margin-bottom: 0px;
        }
      }
      &-img {
        width: calc(30% - 30px);
        margin-right: 30px;
        @include respond-to(sm) {
          width: 100%;
          margin-right: 0px;
        }
        img {
          width: 100%;
        }
      }
      &-content {
        width: 70%;
        text-align: left;
        @include respond-to(sm) {
          width: 90%;
          margin: 0 auto;
        }
        h4 {
          margin: 10px 0;
        }
      }
      @include respond-to(sm) {
        width: 100%;
      }
    }
  }
}
