//card-sidebar main start

.card {
  &-sidebar {
    width: 100%;
    border: 1px solid $lines;
    background-color: $white;
    z-index: 50;
    ul,
    ol {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
        &:before {
          display: none;
        }
      }
    }
    .product-item__label {
      z-index: 10;
    }
    &__wrapper {
      position: relative;
    }
    &__nav {
      padding: 10px 0;
      &-link {
        padding: 10px 20px;
        text-transform: uppercase;
        text-decoration: none;
        color: $text;
        font-size: 12px;
        line-height: 14px;
        background-color: $white;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include anim;
        @include fm;
        &:hover,
        &.active {
          background-color: $grayBG;
          color: $text;
          @include anim;
        }
      }
    }
    &__instruction {
      padding: 10px 20px;
      display: inline-flex;
      align-items: flex-end;
      justify-content: flex-start;
      flex-grow: 0;
      a {
        color: $text;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &:hover,
        &:focus,
        &:active {
          color: $action;
          @include anim;
        }
      }
      .icon-pdf {
        margin-left: 10px;
        width: 15px;
        height: 15px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../../../images/content-icons/pdf.svg);
      }
    }
    &__additional {
      margin-bottom: 20px;
      width: 100%;
      flex-basis: 100%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
      .product-item__buttons-add {
        @include respond-to(sm-767) {
          display: none;
        }
      }
    }
    @include respond-to(sm-767) {
      margin-bottom: 0;
      border-bottom: none;
    }
  }
  &__image {
    &_slider {
      &-big {
        border-bottom: 1px solid $lines;
        &-slide {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 458px;
          max-width: 100%;
          padding: 20px 0;
          .product-image {
            max-height: 100%;
            max-width: 100%;
            img {
              object-fit: cover;
            }
          }
          &.card-info__image_video {
            &:after {
              width: 60px;
              height: 60px;
              font-size: 15px;
            }
          }
        }
      }
      &-small {
        border-bottom: 1px solid $lines;
        &-slide {
          display: flex !important;
          align-items: center;
          justify-content: center;
          height: 70px;
          padding: 5px;
          border-right: 1px solid $lines;
          img {
            max-height: 100%;
            max-width: 100%;
          }
          &:first-child {
            border-left: 1px solid $lines;
          }
        }
        .slick {
          &-arrow {
            height: 70px;
          }
        }
      }
    }
  }
}

.zoomContainer,
.zoomLens,
.zoomWindowContainer {
  z-index: 100;
}

.zoomWindowContainer > div {
  //background-position: 50% 50% !important;
}

//card-sidebar main end