.card-sidebar {
  margin-bottom: 80px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @include respond-to(lg-1200) {
      flex-wrap: wrap;
    }
  }
  &__image {
    width: 586px;
    margin-right: 115px;
    @include respond-to(lg-1250) {
      margin-right: 0px;
    }
    @include respond-to(lg-1200) {
      width: 100%;
      margin-right: 0;
    }
    a {
      &:after {
        display: none;
      }
    }
    &_loupe {
      display: none;
      align-items: flex-start;
      justify-content: space-between;
      height: 100%;
      &.active {
        display: flex;
      }
    }
    &_slider-small {
      height: 100%;
    }
  }
  .slick-slide {
    outline: none !important;
    @include anim;
    &:hover,
    &:active,
    &:focus {
      outline: 0;
      outline: none !important;
      border: 1px solid $accent;
    }
  }
}
