//card description start
.card {
  &_description {
    .subtitle {
      margin-bottom: 20px;
      text-align: center;
      @include fb;
    }
    &__content {
      max-height: 150px;
      overflow: hidden;
      @include anim;
      p {
        font-size: 14px;
        line-height: 19px;
        color: $textGray;
        @include fr;
      }
    }
    &__button {
      border: 1px solid $lines;
      border-top: 0px solid transparent;
      background-color: $grayBG;
      padding: 10px 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      line-height: 19px;
      color: $elements;
      @include fr;
      @include anim;
      &:hover,
      &:active,
      &:focus {
        cursor: pointer;
        @include anim;
        color: $action;
      }
    }
    &.active {
      @include anim;
      .card_description__content {
        max-height: 100%;
        @include anim;
      }
    }
  }
}
//card description end