.card {
  &-page {
    .page__header,
    .header,
    .card-info {
      background-color: $white;
    }
  }
  &__image {
    &_loupe {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &_slider {
      &-small {
        width: 86px;
        margin-right: 50px;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        .slick-arrow,
        .slick-arrow .icon {
          height: auto;
          position: static;
          background-color: transparent;
        }
        .slick-arrow {
          height: 20px;
          margin: 10px auto 0;
        }
        .slick-list,
        .slick-track,
        .slick-slide {
          width: 100% !important;
        }
        .slick-track {
          height: 667px !important;
        }
        .slick-list {
          overflow: hidden;
          height: calc(100% - 127px) !important
        }
        .slick-slide {
          margin-bottom: 20px;
          border: 1px solid $gray2;
          height: 130px;
          @include anim;
          img {
            object-fit: cover;
          }
          &.slick-current {
            border: 1px solid $accent;
            @include anim;
          }
        }
        .slick-next {
          .icon {
            color: $textDark;
            transform: translate(-50%, -50%) rotate(90deg);
          }
        }
        .icon {
          font-size: 18px;
          color: $gray3;
        }
      }
      &-main {
        width: 450px;
        height: 667px;
        position: relative;
        z-index: 0;
        @include respond-to(lg-1200) {
          width: calc(100% - 136px);
        }
        .slick-list {
          height: auto !important;
        }
        .slick-track {
          display: flex;
          align-items: stretch;
        }
      }
      &-status {
        padding: 20px;
        position: absolute;
        z-index: 5;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .product-item__label,
        .product-item__favorite {
          position: static;
        }
      }
      &-big {
        height: 100%;
        background-color: $white;
        overflow: hidden;
        a {
          z-index: 1 !important;
          display: inline-block;
        }
        &-slide {
          background-color: $white;
          height: 100%;
          img {
            object-fit: cover;
          }
        }
      }
    }
  }
}