
<aside class="catalog__filter open">
  <div class="auto-fix-sidebar catalog__filter-wrapper">
    <div class="catalog__filter_item open main-item">
      <div class="catalog__filter_item_title main_title">
        <div class="filter-subtitle">Подбор по параметрам<span class="grey">(<span class="number">64</span>)</span></div>
        <div class="plus icon icon-arr"></div>
      </div>
      <div class="catalog__filter_reset-wrapper">
        <div class="apply">
          <button type="submit" class="btn btn-small"><span>Применить</span>
          </button>
        </div>
        <div class="reset">
          <button type="submit" class="btn catalog__filter_reset catalog__filter_reset-main btn-link icon icon-close"><span>Сбросить все</span>
          </button>
          <button type="submit" class="btn catalog__filter_reset btn-link icon icon-close"><span>Опция фильтра 1</span>
          </button>
          <button type="submit" class="btn catalog__filter_reset btn-link icon icon-close"><span>Опция фильтра 2</span>
          </button>
          <button type="submit" class="btn catalog__filter_reset btn-link icon icon-close"><span>Опция фильтра 3</span>
          </button>
        </div>
      </div>
      <div class="catalog__filter_item open">
        <div class="catalog__filter_item_title filter-title">
          <div class="filter-subtitle"><span>Категории</span></div>
          <div class="plus icon icon-up"></div>
        </div>
        <ul class="catalog__filter_item_category catalog__filter_item_content">
          <li class="active"><a href="#">Зимние куртки</a>
            <ul>
              <li class="active"><a href="#">Парки</a></li>
              <li><a href="#">Длинные куртки</a></li>
              <li><a href="#">Зимние куртки Plus Size</a></li>
              <li><a href="#">Длинные куртки</a></li>
              <li><a href="#">Короткие куртки</a></li>
              <li><a href="#">Пуховики-одеяла</a></li>
              <li><a href="#">Бомберы</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="catalog__filter_item open">
        <div class="catalog__filter_item_title filter-title">
          <div class="filter-subtitle"><span>Размер</span><span class="reset">Сбросить</span></div>
          <div class="plus icon icon-up"></div>
        </div>
        <div class="catalog__filter_item_content">
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox"/>
              <div class="checkbox"></div>
              <label>40<span class="grey">(<span class="number">578</span>)</span></label><a href="#link-for-seo" class="hide"></a>
            </div>
          </div>
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox"/>
              <div class="checkbox"></div>
              <label>42<span class="grey">(<span class="number">178</span>)</span></label><a href="#link-for-seo" class="hide"></a>
            </div>
          </div>
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox"/>
              <div class="checkbox"></div>
              <label>44<span class="grey">(<span class="number">64</span>)</span></label><a href="#link-for-seo" class="hide"></a>
            </div>
          </div>
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox"/>
              <div class="checkbox"></div>
              <label>46<span class="grey">(<span class="number">64</span>)</span></label><a href="#link-for-seo" class="hide"></a>
            </div>
          </div>
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox"/>
              <div class="checkbox"></div>
              <label>48<span class="grey">(<span class="number">64</span>)</span></label><a href="#link-for-seo" class="hide"></a>
            </div>
          </div>
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox"/>
              <div class="checkbox"></div>
              <label>50<span class="grey">(<span class="number">59</span>)</span></label><a href="#link-for-seo" class="hide"></a>
            </div>
          </div>
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox"/>
              <div class="checkbox"></div>
              <label>50<span class="grey">(<span class="number">59</span>)</span></label><a href="#link-for-seo" class="hide"></a>
            </div>
          </div>
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox"/>
              <div class="checkbox"></div>
              <label>52<span class="grey">(<span class="number">59</span>)</span></label><a href="#link-for-seo" class="hide"></a>
            </div>
          </div>
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox"/>
              <div class="checkbox"></div>
              <label>54<span class="grey">(<span class="number">59</span>)</span></label><a href="#link-for-seo" class="hide"></a>
            </div>
          </div>
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox"/>
              <div class="checkbox"></div>
              <label>56<span class="grey">(<span class="number">59</span>)</span></label><a href="#link-for-seo" class="hide"></a>
            </div>
          </div>
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox"/>
              <div class="checkbox"></div>
              <label>58<span class="grey">(<span class="number">59</span>)</span></label><a href="#link-for-seo" class="hide"></a>
            </div>
          </div>
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox"/>
              <div class="checkbox"></div>
              <label>60<span class="grey">(<span class="number">59</span>)</span></label><a href="#link-for-seo" class="hide"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="catalog__filter_item open">
        <div class="catalog__filter_item_title filter-title">
          <div class="filter-subtitle"><span>Цвет</span><span class="reset">Сбросить</span></div>
          <div class="plus icon icon-up"></div>
        </div>
        <div class="catalog__filter_item_content color">
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox" id="black-color"/>
              <div style="background-image: url(images/colors/black.jpg)" class="checkbox"></div>
            </div>
            <label for="black-color">Чёрный<span class="grey">(<span class="number">64</span>)</span></label><a href="#link-for-seo" class="hide"></a>
          </div>
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox" id="white-color"/>
              <div style="background-image: url(images/colors/white.jpg)" class="checkbox"></div>
            </div>
            <label for="white-color">Белый<span class="grey">(<span class="number">64</span>)</span></label><a href="#link-for-seo" class="hide"></a>
          </div>
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox" id="space-gray-color"/>
              <div style="background-image: url(images/colors/space-gray.jpg)" class="checkbox"></div>
            </div>
            <label for="space-gray-color">Хром<span class="grey">(<span class="number">64</span>)</span></label><a href="#link-for-seo" class="hide"></a>
          </div>
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox" id="blue-color"/>
              <div style="background-image: url(images/colors/blue.jpg)" class="checkbox"></div>
            </div>
            <label for="blue-color">Голубой<span class="grey">(<span class="number">64</span>)</span></label><a href="#link-for-seo" class="hide"></a>
          </div>
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox" id="green-color"/>
              <div style="background-image: url(images/colors/green.jpg)" class="checkbox"></div>
            </div>
            <label for="green-color">Зеленый<span class="grey">(<span class="number">64</span>)</span></label><a href="#link-for-seo" class="hide"></a>
          </div>
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox" id="indigo-color"/>
              <div style="background-image: url(images/colors/indigo.jpg)" class="checkbox"></div>
            </div>
            <label for="indigo-color">Индиго<span class="grey">(<span class="number">64</span>)</span></label><a href="#link-for-seo" class="hide"></a>
          </div>
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox" id="pink-color"/>
              <div style="background-image: url(images/colors/pink.jpg)" class="checkbox"></div>
            </div>
            <label for="pink-color">Розовый<span class="grey">(<span class="number">64</span>)</span></label><a href="#link-for-seo" class="hide"></a>
          </div>
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox" id="red-color"/>
              <div style="background-image: url(images/colors/red.jpg)" class="checkbox"></div>
            </div>
            <label for="red-color">Красный<span class="grey">(<span class="number">64</span>)</span></label><a href="#link-for-seo" class="hide"></a>
          </div>
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox" id="violet-color"/>
              <div style="background-image: url(images/colors/violet.jpg)" class="checkbox"></div>
            </div>
            <label for="violet-color">Фиолетовый<span class="grey">(<span class="number">64</span>)</span></label><a href="#link-for-seo" class="hide"></a>
          </div>
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox" id="yellow-color"/>
              <div style="background-image: url(images/colors/yellow.jpg)" class="checkbox"></div>
            </div>
            <label for="yellow-color">Желтый<span class="grey">(<span class="number">64</span>)</span></label><a href="#link-for-seo" class="hide"></a>
          </div>
        </div>
      </div>
      <div class="catalog__filter_item open">
        <div class="catalog__filter_item_title filter-title">
          <div class="filter-subtitle"><span>Стиль</span><span class="reset">Сбросить</span></div>
          <div class="plus icon icon-up"></div>
        </div>
        <div class="catalog__filter_item_content">
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox"/>
              <div class="checkbox"></div>
              <label>Casual<span class="grey">(<span class="number">452</span>)</span></label><a href="#link-for-seo" class="hide"></a>
            </div>
          </div>
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox"/>
              <div class="checkbox"></div>
              <label>Повседневный<span class="grey">(<span class="number">1486</span>)</span></label><a href="#link-for-seo" class="hide"></a>
            </div>
          </div>
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox"/>
              <div class="checkbox"></div>
              <label>Классика<span class="grey">(<span class="number">134</span>)</span></label><a href="#link-for-seo" class="hide"></a>
            </div>
          </div>
          <div class="catalog__filter_item_checkbox">
            <div class="catalog__filter_item_input">
              <input type="checkbox"/>
              <div class="checkbox"></div>
              <label>Вечер<span class="grey">(<span class="number">134</span>)</span></label><a href="#link-for-seo" class="hide"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="catalog__filter_item open">
        <div class="catalog__filter_item_title filter-title">
          <div class="filter-subtitle"><span>Цена, грн</span></div>
        </div>
        <div class="catalog__filter_item_content">
          <div class="range">
            <div class="range-wrapper">
              <div class="catalog__filter_item_range_input">
                <input type="text" data-value="0" value="0" readonly="readonly" class="catalog__filter_item_range_from"/>
              </div>
              <div class="catalog__filter_item_range_input">
                <input type="text" data-value="100" value="100" readonly="readonly" class="catalog__filter_item_range_to"/>
              </div>
            </div>
          </div>
          <div data-from="0" data-to="100" class="catalog__filter_item_range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
            <div class="ui-slider-range ui-corner-all ui-widget-header"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>